<template>
<div>
    <b-dropdown split text="Actions" class="m-2">
        <b-dropdown-item @click="duplicate">Duplicate</b-dropdown-item>
        <b-dropdown-item @click="confirmMessage">Delete</b-dropdown-item>
    </b-dropdown>

    <!-- duplicate Model -->
    <b-modal v-model="show" title="Duplicate this equipment" :hide-footer="hideFooter">
        <b-form @submit="onSubmit" v-if="show">
            <b-container class="bv-example-row">
                <b-row>
                    <b-col>
                        <b-form-group label="SKU-Code:" label-for="input-1">
                            <b-form-input id="input-1" v-model="editedData.skuCode" required placeholder="sku-code"></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>

                <b-row>
                    <b-col>
                        <b-form-group label="Model No:" label-for="input-2">
                            <b-form-input id="input-2" v-model="editedData.modelNo" required placeholder="model no"></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
            </b-container>
            <div class="d-flex justify-content-end mt-30">
                <b-button class="ml-2" type="submit" variant="primary">Duplicate</b-button>
                <b-button class="ml-2" type="reset" variant="danger" @click="show = false">Close</b-button>
            </div>
        </b-form>
    </b-modal>

    <!-- add ratting keys -->
    <b-modal v-model="show1" title="Add Ratting Keys" :hide-footer="hideFooter">
        <b-form @submit="onSubmitKey" v-if="show1">
            <b-container class="bv-example-row">

                <b-row v-for="(formData, index) in rattingKeys" :key="index">
                    <b-col>
                        <b-form-group label="Key type:" :label-for="'input-'+index">
                            <b-form-input v-model="formData.key" :id="'input-'+index" placeholder="add +"></b-form-input>
                        </b-form-group>
                    </b-col>
                        <a @click="closeInput(index)" class="mt-4" title="Add more">
                            <i class="i-Close-Window text-30 text-danger"></i>
                        </a>
                </b-row>
                <b-row class="d-flex justify-content-end mr-1 mt-2">
                    <span>
                        <a @click="addMore" title="Add more">
                            <i class="i-Add text-30 text-danger"></i>
                        </a>
                    </span>
                </b-row>
            </b-container>
            <div class="d-flex justify-content-end mt-30">
                <b-button class="ml-2" type="submit" variant="primary">Save</b-button>
                <b-button class="ml-2" type="reset" variant="danger" @click="show1 = false">Close</b-button>
            </div>
        </b-form>
    </b-modal>

</div>
</template>

<script>
import httpDuplicate from '../../../http/equipment/basicInfo'
import httpRattings from '../../../http/rattings/ratings'
export default {
    props: ['basicInfo'],
    data() {
        return {
            hideFooter: true,
            show: false,
            show1: false,
            editedData: {
                skuCode: '',
                modelNo: ''
            },
        }
    },
    methods: {
        duplicate() {
            this.show = true
        },
        closeInput(index){
            this.rattingKeys.splice(index, 1)
        },
        // confirm-message-alert
        async confirmMessage() {
            this.$swal({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then(result => {
                if (result.value) {
                    httpDuplicate.deleteBasicInfo(this.$route.query._id).then(res => {
                        this.$swal("Deleted!", res.data.message, "success");
                        this.$router.back();
                    }).catch(error => {
                        this.$swal("Error!", error.data.message);
                    })
                }
            });
        },
        async onSubmit() {
            await httpDuplicate.duplicateEquipment(this.editedData, this.$route.query._id).then(res => {
                if (res) {
                    if (res.data.status == 'success') {
                        this.$swal({
                            position: "top-end",
                            type: "success",
                            title: res.data.message,
                            showConfirmButton: false,
                            timer: 1500
                        });
                        this.$router.push({
                            path: `/app/dashboards/dashboard.v5?_id=${res.data.result._id}`
                        });
                        location.reload()
                    } else {
                        this.$swal({
                            type: "error",
                            title: "Oops...",
                            text: res.data.message,
                            footer: "<a href>Why do I have this issue?</a>"
                        });
                    }
                }
            }).catch(err => {
                this.$swal({
                    type: "error",
                    title: "Oops...",
                    text: err.message,
                    footer: "<a href>Why do I have this issue?</a>"
                });
            })
        }
    }
}
</script>
