<template>
<div>
    <b-button @click="openMl" id="cost-and-warranty" variant="outline-primary">ADD FAQs</b-button>

    <b-modal v-model="show" title="FAQs Master" :hide-footer="hideFooter">
        <b-form @submit="onSubmit" v-if="show">
            <b-container fluid>
                <b-row>
                    <b-col>
                        <b-form-group label="Question:" label-for="input-1">
                            <b-form-input required id="input-1" v-model="editedData.Question" placeholder="Type question..."></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col>
                        <b-form-group label="Answer:" label-for="input-2">
                            <b-form-textarea required id="input-2" v-model="editedData.Answer" placeholder="Type answer..."></b-form-textarea>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col>
                        <b-form-group label="Tags" label-for="input-3">
                            <vue-tags-input v-model="tag" :tags="editedData.tags" class="tag-custom text-15 mt-2" @tags-changed="newTags => (editedData.tags = newTags)" placeholder="+ add" />
                        </b-form-group>
                    </b-col>
                </b-row>
            </b-container>
            <div class="d-flex justify-content-end mt-30">
                <b-button class="ml-2" type="submit" variant="primary">Save</b-button>
                <b-button class="ml-2" type="reset" variant="danger" @click="show = false">Close</b-button>
            </div>
        </b-form>
    </b-modal>
</div>
</template>

<script>
import httpFaqs from '../../../http/faqs/FAQs'
export default {
    data() {
        return {
            hideFooter: true,
            tag: "",
            show: false,
            editedData: {
                Question: '',
                Answer: '',
                tags: []
            },
        }
    },
    methods: {
        openMl() {
            this.show = true
            this.editedData.Question = ''
            this.editedData.Answer = ''
            this.editedData.tags = []
        },
        async onSubmit(evt) {
            await httpFaqs.newFaqs(this.editedData).then(res => {
                if (res) {
                    if (res.data.status == 'error') {
                        this.$swal({
                            type: "error",
                            title: "Oops...",
                            text: res.data.message,
                            footer: "<a href>Why do I have this issue?</a>"
                        });
                    } else {
                        this.show = false
                        this.$root.$emit('fetchFaqs')
                        this.$swal({
                            position: "top-end",
                            type: "success",
                            title: "Your work has been saved",
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                } else {
                    this.$swal({
                        type: "error",
                        title: "Oops...",
                        text: 'Something Went Wrong',
                        footer: "<a href>Why do I have this issue?</a>"
                    });
                }
            }).catch(err => {
                this.$swal({
                    type: "error",
                    title: "Oops...",
                    text: err.message,
                    footer: "<a href>Why do I have this issue?</a>"
                });
            })
        },
    }
}
</script>
