<template>
<div>
    <b-button @click="openMl" variant="outline-primary">Add</b-button>
    <b-modal v-model="show" title="Add On Options" :hide-footer="hideFooter">
        <b-form @submit="onSubmit" v-if="show">
            <b-container fluid>
                <b-row>
                    <b-col>
                        <b-form-group label="Name:" label-for="input-1">
                            <b-form-input id="input-1" v-model="editedData.name" placeholder="Name" required></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col>
                        <b-form-group label="Cost:" label-for="input-2">
                            <b-form-input type="number" v-model="editedData.cost" id="input-2" placeholder="Cost" required></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col>
                        <b-form-group id="input-group-1" label="Description" label-for="input-3">
                            <b-form-textarea id="textarea" v-model="editedData.description" placeholder="Enter something..." rows="3" max-rows="6"></b-form-textarea>
                        </b-form-group>
                    </b-col>
                </b-row>
            </b-container>
            <div class="d-flex justify-content-end mt-30">
                <b-button class="ml-2" type="submit" variant="primary">Save</b-button>
                <b-button class="ml-2" type="reset" variant="danger" @click="show = false">Close</b-button>
            </div>
        </b-form>
    </b-modal>
</div>
</template>

<script>
import httpAddOnOptions from '../../../http/equipment/addOnOptions'
export default {
    data() {
        return {
            hideFooter: true,
            show: false,
            editedData: {
                name: '',
                cost: '',
                description: '',
            }
        }
    },
    methods: {
        openMl() {
            this.show = true
        },
        async onSubmit() {
            const data = {
                addOnOptions: [this.editedData]
            }
            await httpAddOnOptions.insertPost(data, this.$route.query._id).then(res => {
                if (res) {
                    if (res.data.status == 'success') {
                        this.show = false
                        this.$swal({
                            position: "top-end",
                            type: "success",
                            title: "Your work has been saved",
                            showConfirmButton: false,
                            timer: 1500
                        });
                        location.reload()
                    }
                } else {
                    this.$swal({
                        type: "error",
                        title: "Oops...",
                        text: 'Something Went Wrong',
                        footer: "<a href>Why do I have this issue?</a>"
                    });
                }
            })
        }
    }
}
</script>
