<template>
<div>
    <b-button @click="openMl" variant="outline-primary">Add</b-button>
    <b-modal v-model="show" title="Add Hospitals" :hide-footer="hideFooter">
        <b-container fluid style="height: 50vh; overflow: scroll;">
            <b-row>
                <b-col>
                    <h3 class="mb-3">Add those hospitals who are using this equipment</h3>
                    <span>Filter Hospitals</span>
                    <b-form-select class="mt-1" @change="selectedItem" v-model="itemSelected" :options="options"></b-form-select>
                    <b-form-checkbox-group id="flavors" v-model="selected" name="flavors" class="ml-4 mt-3" aria-label="hospitals" stacked>
                        <b-form-checkbox v-for="(d, index) in hospitals" :value="d._id" :key="index">
                            {{d.name}}
                        </b-form-checkbox>
                    </b-form-checkbox-group>
                </b-col>
            </b-row>

        </b-container>
        <div class="d-flex justify-content-end mt-30">
            <div v-if="loading" class="ml-3 mt-3">
                <div class="spinner sm spinner-primary"></div>
            </div>
            <b-button class="ml-2" type="submit" variant="primary" @click="save" :disabled="show1">
                Save
            </b-button>
            <b-button class="ml-2" type="reset" variant="danger" @click="show = false">Close</b-button>
        </div>
    </b-modal>
</div>
</template>

<script>
import httpHospital from '../../../http/hospital/hospital_master'
import httpProHospital from '../../../http/equipment/prominentHospital'
export default {
    data() {
        return {
            itemSelected: [],
            selected: [],
            hospitals: [],
            hideFooter: true,
            show: false,
            show1: false,
            loading: false,
            options: [{
                value: 'prominent',
                text: 'Prominent'
            }, {
                value: 'all',
                text: 'All'
            }]
        }
    },
    created() {
        this.selectedItem()
    },
    methods: {
        openMl() {
            this.show = true
        },
        async selectedItem() {
            if (this.itemSelected == 'all') {
                await httpHospital.getHospitalDetails().then(res => {
                    if (res) {
                        if (res.data.status == 'success') {
                            this.hospitals = res.data.result
                        }
                    }
                })
            } else if (this.itemSelected == 'prominent') {
                await httpHospital.getProminentHospital().then(res => {
                    if (res) {
                        if (res.data.status == 'success') {
                            this.hospitals = res.data.result
                        }
                    }
                })
            } else {
                await httpHospital.getHospitalDetails().then(res => {
                    if (res) {
                        if (res.data.status == 'success') {
                            this.hospitals = res.data.result
                        }
                    }
                })
            }
        },
        async save() {
            this.show1 = true
            this.loading = true
            const data = {
                prominentHospitals: this.selected
            }
            await httpProHospital.insertPost(data, this.$route.query._id).then(res => {
                if (res) {
                    if (res.data.status == 'success') {
                        this.show = false
                        this.show1 = false
                        this.loading = false
                        this.$swal({
                            position: "top-end",
                            type: "success",
                            title: "Your work has been saved",
                            showConfirmButton: false,
                            timer: 1500
                        });
                        location.reload()
                    }
                } else {
                    this.show1 = false
                    this.loading = false
                    this.$swal({
                        type: "error",
                        title: "Oops...",
                        text: 'Something Went Wrong',
                        footer: "<a href>Why do I have this issue?</a>"
                    });
                }
            })
        }
    }
}
</script>
