<template>
<div>
    <b-button @click="openMl" variant="outline-primary">Add Review</b-button>
    <b-modal v-model="show" title="Add Rattings" :hide-footer="hideFooter">
        <b-form @submit="onSubmit" v-if="show">
            <b-container fluid>
                <b-row>
                    <b-col>
                        <b-form-group label="Reviewed By:" label-for="input-25">
                            <b-form-input id="input-25" v-model="editedData.reviewedBy" placeholder="review by" required></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>

                <b-row v-for="(formData, index) in editedData.ratting" :key="index">
                    <b-col>
                        <b-form-group :label="formData.key+ 'Rate 1-5:'" :label-for="'input-'+index">
                            <b-form-input type="number" v-model="formData.val" step="0.1" max="5" :id="'input-'+index" placeholder="add +" required></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>

                <b-row>
                    <b-col>
                        <b-form-group id="input-group-1" label="Description" label-for="input-5">
                            <b-form-textarea id="textarea" v-model="editedData.description" placeholder="Enter something..." rows="3" max-rows="6" required></b-form-textarea>
                        </b-form-group>
                    </b-col>
                </b-row>
            </b-container>
            <div class="d-flex justify-content-end mt-30">
                <b-button class="ml-2" type="submit" variant="primary">Save</b-button>
                <b-button class="ml-2" type="reset" variant="danger" @click="show = false">Close</b-button>
            </div>
        </b-form>
    </b-modal>
</div>
</template>

<script>
import httpRatting from '../../../http/rattings/ratings'
import httpKeys from '../../../http/rattings/ratings'
export default {
    props: ['basicInfo'],
    data() {
        return {
            hideFooter: true,
            show: false,
            editedData: {
                reviewedBy: '',
                ratting: [],
                description: ''

            }
        }
    },
    methods: {
        async openMl() {
            if (this.basicInfo) {
                await httpKeys.getEquipmentDetailsByName(this.basicInfo.basicInfo.equipment).then(res => {
                    if (res) {
                        if (res.data.result.ratingKeys.length) {
                            this.editedData.ratting = []
                            this.show = true
                            const keys = res.data.result.ratingKeys
                            keys.map(value=>{
                                this.editedData.ratting.push({
                                    key: value.text,
                                    val: ''
                                })
                            })
                        } else {
                            alert('please add rating keys first')
                        }
                    }
                })
            }
        },
        async onSubmit() {
            const data = {
                rattings: [this.editedData]
            }
            await httpRatting.insertPost(data, this.$route.query._id).then(res => {
                if (res) {
                    if (res.data.status) {
                        this.show = false
                        this.$swal({
                            position: "top-end",
                            type: "success",
                            title: "Your work has been saved",
                            showConfirmButton: false,
                            timer: 1500
                        });
                        location.reload()
                    }
                }
            })

        }
    }
}
</script>
