<template>
<div>
    <b-button @click="showOption" variant="outline-primary">{{Button}}</b-button>
    <b-modal v-model="show" title="Add Varient" :hide-footer="hideFooter">
        <div v-show="display" class="d-flex flex-column">
            <b-row v-for="(formData, index) in editedData" :key="index">
                <b-col lg="4" xl="4">
                    <b-form-group label="Option Type:" :label-for="'input-'+index">
                        <b-form-input v-model="formData.key" :id="'input-'+index" placeholder="type"></b-form-input>
                    </b-form-group>
                </b-col>
                <b-col lg="6" xl="6">
                    <b-form-group label="Option Value:" :label-for="'input1-'+index">
                        <vue-tags-input v-model="formData.tag" :tags="formData.value" class="tag-custom text-15" @tags-changed="newTags => (formData.value = newTags)" placeholder="+ add" />
                    </b-form-group>
                </b-col>
                <b-col class="mt-4">
                    <a @click="deleteRow(index)" style="cursor: pointer;"><i class="i-Close-Window text-25 text-danger"></i></a>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <div class="d-flex justify-content-end">
                        <b-button class="mt-3 mr-3" v-show="display" variant="outline-primary" @click="addAnotherOption">Add Another Option</b-button>
                        <b-button class="mt-3" v-show="display" variant="outline-primary" @click="makeVarient">combine values</b-button>
                    </div>
                </b-col>
            </b-row>
        </div>
        <div class="mt-5" v-if="varientData.length">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            Varient
                            <span v-for="(d, index) in editedData" :key="index" :value="index">{{d.key}}/</span>
                        </th>
                        <th scope="col">Price</th>
                        <th scope="col">SKU</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(d, index) in varientData" :key="index" :value="index">
                        <th scope="row">{{d.key}}</th>
                        <td>
                            <b-form-input v-model="d.price" :placeholder="d.price" :value="d.price"></b-form-input>
                        <td>
                            <b-form-input v-model="d.sku" :placeholder="d.sku" :value="d.sku"></b-form-input>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-end mt-30">
                <b-button class="ml-2" type="submit" variant="primary" @click="save">Save</b-button>
                <b-button class="ml-2" type="reset" variant="danger" @click="show = false">Close</b-button>
            </div>
        </div>
    </b-modal>
</div>
</template>

<script>
import httpVarient from '../../../http/equipment/addVarients'
export default {
    props: ['basicInfo'],
    data() {
        return {
            Button: 'Add Varient',
            hideFooter: true,
            show: false,
            display: false,
            arrays: [],
            editedData: [],
            varientData: []
        }
    },
    watch: {
        basicInfo: {
            deep: true,
            handler(newVal, oldVal) {
                if (newVal) {
                    if (newVal.varientsOptions.length) {
                        this.Button = 'Update Varient'
                        this.editedData = newVal.varientsOptions,
                        this.varientData = newVal.varientsCombinations   
                    }
                }
            },
        }
    },
    methods: {
        async save() {
            const data = {
                varientsOptions: this.editedData
            }
            const data1 = {
                varientsCombinations: this.varientData
            }
            await httpVarient.insertPost(data, this.$route.query._id).then(res => {
                if (res) {
                    httpVarient.insertPostUrl1(data1, this.$route.query._id).then(response => {
                        if (response) {
                             if (response.data.status == 'success') {
                                this.show = false
                                this.$swal({
                                    position: "top-end",
                                    type: "success",
                                    title: "Your work has been saved",
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                                location.reload()
                            }
                        }
                    })
                }
            })
        },
        cancle() {
            this.display = false,
                this.editedData = []
            this.varientData = []
        },
        showOption() {
            if (this.basicInfo) {
                if (this.basicInfo.varientsOptions.length) {
                    this.show = true
                    this.display = true
                } else {
                    this.show = true
                    this.display = true
                    this.editedData = []
                    this.editedData.push({
                        key: '',
                        value: []
                    })
                }
            }
        },
        deleteRow(index) {
            this.editedData.splice(index, 1)
            if (!this.editedData.length) {
                this.display = true
            }
        },
        addAnotherOption() {
            this.display = true
            this.editedData.push({
                tag: '',
                key: '',
                value: []
            })
        },
        makeVarient() {
            this.arrays = []
            this.editedData.map(value => {
                const arrayOfValue = []
                value.value.map(val => {
                    arrayOfValue.push(val.text)
                })
                this.arrays.push(arrayOfValue)
            })

            const combine = ([head, ...[headTail, ...tailTail]]) => {
                if (!headTail) return head

                const combined = headTail.reduce((acc, x) => {
                    return acc.concat(head.map(h => `${h } / ${ x}`))
                }, [])

                return combine([combined, ...tailTail])
            }
            this.varientData = []
            combine(this.arrays).map(value => {
                this.varientData.push({
                    imageUrl: '',
                    key: value,
                    price: '00',
                    sku: ''
                })
            })
        },
    }
}
</script>
