<template> 
<div>
    <b-button variant="primary" @click="checkUpdate('Save')" class="btn-rounded d-none d-sm-block"><i class="i-Add-User text-white mr-2"> </i>Add
    </b-button>

    <b-modal v-model="show" title="Add New Equipment" :hide-footer="hideFooter">
        <b-form @submit="onSubmit" v-if="show">
            <b-container fluid>
                <departmentVue @seletedData="updateValue" :DEData="formData" />
                <b-row>
                    <b-col>
                        <b-form-group label="Name: Optional" label-for="input-1">
                            <b-form-input id="input-1" v-model="formData.name" placeholder="name"></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
                
                <b-row>
                    <b-col>
                        <b-form-group label="SKU/Code:" label-for="input-0">
                            <b-form-input id="input-0" v-model="formData.skuCode" required placeholder="SKU/code"></b-form-input>
                        </b-form-group>
                    </b-col>
                    <b-col>
                        <b-form-group label="Model No:" label-for="input-3">
                            <b-form-input id="input-3" v-model="formData.modelNo" required placeholder="model no"></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col>
                        <b-form-group label="Vendor: Optional" label-for="input-12">
                            <typeInput @seletedContact="updateValue1" :preVal="formData"/>
                        </b-form-group>
                    </b-col>
                    <b-col>
                        <b-form-group label="Manufacturer: Optional" label-for="input-12">
                            <menufInput @seletedMenuf="updateValue2" :preVal="formData"/>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col>
                        <b-form-group label="Model Launch Date: Optional" label-for="input-16">
                            <b-form-input type="date" id="input-16" v-model="formData.modelLaunchDate" placeholder="Model launch date"></b-form-input>
                        </b-form-group>
                    </b-col>
                    <b-col>
                        <b-form-group label="End of Life Date: Optional" label-for="input-17">
                            <b-form-input type="date" id="input-17" v-model="formData.endOfLifeDate"  placeholder="End of Life Date"></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col>
                        <b-form-group label="Type: Optional" label-for="input-4">
                            <b-form-input id="input-4" v-model="formData.Type" placeholder="type"></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>

                <b-row>
                    <b-col>
                        <b-form-group id="input-group-1" label="Description: Optional" label-for="input-5">
                            <b-form-textarea id="textarea" v-model="formData.description" placeholder="Enter something..." rows="3" max-rows="6"></b-form-textarea>
                        </b-form-group>
                    </b-col>
                </b-row>
            </b-container>
            <div class="d-flex justify-content-end mt-30">
                <b-button class="ml-2" type="submit" variant="primary">{{Button}}</b-button>
                <b-button class="ml-2" type="reset" variant="danger" @click="show = false">Close</b-button>
            </div>
        </b-form>
    </b-modal>
</div>
</template>

<script>
import basicInfo from '../../../http/equipment/basicInfo'
import departmentVue from '../../common/input/department.vue';
import typeInput from '../../common/input/typeInput'
import menufInput from '../../common/input/menuf'
export default {
    props: ['preVal', 'equipId'],
    components: {
        departmentVue,
        typeInput,
        menufInput
    },
    metaInfo: {
        // if no subcomponents specify a metaInfo.title, this title will be used
        title: "Equipment Master"
    },
    data() {
        return {
            hideFooter: true,
            _id: '',
            Button: 'Save',
            show: false,
            file: null,
            Equipment: [],
            formData: {
                department: '',
                equipment: '',
                name: '',
                skuCode: '',
                modelNo: '',
                Type: '',
                manufecture: '',
                vendors: '',
                endOfLifeDate: '',
                modelLaunchDate: '',
                description: '',
                equipmentImg: ''
            },
            defaultFormData: {
                department: '',
                equipment: '',
                name: '',
                skuCode: '',
                modelNo: '',
                Type: '',
                manufecture: '',
                vendors: '',
                endOfLifeDate: '',
                modelLaunchDate: '',
                description: '',
                equipmentImg: ''
            },
        };
    },
    mounted() {
        this.$root.$on('updatedData', () => {
            this.checkUpdate()
        })
    },
    watch: {
        preVal: {
            deep: true,
            handler(newVal, oldVal) {
                if (newVal) {
                    this.show = true
                    this.formData = newVal
                    this.Button = 'Update'
                }
            },
        }
    },
    methods: {
        async onSubmit(evt) {
            if (this.Button == 'Save') {
                await basicInfo.insertPost(this.formData)
                .then(res => {
                    if (res) {
                        if (res.data.status == 'error') {
                            this.$swal({
                                type: "error",
                                title: "Oops...",
                                text: res.data.message,
                                footer: "<a href>Why do I have this issue?</a>"
                            });
                        } else {
                            this.show = false
                            this.$root.$emit('getEquipmentInfo')
                            this.$swal({
                                position: "top-end",
                                type: "success",
                                title: "Your work has been saved",
                                showConfirmButton: false,
                                timer: 1500
                            });
                        }
                    } else {
                        this.$swal({
                            type: "error",
                            title: "Oops...",
                            text: 'Something Went Wrong',
                            footer: "<a href>Why do I have this issue?</a>"
                        });
                    }
                })
                .catch(err => {
                    this.$swal({
                        type: "error",
                        title: "Oops...",
                        text: err.message,
                        footer: "<a href>Why do I have this issue?</a>"
                    });
                })
            } else {
                await basicInfo.updatePost(this.formData, this.equipId)
                .then(res => {
                    if (res) {
                        if (res.data.status == 'error') {
                            this.$swal({
                                type: "error",
                                title: "Oops...",
                                text: res.data.message,
                                footer: "<a href>Why do I have this issue?</a>"
                            });
                        } else {
                            this.show = false
                            this.$root.$emit('getEquipmentInfo')
                            this.$swal({
                                position: "top-end",
                                type: "success",
                                title: "Your work has been Updated",
                                showConfirmButton: false,
                                timer: 1500
                            });
                        }
                    } else {
                        this.$swal({
                            type: "error",
                            title: "Oops...",
                            text: 'Something Went Wrong',
                            footer: "<a href>Why do I have this issue?</a>"
                        });
                    }
                })
                .catch(err => {
                    this.$swal({
                        type: "error",
                        title: "Oops...",
                        text: err.message,
                        footer: "<a href>Why do I have this issue?</a>"
                    });
                })
            }
        },
        checkUpdate(button) {
            if (button == 'Save') {
                this.show = true
                this.Button = 'Save'
                this.formData = this.defaultFormData
            }
        },
        updateValue(department, equipment) {
            this.formData.department = department,
                this.formData.equipment = equipment
        },
        updateValue1(vendor) {
            this.formData.vendors = vendor
        },
        updateValue2(menuf){
            this.formData.manufecture = menuf
        }
    }
};
</script>
