<template>
<div>
    <b-button @click="openMl" id="cost-and-warranty" variant="outline-primary">Edit</b-button>
    <b-modal v-model="show" title="Cost And Warranty">
        <b-container fluid>
            <b-row>
                <b-col>
                    <b-form-group label="Equipment Price including installation and 1 year warranty:" label-for="input-1">
                        <b-form-input id="input-1" type="number" v-model="formData.PriceInstallationWarranty" placeholder="Equipment Price including installation"></b-form-input>
                    </b-form-group>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <b-form-group label="Annual Maintenance Contract %:" label-for="input-2">
                        <b-form-input id="input-2" v-model="formData.AnnualMaintenanceContract" placeholder="Annual Maintenance Contract %"></b-form-input>
                    </b-form-group>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <b-form-group label="Annual AMC Escalation %:" label-for="input-3">
                        <b-form-input id="input-3" v-model="formData.AnnualAMCEscalation" required placeholder="Annual AMC Escalation %"></b-form-input>
                    </b-form-group>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <b-form-group label="Comprensive Maintenance Contract %:" label-for="input-4">
                        <b-form-input id="input-4" v-model="formData.ComprensiveMaintenanceContract" required placeholder="Comprensive Maintenance Contract %"></b-form-input>
                    </b-form-group>
                </b-col>
            </b-row>

            <b-row>
                <b-col>
                    <b-form-group label="Annual CMC Escalation %:" label-for="input-5">
                        <b-form-input id="input-5" v-model="formData.AnnualCMCEscalation" required placeholder="Annual CMC Escalation %"></b-form-input>
                    </b-form-group>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <b-form-group label="Options:" v-if="items.length">
                        <b-form-checkbox-group id="flavors" v-model="formData.OptionsSelected" name="flavors" class="ml-4" aria-label="Options Selected" stacked>
                            <b-form-checkbox v-for="(i, index) in items" :key="index" :value="i">{{i.name }} {{i.cost}} {{i.description}}</b-form-checkbox>
                        </b-form-checkbox-group>
                    </b-form-group>

                    <span class="text-danger" v-else>
                        Options not available
                    </span>
                </b-col>
            </b-row>
        </b-container>

        <div slot="modal-footer" class="w-100">
            <b-button variant="primary" size="sm" class="float-right" @click="save">
                Save
            </b-button>
        </div>
    </b-modal>
</div>
</template>

<script>
import costandwarranty from '../../../http/equipment/cost_and_warranty'
export default {
    props: ['costInfo'],
    data() {
        return {
            show: false,
            items: [],
            formData: {
                PriceInstallationWarranty: '',
                AnnualMaintenanceContract: '',
                AnnualAMCEscalation: '',
                ComprensiveMaintenanceContract: '',
                AnnualCMCEscalation: '',
                OptionsSelected: []
            }
        }
    },
    watch: {
        costInfo: {
            deep: true,
            handler(newVal, oldVal) {
                if (newVal) {
                    if (newVal.addOnOptions) {
                        this.items = newVal.addOnOptions
                    }
                }
            },
        }
    },
    methods: {
        openMl() {
            this.show = true
            this.formData.PriceInstallationWarranty = this.costInfo.costAndWarranty.PriceInstallationWarranty
            this.formData.AnnualMaintenanceContract = this.costInfo.costAndWarranty.AnnualMaintenanceContract,
            this.formData.AnnualAMCEscalation = this.costInfo.costAndWarranty.AnnualAMCEscalation,
            this.formData.ComprensiveMaintenanceContract = this.costInfo.costAndWarranty.ComprensiveMaintenanceContract,
            this.formData.AnnualCMCEscalation = this.costInfo.costAndWarranty.AnnualCMCEscalation,
            this.formData.OptionsSelected = this.costInfo.costAndWarranty.OptionsSelected
        },
        // cost and warranty
        async save() {
            await costandwarranty.insertPost(this.formData, this.$route.query._id)
                .then(res => {
                    if (res) {
                        if (res.data.status == 'success') {
                            this.show = false
                            this.$swal({
                                position: "top-end",
                                type: "success",
                                title: "Your work has been saved",
                                showConfirmButton: false,
                                timer: 1500
                            });
                            this.costInfo.costAndWarranty.PriceInstallationWarranty = this.formData.PriceInstallationWarranty 
                            this.costInfo.costAndWarranty.AnnualMaintenanceContract = this.formData.AnnualMaintenanceContract
                            this.costInfo.costAndWarranty.AnnualAMCEscalation = this.formData.AnnualAMCEscalation
                            this.costInfo.costAndWarranty.ComprensiveMaintenanceContract = this.formData.ComprensiveMaintenanceContract
                            this.costInfo.costAndWarranty.AnnualCMCEscalation = this.formData.AnnualCMCEscalation
                            this.costInfo.costAndWarranty.OptionsSelected = this.formData.OptionsSelected
                        }
                    } else {
                        this.$swal({
                            type: "error",
                            title: "Oops...",
                            text: 'Something Went Wrong',
                            footer: "<a href>Why do I have this issue?</a>"
                        });
                    }
                })
        }
    }
}
</script>
