<template>
<div>
    <b-button @click="openMl" variant="outline-primary">Add</b-button>
    <b-modal v-model="show" title="Add Experts">
        <b-row>
            <b-col>
                <b-form-group id="input-group-2" label="Experts:" label-for="input-2">
                    <b-form-checkbox-group id="flavors" v-model="val" :options="items" name="flavors" class="ml-4" aria-label="Individual Equipment" stacked></b-form-checkbox-group>
                </b-form-group>
            </b-col>
        </b-row>

        <div slot="modal-footer" class="w-100">
            <b-button variant="primary" size="sm" class="float-right" @click="save">
                Save
            </b-button>
        </div>
    </b-modal>
</div>
</template>

<script>
import relatedEquipment from '../../../http/equipment/basicInfo'
import httpContact from '../../../http/contacts/contacts'
import httpExpert from '../../../http/equipment/expert'
export default {
    props: ['basicInfo'],
    data() {
        return {
            show: false,
            val: [],
            items: []
        }
    },
    created() {
        this.getContactDetails()
    },
    methods: {
        async openMl() {
            this.show = true
        },
        async getContactDetails() {
            await httpContact.contactByType('Expert').then(res => {
                if (res) {
                    if (res.data.result) {
                        res.data.result.map(value => this.items.push({
                            value: value._id,
                            text: value.name
                        }))
                    }
                }
            })
        },
        async save() {
            const data = {
                experts: this.val
            }
            await httpExpert.insertPost(data, this.$route.query._id).then(res => {
                if (res) {
                    if (res.data.status == 'success') {
                        this.show = false
                        this.$swal({
                            position: "top-end",
                            type: "success",
                            title: "Your work has been saved",
                            showConfirmButton: false,
                            timer: 1500
                        });
                        location.reload()
                    }
                } else {
                    this.$swal({
                        type: "error",
                        title: "Oops...",
                        text: 'Something Went Wrong',
                        footer: "<a href>Why do I have this issue?</a>"
                    });
                }
            })
        }
    }
}
</script>
