<template>
<div>
    <a @click="openMl" class="ul-cursor--pointer">
        <i class="i-Eraser-2 text-25 text-success mr-2"></i>
    </a>
    <!-- <b-button @click="openMl" id="cost-and-warranty" variant="outline-primary">ADD FAQs</b-button> -->

    <b-modal v-model="show" title="FAQs Master" :hide-footer="hideFooter">
        <b-form @submit="onSubmit" v-if="show">
            <b-container fluid>
                <b-row>
                    <b-col>
                        <b-form-group label="Question:" label-for="input-1">
                            <b-form-input required id="input-1" v-model="editedData.Question" placeholder="Type question..."></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col>
                        <b-form-group label="Answer:" label-for="input-2">
                            <b-form-textarea required id="input-2" v-model="editedData.Answer" placeholder="Type answer..."></b-form-textarea>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col>
                        <b-form-group label="Tags" label-for="input-3">
                            <vue-tags-input v-model="tag" :tags="editedData.tags" class="tag-custom text-15 mt-2" @tags-changed="newTags => (editedData.tags = newTags)" placeholder="+ add" />
                        </b-form-group>
                    </b-col>
                </b-row>
            </b-container>
            <div class="d-flex justify-content-end mt-30">
                <b-button class="ml-2" type="submit" variant="primary">Save</b-button>
                <b-button class="ml-2" type="reset" variant="danger" @click="show = false">Close</b-button>
            </div>
        </b-form>
    </b-modal>
</div>
</template>

<script>
export default {
    data() {
        return {
            hideFooter: true,
            tag: "",
            show: false,
            editedData: {
                Question: '',
                Answer: '',
                tags: []
            },
        }
    },
    methods: {
        openMl() {
            this.show = true
            this.editedData.Question = ''
            this.editedData.Answer = ''
            this.editedData.tags = []
        },
    }
}
</script>
