<template>
<div>
    <b-button @click="openMl" variant="outline-primary">Add</b-button>
    <b-modal v-model="show" title="Add New FAQs">
        <b-container fluid>
            <b-row>
                <b-col>
                    <b-form-group>
                        <b-form-checkbox-group id="flavors" v-model="selected" name="flavors" class="ml-4" aria-label="Individual Faqs" stacked>
                            <b-form-checkbox v-for="(d, index) in Faqs" :value="d" :key="index">
                                {{d.Question}}
                            </b-form-checkbox>
                        </b-form-checkbox-group>
                    </b-form-group>
                </b-col>
            </b-row>
        </b-container>

        <div slot="modal-footer" class="w-100">
            <b-button variant="primary" size="sm" class="float-right" @click="save">
                Save
            </b-button>
        </div>
    </b-modal>
</div>
</template>

<script>
// import faqs
import httpFaqs from '../../../http/faqs/FAQs'
export default {
    data() {
        return {
            show: false,
            Faqs: [],
            selected: []
        }
    },
    created() {
        this.getListOfFaqs()
    },
    methods: {
        openMl() {
            this.show = true
        },
        async save() {
            const selectedData = {
                faqs: this.selected
            }
            await httpFaqs.addFaqs(selectedData, this.$route.query._id).then(res => {
                if (res) {
                    if (res.data.status == 'success') {
                        this.show = false
                        this.$swal({
                            position: "top-end",
                            type: "success",
                            title: "Your work has been saved",
                            showConfirmButton: false,
                            timer: 1500
                        });
                         location.reload()
                    }
                } else {
                    this.$swal({
                        type: "error",
                        title: "Oops...",
                        text: 'Something Went Wrong',
                        footer: "<a href>Why do I have this issue?</a>"
                    });
                }
            })
        },
        async getListOfFaqs() {
            await httpFaqs.listOfFaqs().then(res => {
                if (res) {
                    this.Faqs = []
                    if (res.data.status === 'success') {
                        this.Faqs = res.data.result
                    }
                }
            })
        }
    }
}
</script>
