<template>
<div>
    <b-button @click="openMl" variant="outline-primary">Add</b-button>
    <b-modal v-model="show" title="Add Related Equipment">
        <b-container fluid>
            <selectEquip @selectedEquipment="updateValue"/>
        </b-container>

        <div slot="modal-footer" class="w-100">
            <b-button variant="primary" size="sm" class="float-right" @click="save">
                Save
            </b-button>
        </div> 
    </b-modal>
</div>
</template>

<script>
import selectEquip from '../../common/input/equipment_selecteion'
import relatedEquipment from '../../../http/equipment/basicInfo'
export default {
    components:{
        selectEquip
    },
    data(){
        return{
            show: false,
            value: null,
        }
    },
    methods:{
        async openMl(){
            this.show = true
        },
        updateValue(Equipment){
            this.value = Equipment
        },
        async save(){
            const data = {
                relatedEquipment: this.value
            }
            await relatedEquipment.relatedEquipment(data, this.$route.query._id).then(res=>{
                if (res) {
                    if (res.data.status == 'success') {
                        this.show = false
                        this.$swal({
                            position: "top-end",
                            type: "success",
                            title: "Your work has been saved",
                            showConfirmButton: false,
                            timer: 1500
                        });
                         location.reload()
                    }
                } else {
                    this.$swal({
                        type: "error",
                        title: "Oops...",
                        text: 'Something Went Wrong',
                        footer: "<a href>Why do I have this issue?</a>"
                    });
                }
            })
        }
    }
}
</script>
