<template>
<div>
    <b-button @click="openMl" variant="outline-primary">Add</b-button>
    <b-modal v-model="show" title="Add New Site Prep" :hide-footer="hideFooter">
        <b-container fluid>
            <b-row>
                <b-col>
                    <b-form-group label="Name:" label-for="input-1">
                        <b-form-input id="input-1" v-model="displayName" placeholder="Display Name"></b-form-input>
                    </b-form-group>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <b-form-group id="input-group-1" label="Upload Document:- img/pdf:" label-for="input-1">
                        <b-form-file v-model="file" name="file" :state="Boolean(file)" placeholder="Choose a file or drop it here..." drop-placeholder="Drop file here..." @change="onFilePicked" :disabled="uploading"></b-form-file>
                    </b-form-group>
                </b-col>
            </b-row>
        </b-container>
        <div class="d-flex justify-content-end mt-30">
            <b-button class="ml-2" type="submit" @click="uploadImage" :disabled="uploading" variant="primary">Save</b-button>
            <b-button class="ml-2" type="reset" variant="danger" @click="show = false">Close</b-button>
        </div>
        <div v-if="loading" class="ml-3 mt-3">
            <div class="spinner sm spinner-primary mt-3"></div>
        </div>
    </b-modal>
</div>
</template>

<script>
import httpStatuteryReq from '../../../http/sitePrepReq/sitePrepReq'
import imageUpload from '../../../http/uploadImageToS3/uploadImage'
export default {
    data() {
        return {
            hideFooter: true,
            show: false,
            displayName: '',
            file: '',
            uploading: false,
            folderName: 'Site_Prep_Requirement', 
            loading: false,
            fileType: ['jpg', 'jpeg', 'png', 'gif', 'pdf']
        }
    },
    methods: {
        openMl() {
            this.show = true
        },
        onFilePicked(event) {
            this.file = event.target.files[0]
            if (this.file.name.lastIndexOf('.') <= 0) {
                return alert('Please add a vaild file!')
            }
        },
        async uploadImage() {
            if (this.displayName == '') {
                alert('Display name is required')
            } else if (this.file == '') {
                alert('Document is required')
            } else {
                this.loading = true
                this.uploading = true
                const fileExtention = this.file.name.split('.')
                const lastName = fileExtention[fileExtention.length - 1]
                var UpdatedformData = new FormData()
                UpdatedformData.append('file', this.file)
                if (this.fileType.some(function (item) {
                        return (new RegExp('\\b' + item + '\\b')).test(lastName);
                    })) {
                    await imageUpload.uploadSitePrep(UpdatedformData, lastName, this.folderName).then(res => {
                        if (res) {
                            const data = {
                                sitePrepRequirement: [{
                                    displayName: this.displayName,
                                    fileLink: res.data
                                }]
                            }
                            httpStatuteryReq.insertPost(data, this.$route.query._id).then(res => {
                                if (res) {
                                    this.show = false
                                    this.loading = false
                                    this.$swal({
                                        position: "top-end",
                                        type: "success",
                                        title: "Your work has been saved",
                                        showConfirmButton: false,
                                        timer: 1500
                                    });
                                    location.reload()
                                }
                            })
                        }
                    }).catch(err => {
                        this.$swal({
                            type: "error",
                            title: "Oops...",
                            text: err.message,
                            footer: "<a href>Why do I have this issue?</a>"
                        });
                        this.uploading = false
                        this.loading = false
                    })
                } else {
                    this.loading = false
                    this.uploading = false
                    alert(
                        `This extension is not allowed, please upload your file with these extensions. ${this.fileType}`  
                    )
                }
            }
        },
    }
}
</script>
