<template>
<div>
    <b-button variant="primary" @click="openMl('Save')" class="btn-rounded d-none d-sm-block"><i class="i-Add-User text-white mr-2"> </i>Add Contact
    </b-button>

    <!-- {{contact}} -->

    <b-modal v-model="show" title="Contact Master" :hide-footer="hideFooter">
        <b-form @submit="onSubmit" v-if="show">
            <b-container class="bv-example-row">
                <b-row>
                    <b-col>
                        <b-form-group label="Contact Type" label-for="input-1">
                            <b-form-select id="input-1" v-model="editedData.type" :options="contactType" required></b-form-select>
                        </b-form-group>
                    </b-col>
                </b-row>

                <b-row>
                    <b-col>
                        <b-form-group label="Name:" label-for="input-2">
                            <b-form-input id="input-2" v-model="editedData.name" required placeholder="name"></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col>
                        <b-form-group label="Email address: Optional" label-for="input-4" description="We'll never share your email with anyone else.">
                            <b-form-input id="input-4" type="email" v-model="editedData.email" placeholder="Enter email"></b-form-input>
                        </b-form-group>
                    </b-col>
                    <b-col>
                        <b-form-group label="Phone Number: Optional" label-for="input-5">
                            <b-form-input id="input-5" v-model="editedData.phone" placeholder="Phone Number"></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col>
                        <b-form-group label="Designation: Optional" label-for="input-20">
                            <b-form-input id="input-20" v-model="editedData.designation" placeholder="designation"></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
            </b-container>

            <!--end personal information -->

            <!-- address -->

            <b-container class="bv-example-row">
                <b-row>
                    <b-col>
                        <b-form-group label="Address: Optional" label-for="input-6">
                            <b-form-input id="input-6" v-model="editedData.address" placeholder="Address"></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>

                <b-row>
                    <b-col>
                        <b-form-group label="Company Name: Optional" label-for="input-7">
                            <b-form-input id="input-7" v-model="editedData.company" placeholder="Company Name"></b-form-input>
                        </b-form-group>
                    </b-col>
                    <b-col>
                        <b-form-group label="City: Optional" label-for="input-8">
                            <b-form-input id="input-8" v-model="editedData.city" placeholder="City"></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col>
                        <b-form-group label="Country: Optional" label-for="input-9">
                            <b-form-input id="input-9" v-model="editedData.country" placeholder="Enter Country"></b-form-input>
                        </b-form-group>
                    </b-col>
                    <b-col>
                        <b-form-group label="State: Optional" label-for="input-10">
                            <b-form-input id="input-10" v-model="editedData.state" placeholder="State"></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>

                <b-row>
                    <b-col>
                        <b-form-group label="Pin-Code: Optional" label-for="input-11">
                            <b-form-input id="input-11" v-model="editedData.pinCode" placeholder="Pin-Code"></b-form-input>
                        </b-form-group>
                    </b-col>
                    <b-col>
                        <b-form-group label="Remarks: Optional" label-for="input-13">
                            <b-form-input id="input-13" v-model="editedData.remarks" placeholder="Remarks"></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col>
                        <b-form-group label="Tags: Optional" label-for="input-14">
                            <b-form-input id="input-14" v-model="editedData.tags" placeholder="Tags"></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
            </b-container>

            <div class="d-flex justify-content-end mt-30">
                <b-button class="ml-2" type="submit" variant="primary">{{Button}}</b-button>
                <b-button class="ml-2" type="reset" variant="danger" @click="show = false">Close</b-button>
            </div>
        </b-form>
    </b-modal>
</div>
</template>

<script>
import httpContact from '../../../http/contacts/contacts'
export default {
    props: ['contact'],
    data() {
        return {
            hideFooter: true,
            btnDisable: true,
            Button: null,
            show: false,
            contactType: ["Vendor", "Codex Team", "Manufacturer", "Expert", 'Sales Rep'],
            editedData: {
                // personal Information
                type: '',
                name: '',
                email: '',
                phone: '',
                designation: '',

                // address Info
                address: '',
                company: '',
                city: '',
                country: '',
                state: '',
                pinCode: '',
                remarks: '',
                tags: '',
            },
            defaultData: {
                // personal Information
                type: '',
                name: '',
                email: '',
                phone: '',
                designation: '',

                // address Info
                address: '',
                company: '',
                city: '',
                country: '',
                state: '',
                pinCode: '',
                remarks: '',
                tags: '',
            }
        }
    },
    watch: {
        contact: {
            deep: true,
            handler(newVal, oldVal) {
                if (newVal) {
                    this.show = true
                    this.editedData = newVal
                    this.Button = 'Update'
                }
            },
        }
    },
    methods: {
        async onSubmit(evt) {
            if (this.Button == 'Save') {
                await httpContact.insertPost(this.editedData).then(res => {
                    if (res) {
                        if (res.data.status == 'error') {
                            this.$swal({
                                type: "error",
                                title: "Oops...",
                                text: res.data.message,
                                footer: "<a href>Why do I have this issue?</a>"
                            });
                        } else {
                            this.show = false
                            this.$swal({
                                position: "top-end",
                                type: "success",
                                title: "Your work has been saved",
                                showConfirmButton: false,
                                timer: 1500
                            });
                            this.$root.$emit('fetchContacts')
                        }
                    } else {
                        this.$swal({
                            type: "error",
                            title: "Oops...",
                            text: 'Something Went Wrong',
                            footer: "<a href>Why do I have this issue?</a>"
                        });
                    }
                }).catch(err => {
                    this.$swal({
                        type: "error",
                        title: "Oops...",
                        text: err.message,
                        footer: "<a href>Why do I have this issue?</a>"
                    });
                })
            } else {
                await httpContact.insertUpdate(this.editedData, this.editedData._id).then(res => {
                    if (res) {
                        if (res.data.status == 'error') {
                            this.$swal({
                                type: "error",
                                title: "Oops...",
                                text: res.data.message,
                                footer: "<a href>Why do I have this issue?</a>"
                            });
                        } else {
                            this.show = false
                            this.$swal({
                                position: "top-end",
                                type: "success",
                                title: "Your work has been updated",
                                showConfirmButton: false,
                                timer: 1500
                            });
                            this.$root.$emit('fetchContacts')
                        }
                    } else {
                        this.$swal({
                            type: "error",
                            title: "Oops...",
                            text: 'Something Went Wrong',
                            footer: "<a href>Why do I have this issue?</a>"
                        });
                    }
                }).catch(err => {
                    this.$swal({
                        type: "error",
                        title: "Oops...",
                        text: err.message,
                        footer: "<a href>Why do I have this issue?</a>"
                    });
                })
            }
        },
        openMl(data) {
            if (data === 'Save') {
                this.resetVal()
                this.editedData = this.defaultData
                this.show = true
                this.Button = 'Save'
            }
        },
        resetVal(){
            // personal Information
                this.defaultData.type = ''
                this.defaultData.name = ''
                this.defaultData.email = ''
                this.defaultData.phone = ''
                this.defaultData.designation = '',

                // address Info
                this.defaultData.address = ''
                this.defaultData.company = ''
                this.defaultData.city = ''
                this.defaultData.country = ''
                this.defaultData.state = ''
                this.defaultData.pinCode = ''
                this.defaultData.remarks = ''
                this.defaultData.tags = ''
        }
    }
}
</script>
