<template>
<div class="main-content mb-5">
    <breadcumb :page="'Requirement Form'" :folder="'Forms'" />

    <b-row>
        <b-col>
            <b-card title="Form Steps">
                <form-wizard title="" subtitle="" @on-complete="onComplete" shape="circle" color="#639">
                    <tab-content title="Basic Info" icon="i-Information">
                        <b-form>
                            <b-row>
                                <b-form-group id="input-group-1" label="Project Title:" label-for="input-1" class="col-md-6">
                                    <b-form-input id="input-1" type="text" required placeholder="Enter Project Title"></b-form-input>
                                </b-form-group>
                                <b-form-group id="input-group-1" label="Type:" label-for="input-1" class="col-md-6">
                                    <b-form-input id="input-1" type="text" required placeholder="Enter Type"></b-form-input>
                                </b-form-group>
                                <b-form-group id="input-group-1" label="Hospital:" label-for="input-1" class="col-md-6">
                                    <b-form-input id="input-1" type="text" required placeholder="Enter Hospital"></b-form-input>
                                </b-form-group>
                                <b-form-group id="input-group-1" label="Email:" label-for="input-1" class="col-md-6">
                                    <b-form-input id="input-1" type="email" required placeholder="Enter Your email"></b-form-input>
                                </b-form-group>
                                <b-form-group id="input-group-1" label="Other Requirement:" label-for="input-1" class="col-md-12">
                                    <b-form-textarea id="input-1" type="text" required placeholder="Any other requirement"></b-form-textarea>
                                </b-form-group>
                            </b-row>
                        </b-form>
                    </tab-content>
                    <tab-content title="Equipment Info" icon="i-Business-Mens">
                        <searchEquipment />
                    </tab-content>
                    <tab-content title="Payment info" icon="i-Car-Coins">
                        <b-form>
                            <b-row>
                                <b-form-group id="input-group-1" label="Card Number:" label-for="input-1" class="col-md-6">
                                    <b-form-input id="input-1" type="text" required placeholder="Card Number"></b-form-input>
                                </b-form-group>
                                <b-form-group id="input-group-1" label="Expires at:" label-for="input-1" class="col-md-6">
                                    <b-form-input id="input-1" type="text" required placeholder="Expires at"></b-form-input>
                                </b-form-group>
                                <b-form-group id="input-group-1" label="Security code:" label-for="input-1" class="col-md-6">
                                    <b-form-input id="input-1" type="text" required placeholder="Security code"></b-form-input>
                                </b-form-group>
                            </b-row>
                        </b-form>
                    </tab-content>
                    <button class="btn btn-outline-primary btn-rounded" type="primary" slot="prev">
                        Back
                    </button>
                    <button class="btn btn-outline-primary btn-rounded" type="primary" slot="next">
                        Next
                    </button>
                    <button class="btn btn-outline-success btn-rounded" type="primary" slot="finish">
                        Finish
                    </button>
                </form-wizard>
            </b-card>
        </b-col>
    </b-row>

    <b-row>
        <b-col class="mt-4">
            <b-card>
                <vue-good-table :columns="columns" :line-numbers="true" :search-options="{
        enabled: true,
        placeholder: 'Search this table'
      }" :pagination-options="{
        enabled: true,
        mode: 'records'
      }" styleClass="tableOne vgt-table" :rows="rows">
                </vue-good-table>
            </b-card>
        </b-col>
    </b-row>
</div>
</template>

<script>
import {
    required,
    sameAs,
    minLength
} from "vuelidate/lib/validators";
import searchEquipment from '../../../components/common/input/equipment_selecteion'
export default {
    components:{
        searchEquipment
    },
    metaInfo: {
        // if no subcomponents specify a metaInfo.title, this title will be used
        title: "Form Component"
    },
    data() {
        return {
            show: false,
            columns: [{
                    label: "Name",
                    field: "department"
                },
                {
                    label: "Created On",
                    field: "createdAt",
                },
                {
                    label: "Button",
                    field: "button",
                    html: true,
                    tdClass: "text-right",
                    thClass: "text-right"
                }
            ],
            editedData: {
                department: ''
            },
            rows: [],
            peopleAdd: [{
                    multipleName: "Johnn"
                },
                {
                    multipleName: ""
                }
            ]
        };
    },
    methods: {
        onComplete: function () {
            this.$swal({
                position: "top-end",
                type: "success",
                title: "Your work has been saved",
                showConfirmButton: false,
                timer: 1500
            });
        },
        //   validate form
        submit() {
            console.log("submit!");

            this.$v.$touch();
            if (this.$v.$invalid) {
                this.submitStatus = "ERROR";
            } else {
                // do your submit logic here
                this.submitStatus = "PENDING";
                setTimeout(() => {
                    this.submitStatus = "OK";
                }, 1000);
            }
        },
        makeToast(variant = null) {
            this.$bvToast.toast("Please fill the form correctly.", {
                title: `Variant ${variant || "default"}`,
                variant: variant,
                solid: true
            });
        },
        makeToastTwo(variant = null) {
            this.$bvToast.toast("Successfully Submitted", {
                title: `Variant ${variant || "default"}`,
                variant: variant,
                solid: true
            });
        },

        inputSubmit() {
            console.log("submitted");
        }
    }
};
</script>

<style>
.spinner.sm {
    height: 2em;
    width: 2em;
}
</style>
