<template>
<div>
    <breadcumb :page="'Team & Permissions'" :folder="'Settings'" />
    <b-row>

        <b-col lg="4" md="12" sm="12">
            <p class="mt-30 mb-30">Owners have permission to see and do everything. They can also add and remove other owners.</p>
        </b-col>

        <b-col lg="8" md="12" sm="12">
            <b-card class=" mb-30 text-14" header="Owners" title="">
                <div class="ul-widget__body">
                    <div class="ul-widget1">
                        <div class="ul-widget__item ul-widget4__users" v-for="(d, index) in owners" :value="index" :key="index">
                            <div class="ul-widget2__info ul-widget4__users-info">
                                <a href="#" class="ul-widget2__title">
                                    {{d.email}}
                                </a>
                            </div>
                            <b-button size="sm" variant="outline-primary" @click="deleteUser(d._id, index)">Remove</b-button>
                        </div>

                    </div>
                </div>
                <div class="mt-30">
                    <b-form>
                        <b-row>
                            <b-col lg="8" md="12" sm="12">
                                <b-form-input type="email" v-model="data.email" placeholder="Email Address" class="form-control w-100">
                                </b-form-input>
                            </b-col>
                            <b-col lg="4" md="12" sm="12" class="d-flex">
                                <div>
                                    <b-button :disabled="loading" size="sm" variant="outline-primary" @click="invite">
                                        <span class="">
                                            Invite Owners
                                        </span>
                                    </b-button>
                                </div>
                                <div v-once class="typo__p ml-4 mb-2" v-if="loading">
                                    <div class="spinner sm spinner-primary mt-3"></div>
                                </div>
                            </b-col>
                        </b-row>
                    </b-form>
                </div>
            </b-card>
        </b-col>

        <b-col lg="12">
            <hr>
        </b-col>

        <b-col lg="4" md="12" sm="12" class="mt-30 mb-30">
            <b-card-text>Add staff members and enable them to access different areas of the partners dashboard through permission sets</b-card-text>
        </b-col>

        <b-col lg="8" md="12" sm="12">
            <b-card class=" mb-30 text-15" header="Staff Members" title="">
                <b-card-text>Staff members can only see or manage sensitve business information such as financial date if you give them access</b-card-text>
                <div class="ul-widget__body">
                    <div class="ul-widget1">
                        <div class="ul-widget__item ul-widget4__users">
                            <div class="ul-widget4__img">
                                <img src="@/assets/images/faces/1.jpg" id="userDropdown" alt="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />
                            </div>
                            <div class="ul-widget2__info ul-widget4__users-info">
                                <a href="#" class="ul-widget2__title">
                                    Aslam Desusa
                                </a>
                                <span href="#" class="ul-widget2__username">
                                    aslam@jaansi.com
                                </span>
                            </div>
                            <span class="ul-widget4__number t-font-boldest text-success">Remove</span>
                        </div>

                        <div class="ul-widget__item ul-widget4__users">
                            <div class="ul-widget4__img">
                                <img src="@/assets/images/faces/1.jpg" id="userDropdown" alt="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />
                            </div>
                            <div class="ul-widget2__info ul-widget4__users-info">
                                <a href="#" class="ul-widget2__title">
                                    Siddhartha shanker
                                </a>
                                <span href="#" class="ul-widget2__username">
                                    sid@jaansi.com
                                </span>
                            </div>
                            <span class="ul-widget4__number t-font-boldest text-success">Remove</span>
                        </div>
                    </div>
                </div>
                <div class="mt-30">
                    <b-row>
                        <b-col lg="12" md="12" sm="12" class="m-30">
                            <!-- <b-card class="mt-30"> -->
                            <b-form-group>
                                <template v-slot:label>
                                    <b>User Roles:</b><br>
                                    <b-form-checkbox v-model="allSelected" :indeterminate="indeterminate" aria-describedby="user-rols" aria-controls="user-rols" @change="toggleAll">
                                        {{ allSelected ? 'Un-select All' : 'Select All' }}
                                    </b-form-checkbox>
                                </template>

                                <b-form-checkbox-group id="flavors" v-model="selected" :options="Equipment" name="flavors" class="ml-4" aria-label="Individual Equipment" stacked></b-form-checkbox-group>
                            </b-form-group>
                            <!-- </b-card> -->
                        </b-col>
                        <b-col lg="9" md="12" sm="12">
                            <b-form-input type="text" placeholder="Email Address" class="form-control w-100">
                            </b-form-input>
                        </b-col>
                        <b-col lg="3" md="12" sm="12">
                            <b-button pill variant="outline-primary" size="sm">Invite staff members</b-button>
                        </b-col>
                    </b-row>
                </div>
            </b-card>
        </b-col>
    </b-row>
</div>
</template>

<script>
import mailer from '../../http/invitations/invite_user'
export default {
    metaInfo: {
        // if no subcomponents specify a metaInfo.title, this title will be used
        title: "Settings & Permissions"
    },
    data() {
        return {
            mainProps: {
                blank: true,
                width: 75,
                height: 75,
                class: 'm1'
            },
            owners: [],
            delLoading: false,
            loading: false,
            selected: [],
            Equipment: ['Admin', 'Write'],
            allSelected: false,
            indeterminate: false,
            data: {
                email: ''
            }
        }
    },
    watch: {
        selected(newVal, oldVal) {
            // Handle changes in individual flavour checkboxes
            if (newVal.length === 0) {
                this.indeterminate = false
                this.allSelected = false
            } else if (newVal.length === this.Equipment.length) {
                this.indeterminate = false
                this.allSelected = true
            } else {
                this.indeterminate = true
                this.allSelected = false
            }
        }
    },
    created() {
        this.getByRols()
    },
    methods: {
        toggleAll(checked) {
            this.selected = checked ? this.Equipment.slice() : []
        },
        makeToast(variant = null, msg) {
            this.$bvToast.toast(msg, {
                title: ` ${variant || "default"}`,
                variant: variant,
                solid: true
            });
        },
        async getByRols() {
            await mailer.getUserByRols('Admin')
                .then(res => {
                    if (res) {
                        this.owners = []
                        res.data.map(email_id => {
                            const getterData = {
                                thumbnail: email_id.privateDetails.email.charAt(0).toUpperCase(),
                                email: email_id.privateDetails.email,
                                _id: email_id._id
                            }
                            this.owners.push(getterData)
                        })
                    }
                })
                .catch(err => {
                    this.makeToast("warning", err.message)
                })
        },
        async invite() {
            this.loading = true
            await mailer.insertPost(this.data)
                .then(res => {
                    if (res.data.status == 'error') {
                        this.makeToast("warning", res.data.message);
                        this.loading = false
                    } else {
                        this.loading = false
                        this.getByRols()
                        this.data.email = ''
                        this.makeToast("success", res.data.message)
                    }
                })
                .catch(err => {
                    this.loading = false
                    this.makeToast("warning", err.message)
                })
        },
        async deleteUser(_id, index) {
            await mailer.deleteUserByRols(_id)
                .then(res => {
                    if (res.data.status == 'error') {
                        this.makeToast("warning", res.data.message);
                    } else {
                        this.getByRols()
                        this.makeToast("success", res.data.message)
                    }
                })
                .catch(err => {
                    this.makeToast("warning", err.message)
                })
        }
    }
};
</script>
