<template>
<div>
    <b-row>
        <b-col>
            <b-form-group id="input-group-2" label="Department:" label-for="input-2">
                <b-form-select @change="equipmentDetails" v-model="val" :options="items" required>
                    <option value="add">Add New Department</option>
                </b-form-select>
            </b-form-group>
        </b-col>
    </b-row>
    <b-row>
        <b-col>
            <b-form-group id="input-group-2" label="Equipment:" label-for="input-2">
                <b-form-select id="input-2" @change="add" v-model="equipmentValue" :options="Equipment" required>
                    <option value="add">add New equipment</option>
                </b-form-select>
            </b-form-group>
        </b-col>
    </b-row>
</div>
</template>

<script>
import http_equip_details from "../../../http/equipment/equipment_details";

import departmentName from "../../../http/department/departmentInfo";
export default {
    props: ["DEData"],
    data() {
        return {
            // propsVal: DEData,
            equipmentValue: null,
            val: null,
            Equipment: [],
            items: []
        };
    },
    mounted() {
        this.getDepartmentName();
        if (this.DEData.department == "") {
          this.val = this.DEData.department;
          this.equipmentValue = this.DEData.equipment;
        } else {
            this.val = this.DEData.department;
            this.equipmentDetails();
            this.equipmentValue = this.DEData.equipment;
        }
    },
    methods: {
        add() {
            if (this.equipmentValue == "add") {
                this.$router.push({
                    path: "/app/apps/departmentMaster"
                });
            } else {
                this.$emit("seletedData", this.val, this.equipmentValue);
            }
        },
        async equipmentDetails() {
            if (this.val == "add") {
                this.$router.push({
                    path: "/app/apps/departmentMaster"
                });
            } else {
                await http_equip_details
                    .getEquipmentDetailsByDepartment(this.val)
                    .then(res => {
                        this.Equipment = [];
                        if (res) {
                            res.data.result.map(equipment => {
                                this.Equipment.push(equipment.equipment);
                            });
                        } else {
                            this.$swal({
                                type: "error",
                                title: "Oops...",
                                text: "Something Went Wrong",
                                footer: "<a href>Why do I have this issue?</a>"
                            });
                        }
                    })
                    .catch(error => {
                        this.$swal(
                            error.message,
                            "That thing is still around?",
                            "question"
                        );
                    });
            }
        },
        async getDepartmentName() {
            await departmentName
                .getDepartmentData()
                .then(res => {
                    if (res) {
                        res.data.result.map(departName => {
                            this.items.push(departName.department);
                        });
                    } else {
                        this.$swal({
                            type: "error",
                            title: "Oops...",
                            text: "Something Went Wrong",
                            footer: "<a href>Why do I have this issue?</a>"
                        });
                    }
                })
                .catch(error => {
                    this.$swal(error.message, "That thing is still around?", "question");
                });
        }
    }
};
</script>
