<template>
<div>
    <b-row>
        <b-col>
            <b-form-group id="input-group-2" label="Departmet:" label-for="input-2">
                <b-form-select @change="equipmentDetails" v-model="val" :options="items">
                    <option value="add">add New Department</option>
                </b-form-select>
            </b-form-group>
        </b-col>
    </b-row>
    <b-row v-if="Equipment.length !== 0">
        <b-col>
            <b-card class="h-100" style="overflow: scroll">
                <b-form-group>
                    <template v-slot:label>
                        <b>Choose your Equipments:</b><br>
                        <b-form-checkbox v-model="allSelected" :indeterminate="indeterminate" aria-describedby="Equipments" aria-controls="Equipments" @change="toggleAll">
                            {{ allSelected ? 'Un-select All' : 'Select All' }}
                        </b-form-checkbox>
                    </template>

                    <b-form-checkbox-group @click="selected" id="flavors" v-model="selected" :options="Equipment" name="flavors" class="ml-4" aria-label="Individual Equipment" stacked></b-form-checkbox-group>
                </b-form-group>
            </b-card>
        </b-col>
    </b-row>
    <b-row v-else>
        <b-col>
            <router-link tag="a" class to="/app/apps/departmentMaster">
                <i class="nav-icon i-Split-Horizontal"></i>
                <span class="item-name">Add new Equipment</span>
            </router-link>
        </b-col>
    </b-row>
</div>
</template>

<script>
import http_equip_details from '../../../http/equipment/equipment_details'
import departmentName from '../../../http/department/departmentInfo'
export default {
    data() {
        return {
            Equipment: [],
            selected: [],
            passVal: null, 
            allSelected: false,
            indeterminate: false,
            val: [],
            items: []
        }
    },
    computed: {},
    watch: {
        // value(value){

        // },
        selected(newVal, oldVal) {
            // Handle changes in individual flavour checkboxes
            if (newVal.length === 0) {
                this.indeterminate = false
                this.allSelected = false
            } else if (newVal.length === this.Equipment.length) {
                this.indeterminate = false
                this.allSelected = true
            } else {
                this.indeterminate = true
                this.allSelected = false
            }
            this.$emit('selectedEquipment', newVal)
        }
    },
    mounted() {
        this.getDepartmentName()
    },
    methods: {
        selectedEquipment(data){
            console.log(this.passVal)
            // this.$emit('selectedEquipment', data)
        },
        toggleAll(checked) {
            this.selected = checked ? this.Equipment.slice() : []
        },
        async equipmentDetails() {
            if (this.val == 'add') {
                this.$router.push({
                    path: '/app/apps/departmentMaster'
                })
            } else {
                await http_equip_details.getEquipmentDetailsByDepartment(this.val)
                    .then(res => {
                        this.Equipment = []
                        if (res) {
                            res.data.result.map(equipment => {
                                this.Equipment.push(equipment.equipment)
                            })
                        } else {
                            this.$swal({
                                type: "error",
                                title: "Oops...",
                                text: 'Something Went Wrong',
                                footer: "<a href>Why do I have this issue?</a>"
                            });
                        }
                    })
                    .catch(error => {
                        this.$swal(error.message, "That thing is still around?", "question");
                    })
            }
        },
        async getDepartmentName() {
            await departmentName.getDepartmentData().then(res => {
                    if (res) {
                        res.data.result.map(departName => {
                            this.items.push(departName.department)
                        })
                    } else {
                        this.$swal({
                            type: "error",
                            title: "Oops...",
                            text: 'Something Went Wrong',
                            footer: "<a href>Why do I have this issue?</a>"
                        });
                    }
                })
                .catch(error => {
                    this.$swal(error.message, "That thing is still around?", "question");
                })
        }
    }
}
</script>
