<template>
<div>
    <b-form-group>
        <b-form-checkbox-group id="flavors" @click.native="facilityDetails" v-model="val" :options="items" name="flavors" class="ml-4" aria-label="Individual Faqs" stacked></b-form-checkbox-group>
    </b-form-group>
</div>
</template>

<script>
import http_equip_details from '../../../http/equipment/equipment_details'
import facility from '../../../http/facility/facility'
import departmentName from '../../../http/department/departmentInfo'
export default {
    props: ['preVall'],
    data() {
        return {
            val: [],
            items: []
        }
    },
    mounted() {
        this.facilityData()
    },
    methods: {
        async facilityDetails() {
            this.$emit('seletedFacilityData', this.val)
        },
        // getting facility data
        async facilityData() {
            await facility.getFaciltiyData()
                .then(res => {
                    if (res) {
                        res.data.result.map(facilityName => {
                            this.items.push(facilityName.facility)
                        })
                        this.val = this.preVall
                    } else {
                        this.$swal({
                            type: "error",
                            title: "Oops...",
                            text: 'Something Went Wrong',
                            footer: "<a href>Why do I have this issue?</a>"
                        });
                    }
                })
                .catch(error => {
                    this.$swal(error.message, "That thing is still around?", "question");
                })
        },
    }
}
</script>
