<template>
<div>
    <b-form-select @change="equipmentDetails" v-model="val" :options="items" required>
    </b-form-select>
</div>
</template>

<script>
import http_equip_details from '../../../http/equipment/equipment_details'

import departmentName from '../../../http/department/departmentInfo'
export default {
    props: ['preVal'],
    data() {
        return { 
            selectOption: 'hello',
            val: null,
            items: []
        }
    },
    mounted() {
        this.getDepartmentName()
    },
    methods: {
        async equipmentDetails() {
            this.$emit('seletedData', this.val)
        },
        async getDepartmentName() {
            await departmentName.getDepartmentData().then(res => {
                    if (res) {
                        res.data.result.map(departName => {
                            this.items.push(departName.department)
                        })
                        this.val = this.preVal
                    } else {
                        this.$swal({
                            type: "error",
                            title: "Oops...",
                            text: 'Something Went Wrong',
                            footer: "<a href>Why do I have this issue?</a>"
                        });
                    }
                })
                .catch(error => {
                    this.$swal(error.message, "That thing is still around?", "question");
                })
        }
    }
}
</script>
