<template>
<div>
    <b-form-select @change="contactDetails" v-model="val" :options="items">
    </b-form-select>
</div>
</template>

<script>
import httpContact from '../../../http/contacts/contacts'
export default {
    props: ['preVal'],
    data() {
        return { 
            selectOption: 'hello',
            val: null,
            items: []
        }
    },
    mounted() {
        this.getContactDetails()
        if (this.preVal.vendors == "") {
          this.val = this.preVal.vendors;
        } else {
            this.val = this.preVal.vendors;
        }
    },
    methods: {
        async contactDetails() {
            this.$emit('seletedContact', this.val)
        },
        async getContactDetails() {
            await httpContact.contactByType('Vendor').then(res => {
                if (res) {
                    if (res.data.result) {
                        res.data.result.map(value=> this.items.push({value: value._id, text: value.name}))
                    }
                }
            })
        }
    }
}
</script>
