<template>
<b-col lg="12" xl="12" class="mb-30">
    <b-card b-card-link no-body class="mb-30  o-hidden">
        <b-card-header style="cursor:pointer" class="d-flex justify-content-between">
            <h3>Add On Options</h3>
            <div class="d-none">
                hello
            </div>
            <addOnOption />
        </b-card-header>
        <b-card-body>
            <div v-if="basicInfo !== null">
                <table class="table table-hover" v-if="basicInfo.addOnOptions.length">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Cost</th>
                            <th scope="col">Description</th>
                            <th scope="col">actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(d, index) in basicInfo.addOnOptions" :key="index" :value="index">
                            <td>{{d.name}}</td>
                            <td>{{d.cost}}</td>
                            <td>{{d.description}}</td>
                            <td>
                                <div class="d-flex flex-wrap align-content-center">
                                    <a @click="confirmMessage(d, index)" style="cursor: pointer;"><i class="i-Close-Window text-25 text-danger"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </b-card-body>
    </b-card>

</b-col>
</template>

<script>
import addOnOption from '../../forms/equipment/addOnOptions'
import httpAddOnOption from '../../../http/equipment/addOnOptions'
export default {
    props: ['basicInfo'],
    components: {
        addOnOption
    },
    methods: {
        async confirmMessage(data, index) {
            const addOnData = {
                addOnOptions: [data]
            }
            this.$swal({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then(result => {
                if (result.value) {
                    httpAddOnOption.pullPost(addOnData, this.$route.query._id).then(res => {
                        this.$swal("Deleted!", res.data.message, "success");
                        this.basicInfo.addOnOptions.splice(index, 1)
                    }).catch(error => {
                        this.$swal("Error!", error.message);
                    })
                }
            });
        },
    }
}
</script>
