<template>
<b-col lg="12" xl="12" class="mb-30">
    <b-card b-card-link no-body class="mb-30  o-hidden">
        <b-card-header style="cursor:pointer" class="d-flex justify-content-between">
            <h3>Varients</h3>
            <variantForm :basicInfo="basicInfo"/>
        </b-card-header>
        <b-card-body>
            <div>
                <p>Add Varients if this product comes in multiple versions, like size or colors</p>
            </div>
            <div v-if="basicInfo !== null">
                <table v-if="basicInfo.varientsOptions.length" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Img</th>
                            <th scope="col">keys</th>
                            <th scope="col">Price</th>
                            <th scope="col">SKU</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(d, index) in basicInfo.varientsCombinations" :key="index" :value="index">
                            <td>
                                <img width="30" src="https://cdn.onlinewebfonts.com/svg/img_234957.png" alt="atr">
                            </td>
                            <td>{{d.key}}</td>
                            <td>{{d.price}}</td>
                            <td>{{d.sku}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </b-card-body>
    </b-card>
</b-col>
</template>

<script>
import variantForm from '../../forms/equipment/addVarients'
export default {
    props: ['basicInfo'],
    components: {
        variantForm
    }
}
</script>
