<template>
<b-col md="12" lg="6" xl="12">
    <b-card no-body class="card-ecommerce-3 o-hidden mb-30">
        <div class="d-flex flex-column flex-sm-row">
            <b-row>
                <b-col md="12" lg="6" xl="6">
                    <div v-if="basicInfo !== null">
                        <img v-if="basicInfo.equipmentImg" alt="equipment image" title="image tooltip" :src="basicInfo.equipmentImg" class="card-img-left" style="height: 500px" width="100%" />

                        <img v-else  :alt="basicInfo.basicInfo.equipment+ ' image'" title="image not available" src="https://sainfoinc.com/wp-content/uploads/2018/02/image-not-available.jpg" class="card-img-left" style="height: 500px" width="100%" />
                    </div>
                    <div v-else>
                        <h3>Loading...</h3>
                    </div>
                </b-col>
                <b-col md="12" lg="6" xl="6">
                    <div class="flex-grow-1 p-4" v-if="basicInfo !== null" style="height: 60vh; overflow: scroll;">
                        <div class="card-body p-0">
                            <div class="d-flex border-bottom justify-content-between  p-3 ">
                                <div class="flex-grow-1">
                                    <span class="text-small text-muted">Department</span>
                                    <h5 class="m-0">{{basicInfo.basicInfo.department}}</h5>
                                </div>
                                <div class="flex-grow-1" style="width: min-content;">
                                    <span class="text-small text-muted">Facility</span>
                                    <h5 class="m-0 d-flex" style="flex-wrap: wrap;">
                                        <span class="mr-2" v-for="(data, index) in facility" :key="index">
                                            {{data +', '}}
                                        </span>
                                    </h5>
                                </div>
                            </div>
                            <div class="d-flex border-bottom justify-content-between  p-3 ">
                                <div class="flex-grow-1">
                                    <span class="text-small text-muted">SKU/Code</span>
                                    <h5 class="m-0">{{basicInfo.basicInfo.skuCode}}</h5>
                                </div>
                                <div class="flex-grow-1">
                                    <span class="text-small text-muted">Type</span>
                                    <h5 class="m-0">{{basicInfo.basicInfo.Type}}</h5>
                                </div>
                            </div>
                            <div class="d-flex border-bottom justify-content-between p-3">
                                <div class="flex-grow-1">
                                    <span class="text-small text-muted">Model</span>
                                    <h5 class="m-0">{{basicInfo.basicInfo.modelNo}}</h5>
                                </div>

                                <!-- start -->
                                <div v-if="basicInfo.basicInfo.modelLaunchDate" class="flex-grow-1">
                                    <span class="text-small text-muted">Model Launch Date</span>
                                    <h5 class="m-0">{{basicInfo.basicInfo.modelLaunchDate.split('-')[0]}}/{{basicInfo.basicInfo.modelLaunchDate.split('-')[1]}}</h5>
                                </div>
                                <div v-else class="flex-grow-1">
                                    <span class="text-small text-muted">Model Launch Date</span>
                                    <h5 class="m-0">....</h5>
                                </div>

                                <!-- end -->

                                <!-- start -->

                                <div v-if="basicInfo.basicInfo.endOfLifeDate" class="flex-grow-1">
                                    <span class="text-small text-muted">End of Life Date</span>
                                    <h5 class="m-0">{{basicInfo.basicInfo.endOfLifeDate.split('-')[0]}}/{{basicInfo.basicInfo.endOfLifeDate.split('-')[1]}}</h5>
                                </div>

                                <div v-else class="flex-grow-1">
                                    <span class="text-small text-muted">End of Life Date</span>
                                    <h5 class="m-0">....</h5>
                                </div>

                                <!-- end -->
                            </div>
                            <div class="d-flex justify-content-between p-3 mb-1">
                                <div class="flex-grow-1">
                                    <span class="text-small text-muted">Description</span>
                                    <h5 class="m-0">{{basicInfo.basicInfo.description}}</h5>
                                </div>
                            </div>
                            <div class="p-3 mb-1">
                                <b-row>
                                    <b-col md="12" lg="6" xl="8">
                                        <b-form-group id="input-group-1" label="Upload Image:" label-for="input-1">
                                            <b-form-file v-model="file" name="file" :state="Boolean(file)" placeholder="Choose a file or drop it here..." drop-placeholder="Drop file here..." @change="onFilePicked" :disabled="uploading"></b-form-file>
                                        </b-form-group>
                                    </b-col>
                                    <b-col md="12" lg="6" xl="4">
                                        <b-form-group label="Submit:" label-for="input-1">
                                            <b-button :disabled="uploading" class="ml-2" type="submit" variant="primary" @click="uploadImage">submit</b-button>
                                        </b-form-group>
                                        <div v-if="loading" class="ml-3 mt-3">
                                            <div class="spinner sm spinner-primary mt-3"></div>
                                        </div>
                                    </b-col>
                                </b-row>
                            </div>
                        </div>
                    </div>
                    <div v-else>
                        <h3>Loading...</h3>
                    </div>
                </b-col>
            </b-row>
        </div>
    </b-card>
</b-col>
</template>

<script>
import httpImageUpload from '../../../http/uploadImageToS3/uploadImage'
import httpTechnicalDetails from '../../../http/equipment/technicalDetails'
export default {
    props: ['basicInfo'],
    data() {
        return {
            file: '',
            loading: false,
            uploading: false,
            facility: [],
            fileType: ['jpg', 'jpeg', 'png', 'gif']
        }
    },
    watch: {
        basicInfo: {
            deep: true,
            handler(newVal, oldVal) {
                this.getFacility()
            },
        }
    },
    methods: {
        onFilePicked(event) {
            this.file = event.target.files[0]
            if (this.file.name.lastIndexOf('.') <= 0) {
                return alert('Please add a vaild file!')
            }
        },
        async getFacility() {
            await httpTechnicalDetails.getTechnicalDetails(this.basicInfo.basicInfo.equipment).then(res => {
                if (res) {
                    if (res.data.result) {
                        this.facility = res.data.result.facility
                    }
                }
            })
        },
        async uploadImage() {
            this.loading = true
            this.uploading = true
            const fileExtention = this.file.name.split('.')
            const lastName = fileExtention[fileExtention.length - 1]
            var UpdatedformData = new FormData()
            UpdatedformData.append('file', this.file)
            if (this.fileType.some(function (item) {
                    return (new RegExp('\\b' + item + '\\b')).test(lastName);
                })) {
                await httpImageUpload.upload(UpdatedformData, lastName, this.$route.query._id).then(res => {
                    if (res) {
                        if (res.data.status == 'success') {
                            this.$swal({
                                position: "top-end",
                                type: "success",
                                title: "Your work has been saved",
                                showConfirmButton: false,
                                timer: 1500
                            });
                            location.reload();
                        } else {
                            this.$swal({
                                type: "error",
                                title: "Oops...",
                                text: 'Something Went Wrong',
                                footer: "<a href>Why do I have this issue?</a>"
                            });
                            this.loading = false
                            this.uploading = false
                        }
                    }
                }).catch(err => {
                    this.$swal({
                        type: "error",
                        title: "Oops...",
                        text: err.message,
                        footer: "<a href>Why do I have this issue?</a>"
                    });
                    this.loading = false
                    this.uploading = false
                })
            } else {
                this.loading = false
                this.uploading = false
                alert(
                    `This extension is not allowed, please upload your file with these extensions. ${this.fileType}`
                )
            }
        }
    }
}
</script>
