<template>
<b-row>
    <b-col lg="6" md="6" sm="12">
        <b-card class="card-icon-bg card-icon-bg-primary mb-2">
            <div class="ml-4 mt-3">
                <p class="text-muted mt-2 mb-0">Make</p>
                <p class="text-primary text-20 line-height-1 mb-2" v-if="basicInfo !== null">{{makeData}}</p>
                <p class="text-primary text-20 line-height-1 mb-2" v-else>Loading...</p>
            </div>
            <div class="ml-4 mt-3">
                <p class="text-muted mt-2 mb-0">Model</p>
                <p class="text-primary text-20 line-height-1 mb-2" v-if="basicInfo !== null">{{basicInfo.basicInfo.modelNo}}</p>
                <p class="text-primary text-20 line-height-1 mb-2" v-else>Loading...</p>
            </div>
        </b-card>
    </b-col>
    <b-col lg="6" md="6" sm="12">
        <b-card class="card-icon-bg card-icon-bg-primary o-hidden mb-30 text-center">
            <i class="i-Like-2"></i>
            <div class="ml-4 mt-3">
                <div class="d-flex justify-content-between">
                    <p class="text-muted mt-0 mb-0">Rating</p>
                    <p class="text-primary text-24 line-height-1 mb-1" v-if="TOTALRATING">{{TOTALRATING}}/5</p>
                    <p v-else class="text-primary text-24 line-height-1 mb-1">0/5</p>
                </div>
                <div class="stars-outer">
                    <div class="stars-inner" v-bind:style="{width: TOTALAVRAGE}"></div>
                </div>
            </div>
            <div class="ml-4 mt-3">
                <div>
                    <span v-if="basicInfo">
                        <h4 class="text-primary line-height-1 mb-2">{{basicInfo.rattings.length }} people reviews</h4>

                    </span>
                    <span v-else>
                       0 people reviews
                    </span>
                </div>
                <div>
                    <span> 
                        <p class="text-primary line-height-1" v-if="TOTALRATING"> {{TOTALRATING }} out of 5 stars</p> 
                        <p class="text-primary line-height-1" v-else> 0 out of 5 stars</p> 
                    </span>
                </div>
            </div>
        </b-card>
    </b-col>
</b-row>
</template>

<script>
import MdStarOutlineIcon from 'vue-ionicons/dist/md-star-outline.vue'

import IosStarOutlineIcon from 'vue-ionicons/dist/ios-star-outline.vue'
import IosStarIcon from 'vue-ionicons/dist/ios-star.vue'

import httpContact from '../../../http/contacts/contacts'
export default {
    components: {
        MdStarOutlineIcon,
        IosStarOutlineIcon,
        IosStarIcon,
    },
    props: ['basicInfo'],
    data() {
        return {
            makeData: null,
            TOTALRATING: null,
            TOTALAVRAGE: null
        }
    },
    watch: {
        basicInfo: {
            deep: true,
            handler(newVal, oldVal) {
                if (newVal) {
                    this.getAverageOfRattings()
                }
            },
        }
    },
    methods: {
        getAverageOfRattings() {
            if (this.basicInfo.rattings) {
                const arrayVal = []
                this.basicInfo.rattings.map(val => {
                    var msgTotal = val.ratting.reduce(function (prev, cur) {
                        return parseInt(prev) + parseInt(cur.val);
                    }, 0);
                    const totalEachRating = parseInt(msgTotal / val.ratting.length)

                    arrayVal.push(parseInt(totalEachRating)) 
                })

                var sum = arrayVal.reduce(function (a, b) {
                    return a + b
                }, 0)

                this.TOTALRATING = parseInt(sum / arrayVal.length)

                const getPercentage = this.TOTALRATING / 5 * 100
                const starPercentageRounded = `${Math.round(getPercentage / 10) * 10}%`
                this.TOTALAVRAGE = starPercentageRounded
            }
            this.make()
        },
        async make() {
            console.log(this.basicInfo.basicInfo.manufecture)
            if (this.basicInfo.basicInfo.manufecture) {
                await httpContact.contactById(this.basicInfo.basicInfo.manufecture).then(res => {
                    if (res) {
                        this.makeData = res.data.result.name
                    }
                })
            }
        }
    }
}
</script>
