<template>
<b-col lg="4" xl="4" class=" mb-30">
    <b-card style="height: 60vh; overflow: scroll;">
        <div class="d-flex justify-content-between">
            <h3 class="ul-widget__head-title">
                Consumable / Spares / Accessories
            </h3>
            <consumableForm />
        </div>

        <div class="ul-widget__body">
            <table class="table">
                <thead class>
                    <tr>
                        <th scope="col">Consumable / Spares / Accessories</th>
                        <th scope="col">Cost</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(d, index) in consumableData" :value="index" :key="index">
                        <td>{{d.name}}</td>
                        <td class="font-weight-bold">{{d.cost}} INR</td>
                        <td>
                            <a @click="confirmMessage(d, index)" style="cursor: pointer;"><i class="i-Close-Window text-25 text-danger"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </b-card>
</b-col>
</template>

<script>
import consumableForm from '../../forms/equipment/consumableSpares'
import httpConsumable from '../../../http/consumable/consumable'
export default {
    data() {
        return {
            consumableData: []
        }
    },
    props: ['basicInfo'],
    components: {
        consumableForm
    },
    watch: {
        basicInfo: {
            deep: true,
            handler(newVal, oldVal) {
                if (newVal) {
                    this.getData()
                }
            },
        }
    },
    methods: {
        // confirm-message-alert
        async confirmMessage(data, index) {
            const dataJ = {
                consumables: [data._id]
            }
            this.$swal({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then(result => {
                if (result.value) {
                    httpConsumable.pullPost(dataJ, this.$route.query._id).then(res => {
                        this.$swal("Deleted!", res.data.message, "success");
                        this.consumableData.splice(index, 1)
                    }).catch(error => {
                        this.$swal("Error!", error.message);
                    })
                }
            });
        },
        async getData() {
            const data = {
                _ids: this.basicInfo.consumables
            }
            await httpConsumable.gettingMultiple(data).then(res => {
                if (res) {
                    if (res.data.status == 'success') {
                        this.consumableData = res.data.result
                    }
                }
            })
        }
    }
}
</script>
