<template>
<b-col lg="8" xl="8" class=" mb-30">
    <b-card style="height: 60vh; overflow: scroll;">
        <div class="d-flex justify-content-between">
            <h3 class="ul-widget__head-title">
                Cost and Warranty
            </h3>
            <costandwarranty :costInfo="basicInfo" />
        </div>
        <br>
        <b-row>
            <b-col>
                <table class="table">
                    <thead class>
                        <tr>
                            <th scope="col">Equipment Cost & Warranty</th>
                            <th scope="col">Percentage %</th>
                            <th scope="col">Cost</th>
                        </tr>
                    </thead>
                    <tbody v-if="basicInfo !== null">
                        <tr>
                            <td>Equipment Price including installation and 1 year warranty</td>
                            <td class="font-weight-bold"></td>
                            <td class="font-weight-bold" v-if="basicInfo.costAndWarranty.PriceInstallationWarranty">{{basicInfo.costAndWarranty.PriceInstallationWarranty}} INR</td>
                            <td class="font-weight-bold" v-else>0 INR</td>
                        </tr>
                        <tr>
                            <td>Annual Maintenance Contract</td>
                            <td class="font-weight-bold">{{basicInfo.costAndWarranty.AnnualMaintenanceContract}} %</td>
                            <td class="font-weight-bold">{{AnnualMaintenanceContractTotal}} INR</td>
                        </tr>
                        <tr>
                            <td>Annual AMC Escalation</td>
                            <td class="font-weight-bold">{{basicInfo.costAndWarranty.AnnualAMCEscalation}} %</td>
                            <td class="font-weight-bold">{{AnnualAMCEscalationTotal}} INR</td>
                        </tr>
                        <tr>
                            <td>Comprensive Maintenance Contract</td>
                            <td class="font-weight-bold">{{basicInfo.costAndWarranty.ComprensiveMaintenanceContract}} %</td>
                            <td class="font-weight-bold">{{ComprensiveMaintenanceContractTotal}} INR</td>
                        </tr>
                        <tr>
                            <td>Annual CMC Escalation</td>
                            <td class="font-weight-bold">{{basicInfo.costAndWarranty.AnnualCMCEscalation}} %</td>
                            <td class="font-weight-bold">{{AnnualCMCEscalationTotal}} INR</td>
                        </tr>
                        <tr>
                            <td>Options Selected</td>
                            <td class="font-weight-bold">
                                <div v-if="basicInfo.costAndWarranty.OptionsSelected.length">
                                    <b-button id="popover-target-1">
                                        Hover Me
                                    </b-button>
                                    <b-popover target="popover-target-1" triggers="hover" placement="top">
                                        <template v-slot:title>Selected Options</template>
                                        <table class="table">
                                            <thead>
                                                <th scope="col">Name</th>
                                                <th scope="col">Cost</th>
                                                <th scope="col">Description</th>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(i, index) in basicInfo.costAndWarranty.OptionsSelected" :key="index" :value="i">
                                                    <td>
                                                        {{i.name}}
                                                    </td>
                                                    <td>
                                                        {{i.cost}}
                                                    </td>
                                                    <td>
                                                        {{i.description}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </b-popover>
                                </div>
                                <div v-else>
                                    <span class="text-danger">
                                        Options Not Selected
                                    </span>
                                </div>
                            </td>
                            <td class="font-weight-bold">{{OptionsSelectedTotal}}</td>
                        </tr>
                        <tr>
                            <td>Total Acquisition Cost</td>
                            <td></td>
                            <td class="font-weight-bold">{{TotalAcquisitionCost}} INR</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <b-button variant="outline-primary">Calculate Life-Cycle Cost</b-button>
                            </td>
                        </tr>
                    </tbody>
                    <tbody v-else>
                        <div style="text-align:center">
                            <span class="spinner-glow spinner-glow-primary mr-5 mb-4"></span>
                        </div>
                    </tbody>
                </table>
            </b-col>
        </b-row>
    </b-card>
</b-col>
</template>

<script>
import costandwarranty from '../../../components/forms/equipment/costAndWarranty'
export default {
    props: ['basicInfo'],
    components: {
        costandwarranty
    },
    computed: {
        AnnualMaintenanceContractTotal: function () {
            if (this.basicInfo) {
                if (this.basicInfo.costAndWarranty) {
                    return (parseInt(this.basicInfo.costAndWarranty.PriceInstallationWarranty) / 100) * parseInt(this.basicInfo.costAndWarranty.AnnualMaintenanceContract)
                }
            }
        },
        AnnualAMCEscalationTotal: function () {
            if (this.basicInfo) {
                if (this.basicInfo.costAndWarranty) {
                    return (this.AnnualMaintenanceContractTotal / 100) * parseInt(this.basicInfo.costAndWarranty.AnnualAMCEscalation)
                }
            }
        },
        ComprensiveMaintenanceContractTotal: function () {
            if (this.basicInfo) {
                if (this.basicInfo.costAndWarranty) {
                    return (parseInt(this.basicInfo.costAndWarranty.PriceInstallationWarranty) / 100) * parseInt(this.basicInfo.costAndWarranty.ComprensiveMaintenanceContract)
                }
            }
        },
        AnnualCMCEscalationTotal: function () {
            if (this.basicInfo) {
                if (this.basicInfo.costAndWarranty) {
                    return (this.ComprensiveMaintenanceContractTotal / 100) * parseInt(this.basicInfo.costAndWarranty.AnnualCMCEscalation)
                }
            }
        },
        OptionsSelectedTotal: function () {
            if (this.basicInfo) {
                if (this.basicInfo.costAndWarranty) {
                    if (this.basicInfo.costAndWarranty.OptionsSelected.length) {
                        const data = this.basicInfo.costAndWarranty.OptionsSelected
                        const costValues = []
                        data.map(value => {
                            costValues.push(parseInt(value.cost))
                        })
                        return costValues.reduce((a, b) => a + b, 0)
                    }
                }
            }
        },
        TotalAcquisitionCost: function () {
            if (this.basicInfo) {
                if (this.basicInfo.costAndWarranty) {
                    if (this.OptionsSelectedTotal) {
                        return parseInt(this.basicInfo.costAndWarranty.PriceInstallationWarranty) + this.OptionsSelectedTotal   
                    }else{
                        return this.basicInfo.costAndWarranty.PriceInstallationWarranty
                    }
                }
            }
        },

    }
}
</script>
