<template>
<b-col lg="4" xl="4" class="mb-30">
    <b-card style="height: 60vh; overflow: scroll;">
        <div class="d-flex justify-content-between">
            <h3 class="ul-widget__head-title">
                Experts And KOL
            </h3>
            <formExport class="mb-30" :basicInfo="contactValue" />
        </div>
        <div class="d-flex" v-for="(d, index) in contactValue" :value="index" :key="index">
            <img class="avatar-md rounded mr-md-3 mb-2" src="https://image.shutterstock.com/image-vector/profile-placeholder-image-gray-silhouette-260nw-1153673752.jpg" alt />
            <div class="flex-grow-1">
                <h6 class="m-0">{{d.name}}</h6>
                <p class="m-0 text-small text-muted">{{d.company}}</p>
            </div>
            <div class="d-flex flex-column mb-3">
                <button class="btn btn-outline-primary btn-rounded btn-sm mt-md-0 mt-2">Ask Question</button>
                <button class="btn btn-outline-primary btn-rounded btn-sm mt-md-0 mt-2">Schedule a call</button>
            </div>
            <div class="d-flex flex-wrap align-content-center">
                <a @click="confirmMessage(d, index)" style="cursor: pointer;"><i class="i-Close-Window text-25 text-danger"></i></a>
            </div>
        </div>
    </b-card>
</b-col>
</template>

<script>
import formExport from '../../forms/equipment/expert'
import httpExpert from '../../../http/equipment/expert'
export default {
    props: ['basicInfo'],
    components: {
        formExport
    },
    data() {
        return {
            contactValue: []
        }
    },
    watch: {
        basicInfo: {
            deep: true,
            handler(newVal, oldVal) {
                if (newVal) {
                    this.getData()
                }
            },
        }
    },
    methods: {
        // confirm-message-alert
        async confirmMessage(data, index) {
            const dataJ = {
                experts: [data._id]
            }
            this.$swal({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then(result => {
                if (result.value) {
                    httpExpert.pullPost(dataJ, this.$route.query._id).then(res => {
                        this.$swal("Deleted!", res.data.message, "success");
                        this.contactValue.splice(index, 1)
                    }).catch(error => {
                        this.$swal("Error!", error.message);
                    })
                }
            });
        },
        async getData() {
            const _ids = {
                _ids: this.basicInfo.experts
            }
            await httpExpert.getInsert(_ids).then(res => {
                if (res) {
                    this.contactValue = res.data.result
                }
            })
        }
    }
}
</script>
