<template>
<b-col lg="4" xl="4" class=" mb-30">
    <b-card style="height: 60vh; overflow: scroll;">
        <div class="d-flex justify-content-between">
            <h3 class="ul-widget__head-title">
                FAQ
            </h3>
            <faqsForm />
        </div>
        <div class="ul-widget__body">
            <div class="ul-widget3" v-if="faqs">
                <div class="ul-widget3-item" v-for="(d, index) in faqs.faqs" :value="index" :key="index">
                    <div class="ul-widget3-header">
                        <div class="ul-widget3-info d-flex">
                            <a class="__g-widget-username ul-cursor--pointer text-primary" v-b-toggle="d._id">
                                <span class="t-font-bolder">{{d.Question}}</span>
                            </a>
                            <br />
                        </div>
                        <div class="d-flex flex-column flex-wrap align-content-center">
                            <a @click="openMl(d, index)" class="ul-cursor--pointer">
                                <i class="i-Eraser-2 text-25 text-success mr-2"></i>
                            </a>

                            <a @click="confirmMessage(d, index)" style="cursor: pointer;"><i class="i-Close-Window text-25 text-danger"></i></a>
                        </div>
                    </div>
                    <b-collapse :id="d._id" class="">
                        {{d.Answer}}
                    </b-collapse>
                </div>
            </div>
            <div v-else>
                Loading...
            </div>
            <b-modal v-model="show" title="FAQs Master" :hide-footer="hideFooter">
            <b-form @submit="onSubmit" v-if="show">
                <b-container fluid>
                    <b-row>
                        <b-col>
                            <b-form-group label="Question:" label-for="input-1">
                                <b-form-input required id="input-1" :disabled="true" v-model="editedData.Question" placeholder="Type question..."></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col>
                            <b-form-group label="Answer:" label-for="input-2">
                                <b-form-textarea required id="input-2" v-model="editedData.Answer" placeholder="Type answer..."></b-form-textarea>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col>
                            <b-form-group label="Tags" label-for="input-3">
                                <vue-tags-input v-model="tag" :tags="editedData.tags" class="tag-custom text-15 mt-2" @tags-changed="newTags => (editedData.tags = newTags)" placeholder="+ add" />
                            </b-form-group>
                        </b-col>
                    </b-row>
                </b-container>
                <div class="d-flex justify-content-end mt-30">
                    <b-button class="ml-2" type="submit" variant="primary">Save</b-button>
                    <b-button class="ml-2" type="reset" variant="danger" @click="show = false">Close</b-button>
                </div>
            </b-form>
        </b-modal>
        </div>
    </b-card>
</b-col>
</template>

<script>
import faqsForm from '../../forms/equipment/faqs'
import httpFaqs from '../../../http/faqs/FAQs'

// updateForm 
import updateForm from '../../forms/equipment/faqsUpdate'
export default {
    props: ['faqs'],
    components: {
        faqsForm,
        updateForm
    },
    data() {
        return {
            FAQs: null,
            hideFooter: true,
            tag: "",
            show: false,
            editedData: {
                Question: '',
                Answer: '',
                tags: []
            },
        }
    },
    computed: {},
    methods: {
        openMl(d, index) {
            this.show = true
            this.editedData = d
            this.editedData['index'] = index
        },
        async onSubmit(){
            const data = {
                Question: this.editedData.Question,
                Answer: this.editedData.Answer
            }
            await httpFaqs.updateFaqsOnEquip(data, this.$route.query._id).then(res=>{
                if (res) {
                    if (res.data.status == 'success') {
                        this.show = false
                        this.$swal({
                            position: "top-end",
                            type: "success",
                            title: "Your work has been saved",
                            showConfirmButton: false,
                            timer: 1500
                        });
                        this.faqs.faqs[this.editedData.index].Answer = data.Answer
                    }
                }
            })
        },
        // confirm-message-alert
        async confirmMessage(data, index) {
            const dataJ = {
                faqs: []
            }
            dataJ.faqs.push(data)
            this.$swal({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then(result => {
                if (result.value) {
                    httpFaqs.deleteFaqsEquipment(dataJ, this.$route.query._id).then(res => {
                        this.$swal("Deleted!", res.data.message, "success");
                        this.faqs.faqs.splice(index, 1)
                    }).catch(error => {
                        this.$swal("Error!", error.message);
                    })
                }
            });
        },
    }
}
</script>
