<template>
<b-col lg="4" xl="4" md="12" class="mb-30">
    <b-card style="height: 60vh; overflow: scroll;">
        <div class="d-flex justify-content-between">
            <h3 class="ul-widget__head-title">
                Other Models
            </h3>
        </div>
        <br>
        <div v-if="otherModelsVal.length">
            <div>
                <b-form-group>
                    <b-form-checkbox-group id="flavors" v-model="selected" name="flavors" class="ml-2 mt-2" aria-label="Individual Faqs" stacked>
                        <b-form-checkbox v-for="(d, index) in otherModelsVal" :value="d" :key="index">
                            <div class="d-flex">
                                <div class="mb-2 ml-2">
                                    <img class="avatar-md rounded" :src="d.equipmentImg" alt />
                                </div>
                                <div class="ml-3">
                                    <h6 class="m-0">{{d.basicInfo.equipment }} {{d.basicInfo.modelNo}}</h6>
                                    <p class="m-0 text-small text-muted">{{d.basicInfo.manufecture}}</p>
                                </div>
                                <div class="ml-2">
                                    <i @click="getInfo(d._id)" class="i-Eye text-25 text-info cursor-pointer"></i>
                                </div>
                            </div>
                        </b-form-checkbox>
                    </b-form-checkbox-group>
                </b-form-group>

                <div class="d-flex flex-column flex-md-row text-center text-md-left text-lg-left flex-lg-row align-items-center border-bottom-dotted-dim mb-3">
                    <div class="flex-grow-1">
                        <p class="m-0 text-small text-muted">Select the model to compare</p>
                    </div>
                    <div>
                        <button v-b-toggle.$refs.collapse-f class="btn btn-outline-primary btn-rounded btn-sm mt-md-0 mt-2" @click="sendDataToCompairTable">Compare</button>
                    </div>
                </div>
            </div>
        </div>
        <div v-else>
            <h3 style="color: red">Other Models Not Available</h3>
        </div>
    </b-card>
</b-col>
</template>

<script>
import getInfo from '../../../http/equipment/basicInfo'
import httpContact from '../../../http/contacts/contacts'
export default {
    props: ['basicInfo'],
    data() {
        return {
            selected: [],
            otherModelsVal: [],
            val: [],
            technicalDetails: []
        }
    },
    watch: {
        basicInfo: {
            deep: true,
            handler(newVal, oldVal) {
                if (newVal) {
                    this.otherModels()
                }
            },
        }
    },
    methods: {
        async getMenufecture() {
            if (this.otherModelsVal.length) {
                this.otherModelsVal.map(value => {
                    if (value.basicInfo.manufecture) {
                        httpContact.contactById(value.basicInfo.manufecture).then(res => {
                            if (res) {
                                const fullName = res.data.result.name
                                value.basicInfo.manufecture = fullName
                            }
                        })
                    }
                })
            }
        },
        async getInfo(id) {
            this.$router.push({
                path: `/app/dashboards/dashboard.v5?_id=${id}`
            })
            location.reload()
        },
        sendDataToCompairTable() {
            this.$emit("selectedCheckBox", this.selected);
        },
        async otherModels() {
            await getInfo.getOtherModels(this.basicInfo.basicInfo.equipment).then(res => {
                    if (res) {
                        this.otherModelsVal = []
                        res.data.result.map(value => {
                            this.technicalDetails.push(value.technicalDetails)
                            if (value._id !== this.$route.query._id) {
                                this.otherModelsVal.push(value)
                            }
                        })
                        this.getMenufecture()
                    }
                })
                .catch(err => {
                    console.log(err)
                })
        },
    }
};
</script>
