<template>
<b-col lg="4" xl="4" class=" mb-30">
    <b-card style="height: 60vh; overflow: scroll;">
        <div class="d-flex justify-content-between">
            <h3 class="ul-widget__head-title">
                Hospitals Using this
            </h3>
            <prominetForm />
        </div>

        <div class="ul-widget__body">
            <div class="ul-widget3" v-for="(d, index) in hospitalVal" :value="index" :key="index">
                <div class="ul-widget3-item">
                    <div class="ul-widget3-header">
                        <div class="ul-widget3-info">
                            <a href="#" class="__g-widget-username">
                                <span class="t-font-bolder">{{d.name}}</span>
                            </a>
                            <a v-if="d.attachment" :href="d.attachment" target="_blank"><i class="i-File text-25 text-success"></i>
                            </a>
                            <br />
                        </div>
                        <div class="d-flex flex-column">
                            <a @click="confirmMessage(d, index)" style="cursor: pointer;"><i class="i-Close-Window text-25 text-danger"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </b-card>
</b-col>
</template>

<script>
import prominetForm from '../../forms/equipment/addProminentHos'
import httpProminent from '../../../http/equipment/prominentHospital'
export default {
    props: ['basicInfo'],
    components: {
        prominetForm
    },
    data() {
        return {
            hospitalVal: []
        }
    },
    watch: {
        basicInfo: {
            deep: true,
            handler(newVal, oldVal) {
                if (newVal) {
                    this.getInfo()
                }
            },
        }
    },
    methods: {
        // confirm-message-alert
        async confirmMessage(data, index) {
            const dataJ = {
                prominentHospitals: [data._id]
            }
            this.$swal({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then(result => {
                if (result.value) {
                    httpProminent.pullPost(dataJ, this.$route.query._id).then(res => {
                        this.$swal("Deleted!", res.data.message, "success");
                        this.hospitalVal.splice(index, 1)
                    }).catch(error => {
                        this.$swal("Error!", error.message);
                    })
                }
            });
        },
        async getInfo() {
            if (this.basicInfo) {
                const _ids = {
                    _ids: this.basicInfo.prominentHospitals
                }
                await httpProminent.getInsert(_ids).then(res => {
                    if (res) {
                        this.hospitalVal = res.data.result
                    }
                })
            }
        }
    }
}
</script>
