<template>
<b-col lg="4" xl="4" md="12" class="mb-30">
    <b-card style="height: 60vh; overflow: scroll;">
        <div class="d-flex justify-content-between">
            <h3 class="ul-widget__head-title">
                Related Equipment
            </h3>
            <selectEquipForm />
        </div>
        <br>
        <div v-if="basicInfo">
            <div class="d-flex flex-column flex-md-row text-center text-md-left text-lg-left flex-lg-row align-items-center border-bottom-dotted-dim pb-3 mb-3" v-for="(d, index) in basicInfo.relatedEquipment" :value="index" :key="index">
                <div class="flex-grow-1">
                    <h6 class="ml-4">{{d}}</h6>
                </div>
                <div>
                    <i @click="filterEquipment(d)" class="i-Eye text-25 text-info cursor-pointer"></i>
                    <a @click="confirmMessage(d, index)" style="cursor: pointer;"><i class="i-Close-Window text-25 text-danger"></i></a>
                </div>
            </div>
        </div>
        <div v-else>Loading....</div>
    </b-card>
</b-col>
</template>

<script>
import selectEquipForm from '../../forms/equipment/relatedEquipment'
import httpRelated from '../../../http/equipment/basicInfo'
export default {
    props: ['basicInfo'],
    components: {
        selectEquipForm
    },
    methods: {
        filterEquipment(filterData){
            this.$router.push({
                path: `/app/apps/equipmentMaster?search_query=${filterData}`
            })
        },
        // confirm-message-alert
        async confirmMessage(data, index) {
            const dataJ = {
                relatedEquipment: []
            }
            dataJ.relatedEquipment.push(data)
            this.$swal({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then(result => {
                if (result.value) {
                    httpRelated.relatedEquipmentDelete(dataJ, this.$route.query._id).then(res => {
                        this.$swal("Deleted!", res.data.message, "success");
                        this.basicInfo.relatedEquipment.splice(index, 1)
                    }).catch(error => {
                        this.$swal("Error!", error.message);
                    })
                }
            });
        },
    }

}
</script>
