<template>
<b-col lg="4" xl="4" class=" mb-30">
    <b-card style="height: 60vh; overflow: scroll;">
        <div class="d-flex justify-content-between">
            <h3 class="ul-widget__head-title">
                Statutery Requirement
            </h3>
            <StatuteryReq />
        </div>
        <div class="ul-widget__body" v-if="basicInfo">
            <div class="ul-widget3">
                <div class="ul-widget3-item" v-for="(d, index) in basicInfo.statuteryRequirement" :value="d" :key="index">
                    <div class="ul-widget3-header">
                        <div class="ul-widget3-info">
                            <a :href="d.fileLink" target="_blank" class="__g-widget-username">
                                <li><span class="t-font-bolder">{{d.displayName}}</span></li>
                            </a>
                            <br />
                        </div>
                        <div class="d-flex flex-wrap align-content-center">
                            <a @click="confirmMessage(d, index)" style="cursor: pointer;"><i class="i-Close-Window text-25 text-danger"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-else>Loading....</div>
    </b-card>
</b-col>
</template>

<script>
import StatuteryReq from '../../forms/equipment/statuteryReq'
import httpStatuteryReq from '../../../http/equipment/statutery'
export default {
    props: ['basicInfo'],
    components: {
        StatuteryReq
    },
    methods:{
        async confirmMessage(data, index) {
            this.$swal({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then(result => {
                if (result.value) {
                    httpStatuteryReq.pullPost(data, this.$route.query._id).then(res => {
                        this.$swal("Deleted!", res.data.message, "success");
                        this.basicInfo.statuteryRequirement.splice(index, 1)
                    }).catch(error => {
                        this.$swal("Error!", error.message);
                    })
                }
            });
        },
    }
}
</script>
