<template>
<b-col lg="4" xl="4" class="mb-30">
    <b-card style="height: 60vh; overflow: scroll;">
        <div class="d-flex justify-content-between">
            <div>
                <h3 class="ul-widget__head-title" v-if="basicInfo !== null">
                    Technical Details - {{basicInfo.basicInfo.name}}
                </h3>
                <h3 class="ul-widget__head-title" v-else>
                    Technical Details - Loading...
                </h3>
            </div>
            <div>
                <b-button @click="getForm" variant="outline-primary">Edit</b-button>
                <b-modal v-model="show" id="modal-4" title="Technical Details">
                    <b-container>
                        <b-row v-for="(formData, index) in createForm" :key="index">
                            <b-col>
                                <b-form-group v-bind:label="formData.key" :label-for="'input-'+index">
                                    <b-form-input :id="'input-'+index" v-model="formData.value" v-bind:placeholder="formData.key+'...'" required></b-form-input>
                                </b-form-group>
                            </b-col>
                        </b-row>
                    </b-container>
                    <div slot="modal-footer" class="w-100">
                        <b-button variant="primary" size="sm" class="float-right" @click="save">
                            Save
                        </b-button>
                    </div>
                </b-modal>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class=" mb-2">
                    <table class="table">
                        <thead class>
                            <tr>
                                <th scope="col">Technical</th>
                                <th scope="col">Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(value, index) in createForm" :key="index">
                                <td>{{value.key}}</td>
                                <td class="font-weight-bold">{{value.value}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div v-if="createForm.length !== 0" class="d-flex justify-content-end">
                    <b-button v-show="syncBoolean" variant="outline-primary" @click="syncTechnicalDetails" title="Save it after syncing">Sync</b-button>
                    <div class="spinner spinner-primary mr-3" v-show="spinner"></div>
                </div>
                <span >
                    Save it after syncing
                </span>
            </div>
        </div>
    </b-card>
</b-col>
</template>

<script>
import httpTechnicalDetails from '../../../http/equipment/technicalDetails'
export default {
    props: ['basicInfo'],
    data() {
        return {
            show: false,
            createForm: [],
            syncBoolean: true,
            spinner: false,
        }
    },
    watch: {
        basicInfo: {
            deep: true,
            handler(newVal, oldVal) {
                if (newVal) {
                    this.getTechnical()
                }
            },
        }
    },
    methods: {
        async syncTechnicalDetails() {
            this.syncBoolean = false
            this.spinner = true
            const arrayCheck = []
            const arrayTechnicalData = []
            await httpTechnicalDetails.getTechnicalDetails(this.basicInfo.basicInfo.equipment).then(res => {
                if (res) {
                    if (res.data.result) {
                        this.createForm.map(val => {
                            arrayCheck.push(val.key)
                        })
                        if (arrayCheck.length > res.data.result.technicalFields.length) {
                            const technicalDetailsArray = res.data.result.technicalFields
                            technicalDetailsArray.map(singleValue=>{
                                arrayTechnicalData.push(singleValue.text)
                            })
                            arrayCheck.map((value, index) =>{
                                if (!arrayTechnicalData.includes(value)) {
                                    this.createForm.splice(index, 1)
                                }
                            })
                        } else {
                            res.data.result.technicalFields.map(value => {
                                if (!arrayCheck.includes(value.text)) {
                                    this.createForm.push({
                                        key: value.text,
                                        value: ''
                                    })
                                }
                            })
                        }
                    }
                }
                this.syncBoolean = true
                this.spinner = false
            })
        },
        async getTechnical() {
            const techNi = this.basicInfo.technicalDetails
            if (techNi.length == 0) {
                await httpTechnicalDetails.getTechnicalDetails(this.basicInfo.basicInfo.equipment).then(res => {
                    if (res) {
                        if (res.data.result) {
                            res.data.result.technicalFields.map(value => {
                                const data = {
                                    key: value.text,
                                    value: '',
                                }
                                this.createForm.push(data)
                            })
                        }
                    }
                })
            } else {
                this.createForm = this.basicInfo.technicalDetails
            }
        },
        async getForm(e) {
            this.show = true
        },
        async save() {
            const data = {
                technicalDetails: this.createForm
            }
            await httpTechnicalDetails.insertUpdate(data, this.$route.query._id).then(res => {
                if (res.data.status == 'success') {
                    this.show = false
                    this.basicInfo.basicInfo.technicalDetails = this.createForm
                    this.$swal({
                        position: "top-end",
                        type: "success",
                        title: res.data.message,
                        showConfirmButton: false,
                        timer: 1500
                    });
                } else {
                    this.$swal({
                        type: "error",
                        title: "Oops...",
                        text: 'Something Went Wrong',
                        footer: "<a href>Why do I have this issue?</a>"
                    });
                }
            }).catch(err => {
                this.$swal({
                    type: "error",
                    title: "Oops...",
                    text: err.message,
                    footer: "<a href>Why do I have this issue?</a>"
                });
            })
        }
    }
}
</script>
