<template>
<b-col lg="12" xl="12" class="mb-30">
    <b-card b-card-link no-body class="mb-30  o-hidden" style="height: 60vh; overflow: scroll;">
        <b-card-header style="cursor:pointer" class="d-flex justify-content-between">
            <h3>User Ratings</h3>
            <addReviewForm :basicInfo="basicInfo" />
        </b-card-header>
        <b-card-body>
            <div v-if="rattingsData">
                <div class="d-flex mt-2 ml-2 border" v-for="(d, index) in rattingsData" :value="index" :key="index">
                    <div class="ml-3 mt-4">
                        <a href="#" class="mr-4">
                            <img src="https://www.searchpng.com/wp-content/uploads/2019/02/Men-Profile-Image-715x657.png" class="rounded-circle" width="40" alt="asd" srcset="">
                        </a>
                    </div>
                    <div class="m-4" style="width: 100%">
                        <span class="d-flex justify-content-between">
                            <h3>{{d.reviewedBy}}</h3>
                            <div class="stars-outer">
                                <div class="stars-inner" v-bind:style="{width: d.precentageRatting}"></div>
                            </div>
                        </span>
                        <p>{{d.description}}</p>
                        <b-card>
                            <b-container class="bv-example-row">
                                <b-row v-for="(d, index) in d.ratting" :value="index" :key="index">
                                    <b-col>
                                        {{d.key}}
                                    </b-col>
                                    <b-col>
                                        <b-progress :value="(d.val / 5 * 100)" class="mb-3"></b-progress>
                                    </b-col>
                                </b-row>
                            </b-container>
                        </b-card>
                    </div>
                    <div class="d-flex flex-row flex-wrap align-content-center">
                        <!-- <a class="ul-cursor--pointer">
                            <i class="i-Eraser-2 text-25 text-success mr-2"></i>
                        </a> -->

                        <a @click="confirmMessage(d, index)" style="cursor: pointer;"><i class="i-Close-Window text-25 text-danger mr-2"></i></a>
                    </div>
                </div>
            </div>
            <div v-else>
                <h3 style="color: red">No User Rattings</h3>
            </div>
        </b-card-body>
    </b-card>
</b-col>
</template>

<script>
import addReviewForm from '../../forms/equipment/addReview'
import httpRatting from '../../../http/rattings/ratings'
export default {
    props: ['basicInfo'],
    components: {
        addReviewForm
    },
    data() {
        return {
            rattingsData: [],
            userRattingData: []
        }
    },
    watch: {
        basicInfo: {
            deep: true,
            handler(newVal, oldVal) {
                if (newVal) {
                    this.rattingsData = []
                    if (this.basicInfo.rattings) {
                        const rattingArray = []
                        this.basicInfo.rattings.map(val => {

                            var msgTotal = val.ratting.reduce(function (prev, cur) {
                                return parseInt(prev) + parseInt(cur.val);
                            }, 0);

                            const TOTALRATING = parseInt(msgTotal / val.ratting.length)

                            const getPercentage = TOTALRATING / 5 * 100
                            const starPercentageRounded = `${Math.round(getPercentage / 10) * 10}%`
                            const data = {
                                reviewedBy: val.reviewedBy,
                                ratting: val.ratting,
                                description: val.description,
                                precentageRatting: starPercentageRounded
                            }
                            this.rattingsData.push(data)
                        })
                    }
                }
            },
        }
    },
    methods: {
        // confirm-message-alert
        async confirmMessage(data, index) {
            this.$swal({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then(result => {
                if (result.value) {
                    httpRatting.pullPost(data, this.$route.query._id).then(res => {
                        this.$swal("Deleted!", res.data.message, "success");
                        this.rattingsData.splice(index, 1)
                    }).catch(error => {
                        this.$swal("Error!", error.message);
                    })
                }
            });
        },
    }
}
</script>

<style>
.stars-outer {
    position: relative;
    display: inline-block;
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #ccc;
}

.stars-inner::after {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #643297;
}
</style>
