<template>
<div>
    <b-button variant="primary" @click="openMl('Save')" class="btn-rounded d-none d-sm-block"><i class="i-Add-User text-white mr-2"> </i>Add Consumable / Spares / Accessories
    </b-button>

    <!-- {{contact}} -->

    <b-modal v-model="show" title="Contact Master" :hide-footer="hideFooter">
        <b-form v-if="show" @submit="onSubmit">
            <b-container class="bv-example-row">
                <b-row>
                    <b-col>
                        <b-form-group label="Name:" label-for="input-2">
                            <b-form-input id="input-2" v-model="editedData.name" required placeholder="name"></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col>
                        <b-form-group label="Cost:" label-for="input-5">
                            <b-form-input id="input-5" v-model="editedData.cost" required placeholder="cost"></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col>
                        <b-form-group label="Descrpiton:" label-for="input-1">
                            <b-form-textarea id="input-1" v-model="editedData.description" placeholder="Type Descrpiton..."></b-form-textarea>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col>
                        <b-form-group label="Tags" label-for="input-3">
                            <vue-tags-input v-model="tag" :tags="editedData.tags" class="tag-custom text-15 mt-2" @tags-changed="newTags => (editedData.tags = newTags)" placeholder="+ add" />
                        </b-form-group>
                    </b-col>
                </b-row>
            </b-container>

            <div class="d-flex justify-content-end mt-30">
                <b-button class="ml-2" type="submit" variant="primary">{{Button}}</b-button>
                <b-button class="ml-2" type="reset" variant="danger" @click="show = false">Close</b-button>
            </div>
        </b-form>
    </b-modal>
</div>
</template>

<script>
import httpConsumable from '../../../http/consumable/consumable'
export default {
    props: ['preVal'],
    data() {
        return {
            Button: 'Save',
            hideFooter: true,
            tag: "",
            show: false,
            editedData: {
                name: '',
                cost: '',
                description: '',
                tags: [],
            },
            defaultData: {
                name: '',
                cost: '',
                description: '',
                tags: [],
            }
        }
    },
    watch: {
        preVal: {
            deep: true,
            handler(newVal, oldVal) {
                if (newVal) {
                    this.show = true
                    this.editedData = newVal
                    this.Button = 'Update'
                }
            },
        }
    },
    methods: {
        openMl(event) {
            if (event == 'Save') {
                this.show = true
                this.editedData.name = ''
                this.editedData.cost = ''
                this.editedData.description = ''
                this.editedData.tags = []
            }
        },
        async onSubmit(evt) {
            if (this.Button == 'Save') {    
                await httpConsumable.insertPost(this.editedData).then(res => {
                    if (res) {
                        if (res.data.status == 'error') {
                            this.$swal({
                                type: "error",
                                title: "Oops...",
                                text: res.data.message,
                                footer: "<a href>Why do I have this issue?</a>"
                            });
                        } else {
                            this.show = false
                            this.$root.$emit('getConsumableData')
                            this.$swal({
                                position: "top-end",
                                type: "success",
                                title: "Your work has been saved",
                                showConfirmButton: false,
                                timer: 1500
                            });
                        }
                    } else {
                        this.$swal({
                            type: "error",
                            title: "Oops...",
                            text: 'Something Went Wrong',
                            footer: "<a href>Why do I have this issue?</a>"
                        });
                    }
                }).catch(err => {
                    this.$swal({
                        type: "error",
                        title: "Oops...",
                        text: err.message,
                        footer: "<a href>Why do I have this issue?</a>"
                    });
                })
            }else{
                await httpConsumable.insertUpdate(this.editedData, this.editedData._id).then(res => {
                    if (res) {
                        if (res.data.status == 'error') {
                            this.$swal({
                                type: "error",
                                title: "Oops...",
                                text: res.data.message,
                                footer: "<a href>Why do I have this issue?</a>"
                            });
                        } else {
                            this.show = false
                            this.$swal({
                                position: "top-end",
                                type: "success",
                                title: "Your work has been updated",
                                showConfirmButton: false,
                                timer: 1500
                            });
                            this.$root.$emit('getConsumableData')
                        }
                    } else {
                        this.$swal({
                            type: "error",
                            title: "Oops...",
                            text: 'Something Went Wrong',
                            footer: "<a href>Why do I have this issue?</a>"
                        });
                    }
                }).catch(err => {
                    this.$swal({
                        type: "error",
                        title: "Oops...",
                        text: err.message,
                        footer: "<a href>Why do I have this issue?</a>"
                    });
                })
            }
            
        },
    }
}
</script>
