<template>
<div class="main-content">
    <!-- department  -->
    <breadcumb :page="'Departments'" :folder="'Datatables'" />
    <b-card>
        <!-- <div class="wrapper"> -->
        <vue-good-table :columns="columns" :line-numbers="true" :search-options="{
        enabled: true,
        placeholder: 'Search this table'
      }" styleClass="tableOne vgt-table" :rows="rows" style="height: 50vh; overflow: scroll;">
            <div slot="table-actions" class="mb-3">
                <b-button @click="model('save')" variant="primary" class="btn-rounded d-none d-sm-block">
                    Add Department
                </b-button>
                <b-modal v-model="show" title="Department" :hide-footer="hideFooter">
                    <b-form @submit="onSubmit" v-if="show">
                        <b-container fluid>
                            <b-row>
                                <b-col>
                                    <b-form-group id="input-group-2" label="Department:" label-for="input-2">
                                        <b-form-input id="input-2" v-model="editedData.department" placeholder="Name" required></b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                        </b-container>

                        <div class="d-flex justify-content-end mt-30">
                            <b-button class="ml-2" type="submit" variant="primary">{{Button}}</b-button>
                            <b-button class="ml-2" type="reset" variant="danger" @click="show = false">Close</b-button>
                        </div>
                    </b-form>
                </b-modal>
            </div>

            <template slot="table-row" slot-scope="props">
                <span v-if="props.column.field == 'button'">
                    <a @click="model(props.row)" style="cursor: pointer;">
                        <i class="i-Eraser-2 text-25 text-success mr-2"></i>
                        {{ props.row.button }}</a>
                    <a @click="confirmMessage(props.row._id)" style="cursor: pointer;">
                        <i class="i-Close-Window text-25 text-danger"></i>
                        {{ props.row.button }}</a>
                </span>
            </template>
        </vue-good-table>
    </b-card>
</div>
</template>

<script>
import {
    required,
    sameAs,
    minLength
} from "vuelidate/lib/validators";
import departmentData from '../../http/department/departmentInfo'
import moment from 'moment'
export default {
    data() {
        return {
            hideFooter: true,
            _id: '',
            Button: 'Save',
            submitStatus: false,
            show: false,
            columns: [{
                    label: "Name",
                    field: "department"
                },
                {
                    label: "Created On",
                    field: "createdAt",
                },
                {
                    label: "Button",
                    field: "button",
                    html: true,
                    tdClass: "text-right",
                    thClass: "text-right"
                }
            ],
            editedData: {
                department: ''
            },
            rows: []
        };
    },
    mounted() {
        this.department()
    },
    methods: {
        async onSubmit(evt) {
            if (this.Button == 'Save') {
                this.submitStatus = true
                await departmentData.insertPost(this.editedData)
                    .then(res => {
                        if (res) {
                            if (res.data.status == 'error') {
                                this.$swal({
                                    type: "error",
                                    title: "Oops...",
                                    text: res.data.message,
                                    footer: "<a href>Why do I have this issue?</a>"
                                });
                            } else {
                                this.submitStatus = false
                                this.show = false
                                this.editedData.department = ''
                                this.department()
                                this.$swal({
                                    position: "top-end",
                                    type: "success",
                                    title: "Your work has been saved",
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                            }
                        } else {
                            this.$swal({
                                type: "error",
                                title: "Oops...",
                                text: 'Something Went Wrong',
                                footer: "<a href>Why do I have this issue?</a>"
                            });
                        }
                    })
                    .catch(err => {
                        this.$swal({
                            type: "error",
                            title: "Oops...",
                            text: err.message,
                            footer: "<a href>Why do I have this issue?</a>"
                        });
                    })
            } else {
                this.show = true
                await departmentData.insertUpdate(this.editedData, this._id).then(res => {
                        if (res) {
                            if (res.data.status == 'error') {
                                this.$swal({
                                    type: "error",
                                    title: "Oops...",
                                    text: res.data.message,
                                    footer: "<a href>Why do I have this issue?</a>"
                                });
                            } else {
                                this.submitStatus = false
                                this.show = false
                                this.editedData.department = ''
                                this.department()
                                this.$swal({
                                    position: "top-end",
                                    type: "success",
                                    title: "Your work has been saved",
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                            }
                        } else {
                            this.$swal({
                                type: "error",
                                title: "Oops...",
                                text: 'Something Went Wrong',
                                footer: "<a href>Why do I have this issue?</a>"
                            });
                        }
                    })
                    .catch(err => {
                        this.$swal({
                            type: "error",
                            title: "Oops...",
                            text: err.message,
                            footer: "<a href>Why do I have this issue?</a>"
                        });
                    })

            }
        },
        // confirm-message-alert
        async confirmMessage(_id) {
            this.$swal({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then(result => {
                if (result.value) {
                    departmentData.deleteDepartment(_id).then(res => {
                        this.$swal("Deleted!", res.data.message, "success");
                        this.department()
                    }).catch(error => {
                        this.$swal("Error!", error.data.message);
                    })
                }
            });
        },
        addFile() {
            console.log("hello");
        },
        model(unix) {
            if (unix == 'save') {
                this.show = true
                this.Button = 'Save'
            } else {
                this.show = true
                this._id = unix._id
                this.editedData.department = unix.department
                this.Button = 'Update'
            }
        },
        async department() {
            await departmentData.getDepartmentData()
                .then(res => {
                    if (res) {
                        this.rows = res.data.result
                        this.rows.map(data => {
                            data.createdAt = moment(data.createdAt, 'YYYY-MM-DD').format('DD/MM/YYYY')
                        })
                    } else {
                        this.$swal({
                            type: "error",
                            title: "Oops...",
                            text: 'Something Went Wrong',
                            footer: "<a href>Why do I have this issue?</a>"
                        });
                    }
                })
                .catch(error => {
                    this.$swal(error.message, "That thing is still around?", "question");
                })
        },
        makeToast(variant = null) {
            this.$bvToast.toast("Please fill the form correctly.", {
                title: `Variant ${variant || "default"}`,
                variant: variant,
                solid: true
            });
        },
        makeToastTwo(variant = null) {
            this.$bvToast.toast("Successfully Submitted", {
                title: `Variant ${variant || "default"}`,
                variant: variant,
                solid: true
            });
        },
    }
};
</script>

<style >
</style>
