<template>
<div class="main-content mt-5">
    <!-- department  -->
    <breadcumb :page="'Equipment'" :folder="'Datatables'" />
    <b-card>
        <!-- <div class="wrapper"> -->
        <vue-good-table :columns="columns" :line-numbers="true" :search-options="{
        enabled: true,
        placeholder: 'Search this table'
      }" :pagination-options="{
        enabled: true,
        mode: 'records'
      }" styleClass="tableOne vgt-table" :rows="rows">
            <div slot="table-actions" class="mb-3">
                <b-button @click="model('Save')" variant="primary" class="btn-rounded d-none d-sm-block">
                    Add Equipment
                </b-button>
                <b-modal v-model="show" title="Equipment" :hide-footer="hideFooter">
                    <b-form @submit.prevent="onSubmit" v-if="show">
                        <b-container fluid>
                            <b-row>
                                <b-col>
                                    <b-form-group id="input-group-2" label="Equipment Name:" label-for="input-0">
                                        <b-form-input id="input-0" v-model="editedData.equipment" required placeholder="Name"></b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col>
                                    <b-form-group label="Facility:" label-for="input-1">
                                        <b-form-checkbox-group style="height: 20vh; overflow: scroll;" id="facility" v-model="editedData.facility" :options="items" name="flavors" class="ml-4" aria-label="Individual Faqs" stacked></b-form-checkbox-group>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col>
                                    <b-form-group label="Department:" label-for="input-2">
                                        <b-form-checkbox-group style="height: 20vh; overflow: scroll;" id="departments" v-model="editedData.department" :options="Departmentitems" name="flavors" class="ml-4" aria-label="Individual Faqs" stacked></b-form-checkbox-group>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-row>
                                    <b-col>
                                        <b-form-group class="ml-3" label="Technical Fields:" label-for="input-3">
                                            <vue-tags-input v-model="tag" :tags="technicalFields" class=" text-15" @tags-changed="newTags => (technicalFields = newTags)" placeholder="+ add" />
                                        </b-form-group>
                                    </b-col>
                                </b-row>
                            </b-row>
                            <b-row>
                                <b-row>
                                    <b-col>
                                        <b-form-group class="ml-3" label="Rating Keys:" label-for="input-3">
                                            <vue-tags-input v-model="tag1" :tags="ratingKeys" class=" text-15" @tags-changed="newTags => (ratingKeys = newTags)" placeholder="+ add" />
                                        </b-form-group>
                                    </b-col>
                                </b-row>
                            </b-row>
                        </b-container>
                        <div class="d-flex justify-content-end mt-30">
                            <b-button class="ml-2" type="submit" variant="primary">{{Button}}</b-button>
                            <b-button class="ml-2" type="reset" variant="danger" @click="show = false">Close</b-button>
                        </div>
                    </b-form>
                </b-modal>
            </div>
            <template slot="table-row" slot-scope="props">
                <span v-if="props.column.field == 'equipment'">
                    <a class="__g-widget-username ul-cursor--pointer text-primary" @click="filterEquipment(props.row.equipment)">{{props.row.equipment}}</a>
                </span>
                <span v-if="props.column.field == 'facility'">
                    <span class="badge badge-pill badge-outline-primary p-2" v-for="(facility, index) in props.row.facility" :value="index" :key="index">{{facility}}</span>
                </span>
                <span v-if="props.column.field == 'department'">
                    <span class="badge badge-pill badge-outline-success p-2" v-for="(department, index) in props.row.department" :value="index" :key="index">{{department}}</span>
                </span>
                <span v-if="props.column.field == 'createdAt'">
                    {{props.row.createdAt}}
                </span>
                <span v-if="props.column.field == 'technicalFields'">
                    <b-button :id="props.row._id" variant="primary">Technical Fields</b-button>
                    <b-popover :target="props.row._id" triggers="hover focus">
                        <template slot="title">{{props.row.equipment}}</template>
                        <b-list-group>
                            <b-list-group-item v-for="(d, index) in props.row.technicalFields" :value="index" :key="index">{{d.text}}</b-list-group-item>
                        </b-list-group>
                    </b-popover>
                </span>
                <span v-if="props.column.field == 'ratingKeys'">
                    <b-button :id="props.row._id+'ratingKey'" variant="primary">Rating Keys</b-button>
                    <b-popover :target="props.row._id+'ratingKey'" triggers="hover focus">
                        <template slot="title">{{props.row.equipment}}</template>
                        <b-list-group>
                            <b-list-group-item v-for="(d, index) in props.row.ratingKeys" :value="index" :key="index">{{d.text}}</b-list-group-item>
                        </b-list-group>
                    </b-popover>
                </span>
                <span v-if="props.column.field == 'button'">
                    <a :id="'hoverTitle'+props.row._id" class="cursor-pointer">
                        <i class="i-Upload1 text-25 text-success mr-2"></i>
                        {{ props.row.button }}</a>

                    <!-- start -->
                    <b-popover :target="'hoverTitle'+props.row._id">

                        <template slot="title">Upload File</template>
                        <span v-if="props.row.sitePrepRequirement">
                            <div v-for="(i, index1) in props.row.sitePrepRequirement" :key="index1">
                                <table style="width:100%">
                                    <tr>
                                        <th>Display Name</th>
                                        <th>File Link</th>
                                        <th>Action</th>
                                    </tr>
                                    <tr>
                                        <td>{{i.displayName}}</td>
                                        <td>
                                            <a :href="i.fileLink" target="_blank" class="__g-widget-username">view file
                                            </a>
                                        </td>
                                        <td>
                                            <a @click="confirmMessage1(i, index1, props.row._id)" style="cursor: pointer;"><i class="i-Close-Window text-25 text-danger"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </span>
                        <span v-else class="text-danger">no file available</span>
                        <b-container fluid class="mt-3">
                            <b-row>
                                <b-col>
                                    <b-form-group label="Name:" label-for="input-1">
                                        <b-form-input id="input-1" v-model="displayName" placeholder="Display Name"></b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col>
                                    <b-form-group label="Choose a file or drop it here..." label-for="input-14">
                                        <b-form-file v-model="file" name="file" :state="Boolean(file)" placeholder="Attachment" drop-placeholder="Drop file here..." @change="onFilePicked" :disabled="loading"></b-form-file>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                        </b-container>
                        One file Only <br>
                        <span class="text-danger">5 MB limit on each file</span><br>
                        <em>Allowed Types:</em>
                        <span class="text-danger">jpg, jpeg, png, gif, pdf</span>
                        <span class="text-success">Attachment of Address Proof</span>

                        <div v-if="loading">
                            <div class="spinner sm spinner-primary mt-3"></div>
                        </div>

                        <div v-else class="d-flex justify-content-end mt-30 w-100">
                            <b-button v-if="file" :disabled="uploading" @click="uploadImage(props.row._id, props.index)" class="ml-2" type="submit" variant="primary">Upload</b-button>
                        </div>
                    </b-popover>
                    <!-- end -->

                    <a @click="model(props.row)" style="cursor: pointer;">
                        <i class="i-Eraser-2 text-25 text-success mr-2"></i>
                        {{ props.row.button }}</a>
                    <a @click="confirmMessage(props.row._id, index)" style="cursor: pointer;">
                        <i class="i-Close-Window text-25 text-danger"></i>
                        {{ props.row.button }}</a>
                </span>
            </template>
        </vue-good-table>
    </b-card>
</div>
</template>

<script>
import selecteDepartment from '../../components/common/input/single_department'
import equipmentData from '../../http/equipment/equipment_details'
import facility from '../../http/facility/facility'
import departmentName from '../../http/department/departmentInfo'
import imageUpload from '../../http/uploadImageToS3/uploadImage'

import moment from 'moment'
export default {
    components: {
        selecteDepartment
    },
    data() {
        return {
            Departmentitems: [],
            items: [],
            hideFooter: true,
            _id: '',
            Button: 'Save',
            displayName: '',
            file: '',
            uploading: false,
            loading: false,
            folderName: 'Site_Prep_Requirement',
            fileType: ['jpg', 'jpeg', 'png', 'gif', 'pdf'],
            // technicalFields
            tag: "",
            technicalFields: [],
            // rating keys
            tag1: "",
            ratingKeys: [],
            show: false,
            columns: [{
                    label: "Name",
                    field: "equipment"
                },
                {
                    label: "Facility",
                    field: "facility"
                },
                {
                    label: "Department",
                    field: "department",
                },
                {
                    label: "Created On",
                    field: "createdAt",
                },
                {
                    label: "Technical Fields",
                    field: "technicalFields",
                },
                {
                    label: "Rating Keys",
                    field: "ratingKeys",
                },
                {
                    label: "Button",
                    field: "button",
                    html: true,
                    tdClass: "text-right",
                    thClass: "text-right"
                }
            ],
            editedData: {
                equipment: '',
                facility: [],
                department: [],
                technicalFields: [],
                ratingKeys: [],
            },
            defData: {
                equipment: '',
                facility: [],
                department: [],
                technicalFields: [],
                ratingKeys: [],
            },
            rows: []
        };
    },
    mounted() {
        this.equipmentData()
        this.facilityData()
        this.getDepartmentName()
    },
    methods: {
        filterEquipment(filterData){
            this.$router.push({
                path: `/app/apps/equipmentMaster?search_query=${filterData}`
            })
        },
        onFilePicked(event) {
            this.file = event.target.files[0]
            if (this.file.name.lastIndexOf('.') <= 0) {
                return alert('Please add a vaild file!')
            }
        },
        async confirmMessage1(data, index, _id) {
            this.$swal({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then(result => {
                if (result.value) {
                    equipmentData.removeUpload(data, _id).then(res => {
                        this.$swal("Deleted!", res.data.message, "success");
                        this.equipmentData()
                    }).catch(error => {
                        this.$swal("Error!", error.message);
                    })
                }
            });
        },
        async uploadImage(_id, index) {
            if (this.displayName == '') {
                alert('Display name is required')
            } else if (this.file == '') {
                alert('Document is required')
            } else {
                this.loading = true
                this.uploading = true
                const fileExtention = this.file.name.split('.')
                const lastName = fileExtention[fileExtention.length - 1]
                var UpdatedformData = new FormData()
                UpdatedformData.append('file', this.file)
                if (this.fileType.some(function (item) {
                        return (new RegExp('\\b' + item + '\\b')).test(lastName);
                    })) {
                    await imageUpload.uploadSitePrep(UpdatedformData, lastName, this.folderName).then(res => {
                        if (res) {
                            const data = {
                                sitePrepRequirement: [{
                                    displayName: this.displayName,
                                    fileLink: res.data
                                }]
                            }
                            equipmentData.uploadPost(data, _id).then(res => {
                                if (res) {
                                    this.show = false
                                    this.loading = false
                                    this.$swal({
                                        position: "top-end",
                                        type: "success",
                                        title: "Your work has been saved",
                                        showConfirmButton: false,
                                        timer: 1500
                                    });
                                    this.equipmentData()
                                }
                            })
                        }
                    }).catch(err => {
                        this.$swal({
                            type: "error",
                            title: "Oops...",
                            text: err.message,
                            footer: "<a href>Why do I have this issue?</a>"
                        });
                        this.uploading = false
                        this.loading = false
                    })
                } else {
                    this.loading = false
                    this.uploading = false
                    alert(
                        `This extension is not allowed, please upload your file with these extensions. ${this.fileType}`
                    )
                }
            }
        },
        async getDepartmentName() {
            await departmentName.getDepartmentData().then(res => {
                    if (res) {
                        res.data.result.map(departName => {
                            this.Departmentitems.push(departName.department)
                        })
                        this.val = this.preVal
                    } else {
                        this.$swal({
                            type: "error",
                            title: "Oops...",
                            text: 'Something Went Wrong',
                            footer: "<a href>Why do I have this issue?</a>"
                        });
                    }
                })
                .catch(error => {
                    this.$swal(error.message, "That thing is still around?", "question");
                })
        },
        async facilityData() {
            await facility.getFaciltiyData()
                .then(res => {
                    if (res) {
                        res.data.result.map(facilityName => {
                            this.items.push(facilityName.facility)
                        })
                    } else {
                        this.$swal({
                            type: "error",
                            title: "Oops...",
                            text: 'Something Went Wrong',
                            footer: "<a href>Why do I have this issue?</a>"
                        });
                    }
                })
                .catch(error => {
                    this.$swal(error.message, "That thing is still around?", "question");
                })
        },
        async onSubmit(evt) {
            if (this.Button == 'Save') {
                this.editedData.ratingKeys = this.ratingKeys
                this.editedData.technicalFields = this.technicalFields
                await equipmentData.insertPost(this.editedData)
                    .then(res => {
                        if (res) {
                            if (res.data.status == 'error') {
                                this.$swal({
                                    type: "error",
                                    title: "Oops...",
                                    text: res.data.message,
                                    footer: "<a href>Why do I have this issue?</a>"
                                });
                            } else {
                                this.show = false
                                this.equipmentData()
                                this.$swal({
                                    position: "top-end",
                                    type: "success",
                                    title: "Your work has been saved",
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                            }
                        } else {
                            this.$swal({
                                type: "error",
                                title: "Oops...",
                                text: 'Something Went Wrong',
                                footer: "<a href>Why do I have this issue?</a>"
                            });
                        }
                    })
                    .catch(err => {
                        this.$swal({
                            type: "error",
                            title: "Oops...",
                            text: err.message,
                            footer: "<a href>Why do I have this issue?</a>"
                        });
                    })
            } else {
                this.editedData.ratingKeys = this.ratingKeys
                this.editedData.technicalFields = this.technicalFields
                await equipmentData.insertUpdate(this.editedData, this._id)
                    .then(res => {
                        if (res) {
                            if (res.data.status == 'error') {
                                this.$swal({
                                    type: "error",
                                    title: "Oops...",
                                    text: res.data.message,
                                    footer: "<a href>Why do I have this issue?</a>"
                                });
                            } else {
                                this.show = false
                                this.equipmentData()
                                this.$swal({
                                    position: "top-end",
                                    type: "success",
                                    title: "Your work has been updated",
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                            }
                        } else {
                            this.$swal({
                                type: "error",
                                title: "Oops...",
                                text: 'Something Went Wrong',
                                footer: "<a href>Why do I have this issue?</a>"
                            });
                        }
                    })
                    .catch(err => {
                        this.$swal({
                            type: "error",
                            title: "Oops...",
                            text: err.message,
                            footer: "<a href>Why do I have this issue?</a>"
                        });
                    })
            }
        },
        // confirm-message-alert
        confirmMessage(_id) {
            this.$swal({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then(result => {
                if (result.value) {
                    equipmentData.deleteEquipmentDetails(_id).then(res => {
                        this.$swal("Deleted!", res.data.message, "success");
                        this.equipmentData()
                    }).catch(error => {
                        this.$swal("Error!", error.data.message);
                    })
                }
            });
        },
        addFile() {
            console.log("hello");
        },
        updateMessage(departmentName) {
            this.editedData.department = departmentName
        },
        updateMessage1(facilityName) {
            this.editedData.facility = facilityName
        },
        model(unix) {
            if (unix == 'Save') {
                this.editedData.equipment = ''
                this.editedData.facility = []
                this.editedData.department = []
                this.technicalFields = [{
                            text: 'Country of Origin'
                        },
                        {
                            text: 'Certification'
                        }
                    ],
                    this.ratingKeys = [{
                            text: 'Product Performance'
                        },
                        {
                            text: 'Service Support'
                        },
                        {
                            text: 'Operating Cost'
                        },
                        {
                            text: 'Applicaton Training'
                        },
                        {
                            text: 'Ease of Use'
                        }
                    ]
                this.show = true
                this.Button = 'Save'
            } else {
                this._id = unix._id
                this.show = true
                this.editedData.equipment = unix.equipment
                this.editedData.facility = unix.facility
                this.editedData.department = unix.department
                if (unix.technicalFields.length) {
                    this.technicalFields = unix.technicalFields
                } else {
                    this.technicalFields = [{
                            text: 'Country of Origin'
                        },
                        {
                            text: 'Certification'
                        }
                    ]
                }
                if (unix.ratingKeys.length) {
                    this.ratingKeys = unix.ratingKeys
                } else {
                    this.ratingKeys = [{
                            text: 'Product Performance'
                        },
                        {
                            text: 'Service Support'
                        },
                        {
                            text: 'Operating Cost'
                        },
                        {
                            text: 'Applicaton Training'
                        },
                        {
                            text: 'Ease of Use'
                        }
                    ]
                }

                this.Button = 'Update'
            }
        },
        async equipmentData() {
            await equipmentData.getEquipmentDetails()
                .then(res => {
                    if (res) {
                        this.rows = res.data.result
                        this.rows.map(data => {
                            data.createdAt = moment(data.createdAt, 'YYYY-MM-DD').format('DD/MM/YYYY')
                        })
                    } else {
                        this.$swal({
                            type: "error",
                            title: "Oops...",
                            text: 'Something Went Wrong',
                            footer: "<a href>Why do I have this issue?</a>"
                        });
                    }
                })
                .catch(error => {
                    this.$swal(error.message, "That thing is still around?", "question");
                })
        },
    }
};
</script>