<template>
<div class="side-content-wrap" @mouseenter="isMenuOver = true" @mouseleave="isMenuOver = false" @touchstart="isMenuOver = true">
    <vue-perfect-scrollbar :settings="{ suppressScrollX: true, wheelPropagation: false }" :class="{ open: getSideBarToggleProperties.isSideNavOpen }" ref="myData" class="sidebar-left rtl-ps-none ps scroll">
        <div>
            <ul class="navigation-left">
                <li @mouseenter="toggleSubMenu" :class="{ active: selectedParentMenu == 'dashboards' }" class="nav-item" data-item="dashboards">
                    <a class="nav-item-hold" href="#">
                        <i class="nav-icon i-Bar-Chart"></i>
                        <span class="nav-text">{{ $t('dashboard') }}</span>
                    </a>

                    <div class="triangle"></div>
                </li>

                <li @mouseenter="toggleSubMenu" class="nav-item" :class="{ active: selectedParentMenu == 'apps' }" data-item="apps">
                    <a class="nav-item-hold" href="#">
                        <i class="nav-icon i-Computer-Secure"></i>
                        <span class="nav-text">Apps</span>
                    </a>
                    <div class="triangle"></div>
                </li>

                <li class="nav-item">
                    <a class="nav-item-hold">
                        <router-link tag="a" to="/requirements/requirement/hospital_requirement">
                            <i class="nav-icon i-File-Clipboard-File--Text"></i>
                            <span class="item-name">requirement</span>
                        </router-link>
                    </a>
                    <div class="triangle"></div>
                </li>

                <li @mouseenter="toggleSubMenu" class="nav-item" :class="{ active: selectedParentMenu == 'user-access' }" data-item="user-access">
                    <a class="nav-item-hold" href="#">
                        <i class="nav-icon i-Data-Settings"></i>
                        <span class="nav-text">Settings</span>
                    </a>
                    <div class="triangle"></div>
                </li>

            </ul>
        </div>
    </vue-perfect-scrollbar>

    <vue-perfect-scrollbar :class="{ open: getSideBarToggleProperties.isSecondarySideNavOpen }" :settings="{ suppressScrollX: true, wheelPropagation: false }" class="sidebar-left-secondary ps rtl-ps-none">
        <div ref="sidebarChild">
            <!-- Submenu Dashboards -->
            <ul class="childNav d-none" data-parent="dashboards" :class="{ 'd-block': selectedParentMenu == 'dashboards' }">
                <li class="nav-item">
                    <router-link tag="a" class to="/app/dashboards/dashboard.v1">
                        <i class="nav-icon i-Clock-3"></i>
                        <span class="item-name">{{ $t('dashboardItems.versionOne') }}</span>
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link tag="a" class to="/app/dashboards/dashboard.v2">
                        <i class="nav-icon i-Clock-4"></i>
                        <span class="item-name">{{ $t('dashboardItems.versionTwo') }}</span>
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link tag="a" class to="/app/dashboards/dashboard.v3">
                        <i class="nav-icon i-Over-Time"></i>
                        <span class="item-name">{{ $t('dashboardItems.versionThree') }}</span>
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link tag="a" class to="/app/dashboards/dashboard.v4">
                        <i class="nav-icon i-Clock"></i>
                        <span class="item-name">{{ $t('dashboardItems.versionFour') }}</span>
                    </router-link>
                </li>
            </ul>

            <ul class="childNav d-none" data-parent="apps" :class="{ 'd-block': selectedParentMenu == 'apps' }">
                <!-- invoice-list -->

                <!-- contact app -->
                <li @click.prevent="toggleSidebarDropdwon($event)" class="nav-item dropdown-sidemenu">
                    <a href="#">
                        <i class="nav-icon i-File-CSV"></i>
                        <span class="item-name">Contacts</span>
                        <i class="dd-arrow i-Arrow-Down"></i>
                    </a>
                    <ul class="submenu">
                        <li>
                            <router-link tag="a" class to="/app/apps/contact-list">
                                <i class="nav-icon i-File-CSV"></i>
                                <span class="item-name">Contact Lists</span>
                            </router-link>
                        </li>
                        <li>
                            <router-link tag="a" class to="/app/apps/contact-search">
                                <i class="nav-icon i-File-CSV"></i>
                                <span class="item-name">Contact Search</span>
                            </router-link>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <router-link tag="a" class to="/app/apps/departmentMaster">
                        <i class="nav-icon i-Add-File"></i>
                        <span class="item-name">Department Master</span>
                    </router-link>
                </li>

                <li class="nav-item">
                    <router-link tag="a" class to="/app/apps/consumable">
                        <i class="nav-icon i-Add-File"></i>
                        <span class="item-name">Consumable Master</span>
                    </router-link>
                </li>

                <li class="nav-item">
                    <router-link tag="a" class to="/app/apps/hospitalMaster">
                        <i class="nav-icon i-Add-File"></i>
                        <span class="item-name">Hospital Master</span>
                    </router-link>
                </li>

                <li class="nav-item">
                    <router-link tag="a" class to="/app/apps/equipmentMaster">
                        <i class="nav-icon i-Add-File"></i>
                        <span class="item-name">Equipment Master</span>
                    </router-link>
                </li>

                <li class="nav-item">
                    <router-link tag="a" class to="/app/apps/projects">
                        <i class="nav-icon i-Add-File"></i>
                        <span class="item-name">Projects</span>
                    </router-link>
                </li>

                <li class="nav-item">
                    <router-link tag="a" class to="/app/apps/faq-list">
                        <i class="nav-icon i-Add-File"></i>
                        <span class="item-name">FAQs</span>
                    </router-link>
                </li>

                <li class="nav-item">
                    <router-link tag="a" class to="/app/apps/calendar">
                        <i class="nav-icon i-Calendar-3"></i>
                        <span class="item-name">Calendar</span>
                    </router-link>
                </li>
            </ul>

            <!-- settings  -->

            <ul class="childNav d-none" data-parent="user-access" :class="{ 'd-block': selectedParentMenu == 'user-access' }">

                <li class="nav-item">
                    <router-link tag="a" class to="/settings/user-access">
                        <i class="nav-icon i-Gears"></i>
                        <span class="item-name">Team & Permissions</span>
                    </router-link>
                </li>
            </ul>
        </div>
    </vue-perfect-scrollbar>
    <div @click="removeOverlay()" class="sidebar-overlay" :class="{ open: getSideBarToggleProperties.isSecondarySideNavOpen }"></div>
</div>
<!--=============== Left side End ================-->
</template>

<script>
import Topnav from "./TopNav";
import {
    isMobile
} from "mobile-device-detect";

import {
    mapGetters,
    mapActions
} from "vuex";

export default {
    components: {
        Topnav
    },

    data() {
        return {
            isDisplay: true,
            isMenuOver: false,
            isStyle: true,
            selectedParentMenu: "",
            isMobile
        };
    },
    mounted() {
        this.toggleSelectedParentMenu();
        window.addEventListener("resize", this.handleWindowResize);
        document.addEventListener("click", this.returnSelectedParentMenu);
        this.handleWindowResize();
    },

    beforeDestroy() {
        document.removeEventListener('click', this.returnSelectedParentMenu)
        window.removeEventListener('resize', this.handleWindowResize)
    },
    computed: {
        ...mapGetters(["getSideBarToggleProperties"])
    },

    methods: {
        ...mapActions([
            "changeSecondarySidebarProperties",
            "changeSecondarySidebarPropertiesViaMenuItem",
            "changeSecondarySidebarPropertiesViaOverlay",
            "changeSidebarProperties"
        ]),

        handleWindowResize() {
            //  console.log('not working is Mobile');
            if (window.innerWidth <= 1200) {

                if (this.getSideBarToggleProperties.isSideNavOpen) {
                    this.changeSidebarProperties();
                }
                if (this.getSideBarToggleProperties.isSecondarySideNavOpen) {
                    this.changeSecondarySidebarProperties();
                }

            } else {
                if (!this.getSideBarToggleProperties.isSideNavOpen) {
                    this.changeSidebarProperties();
                }
            }
        },
        toggleSelectedParentMenu() {
            const currentParentUrl = this.$route.path
                .split("/")
                .filter(x => x !== "")[1];

            if (currentParentUrl !== undefined || currentParentUrl !== null) {
                this.selectedParentMenu = currentParentUrl.toLowerCase();
            } else {
                this.selectedParentMenu = "dashboards";
            }
        },
        toggleSubMenu(e) {
            let childrens = this.$refs.sidebarChild.children;
            let parent = e.target.dataset.item;

            this.selectedParentMenu = parent;

            this.changeSecondarySidebarPropertiesViaMenuItem(true);
        },

        removeOverlay() {
            this.changeSecondarySidebarPropertiesViaOverlay();
            if (window.innerWidth <= 1200) {
                this.changeSidebarProperties();
            }
            this.toggleSelectedParentMenu();
        },
        returnSelectedParentMenu() {
            if (!this.isMenuOver) {
                this.toggleSelectedParentMenu();
            }
        },

        toggleSidebarDropdwon(event) {
            let dropdownMenus = this.$el.querySelectorAll(".dropdown-sidemenu.open");

            event.currentTarget.classList.toggle("open");

            dropdownMenus.forEach(dropdown => {
                dropdown.classList.remove("open");
            });
        }
    }
};
</script>
