<template>
<div class="main-content">
    <div v-if="basicInfo !== null" class="d-flex justify-content-between">
        <b-breadcrumb>
            <b-breadcrumb-item href="#foo">
                <span class="text-24">
                    {{basicInfo.basicInfo.equipment}}
                </span>
            </b-breadcrumb-item>
            <b-breadcrumb-item @click="goBack">Equipment Master</b-breadcrumb-item>
            <b-breadcrumb-item active>{{basicInfo.basicInfo.equipment}}</b-breadcrumb-item>
        </b-breadcrumb>
        <selectedOption />
    </div>

    <div v-else>
        <breadcumb :page="'Loading....'" :folder="'Loading...'" />
    </div>

    <hr class="mt-0" />
    <headerCard :basicInfo="basicInfo" />
    <b-row class="">

        <!-- basic information -->
        <basicInformation :basicInfo="basicInfo" />

        <!-- technical Details -->
        <technicalDetails :basicInfo="basicInfo" />

        <!-- cost and warranty -->
        <costAndWarranty :basicInfo="basicInfo" />

        <!-- related equipments -->
        <relatedEquipment :basicInfo="basicInfo" />

        <prominentHospital :basicInfo="basicInfo" />
        <b-col lg="4" xl="4" class=" mb-30">
            <b-card style="height: 60vh; overflow: scroll;">
                <div class="d-flex justify-content-between">
                    <h3 class="ul-widget__head-title">
                        Hospitals Near Me
                    </h3>
                    <b-button variant="outline-primary">Find</b-button>
                </div>

                <div class="ul-widget__body">
                    <div class="ul-widget3">
                        <div class="ul-widget3-item">
                            <div class="ul-widget3-header">

                                <div class="ul-widget3-info">
                                    <a href="#" class="__g-widget-username">
                                        <span class="t-font-bolder">Sancheti Hospital</span>
                                    </a>
                                    <br />
                                </div>
                            </div>
                        </div>

                        <div class="ul-widget3-item">
                            <div class="ul-widget3-header">

                                <div class="ul-widget3-info">
                                    <a href="#" class="__g-widget-username">
                                        <span class="t-font-bolder">jehangir Hospital</span>
                                    </a>
                                    <br />
                                </div>
                            </div>
                        </div>

                        <div class="ul-widget3-item">
                            <div class="ul-widget3-header">

                                <div class="ul-widget3-info">
                                    <a href="#" class="__g-widget-username">
                                        <span class="t-font-bolder">Mediscan Diag. Cent</span>
                                    </a>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </b-card>
        </b-col>

        <faqs :faqs="basicInfo" />

        <experts :basicInfo="basicInfo" />

        <consumableSpares :basicInfo="basicInfo" />

        <sitePrepReq :basicInfo="basicInfo" />

        <statuteryReq :basicInfo="basicInfo" />

        <b-col lg="4" xl="4" class=" mb-30">
            <b-card style="height: 60vh; overflow: scroll;">
                <div class="d-flex justify-content-between">
                    <h3 class="ul-widget__head-title">
                        News & Updates
                    </h3>
                    <b-button variant="outline-primary">Add</b-button>
                </div>

                <div class="ul-widget__body">
                    <div class="ul-widget3">
                        <div class="ul-widget3-item">
                            <div class="ul-widget3-header">

                                <div class="ul-widget3-info">
                                    <a href="#" class="__g-widget-username">
                                        <span class="t-font-bolder">Advanced Portfolio of Computed Tomography Systems</span>
                                    </a>
                                    <br />
                                </div>
                            </div>
                            <div class="ul-widget3-body">
                                <p class="ul-widget3-text text-mute">
                                    Introducing groundbreaking CT scanners and services for decades, Siemens Healthineers is known as the innovation leader: Innovating to maximize clinical outcomes, and to contribute to patients’ well-being by minimizing radiation and contrast media dosage.
                                </p>
                            </div>
                        </div>

                        <div class="ul-widget3-item">
                            <div class="ul-widget3-header">

                                <div class="ul-widget3-info">
                                    <a href="#" class="__g-widget-username">
                                        <span class="t-font-bolder">Allengers Medical Systems Limited</span>
                                    </a>
                                    <br />
                                </div>
                            </div>
                            <div class="ul-widget3-body">
                                <p class="ul-widget3-text text-mute">
                                    Incepted in 1987, Allengers Medical Systems Ltd, headquartered at Chandigarh,
                                    India, is a leading x ray manufacturer and exporter of medical diagnostic...
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </b-card>
        </b-col>

        <!-- other models -->
        <otherModels :basicInfo="basicInfo" @selectedCheckBox="updateMessage" />

        <compairTable id="print-area" class="print-area" :basicInfo="basicInfo" :compairData="compairData" />

        <userRatingsCompo :basicInfo="basicInfo" />

        <!-- <variantCompo :basicInfo="basicInfo" /> -->

        <addOnOptions :basicInfo="basicInfo" />

    </b-row>
</div>
</template>

<script>
import selectedOption from '../../../components/options/equipment/selectedOption'

import getInfo from '../../../http/equipment/basicInfo'

// basiinformation
import basicInformation from '../../../components/card/equipmentCards/basicInfo'

// other models
import otherModels from '../../../components/card/equipmentCards/otherModels'
// related equipments
import relatedEquipment from '../../../components/card/equipmentCards/relatedEqupment'

// faqs
import faqs from '../../../components/card/equipmentCards/faqs'

// experts
import experts from '../../../components/card/equipmentCards/experts'

// consumable
import consumableSpares from '../../../components/card/equipmentCards/consumable'

// site Prep requirement
import sitePrepReq from '../../../components/card/equipmentCards/sitePrepReq'

// statutery req
import statuteryReq from '../../../components/card/equipmentCards/statuteryReq'

// prominentHospital
import prominentHospital from '../../../components/card/equipmentCards/prominentHospital'

// related Details
import technicalDetails from '../../../components/card/equipmentCards/technicalDetails'

// compair table
import compairTable from '../../../components/datatable/equipmentMaster/compairTable'

// cards
import costAndWarranty from '../../../components/card/equipmentCards/costAndWarranty'
import headerCard from '../../../components/card/equipmentCards/card_header'

// user ratings 
import userRatingsCompo from '../../../components/card/equipmentCards/userRatings'

// add varient 
import variantCompo from '../../../components/card/equipmentCards/addVarient'

// add on option
import addOnOptions from '../../../components/card/equipmentCards/addOnOption'
export default {
    components: {
        costAndWarranty,
        otherModels,
        faqs,
        relatedEquipment,
        technicalDetails,
        headerCard,
        basicInformation,
        experts,
        compairTable,
        consumableSpares,
        userRatingsCompo,
        sitePrepReq,
        statuteryReq,
        prominentHospital,
        variantCompo,
        addOnOptions,

        //option
        selectedOption
    },
    metaInfo: {
        // if no subcomponents specify a metaInfo.title, this title will be used
        title: "Equipment Deshboard"
    },
    data() {
        return {
            file: '',
            config: {
                rating: 4.7,
                style: {
                    fullStarColor: '#ed8a19',
                    emptyStarColor: '#737373',
                    starWidth: 5,
                    starHeight: 5
                }
            },
            otherModelsVal: [],
            basicInfo: null,
            file: null,
            // basicInfo: {},
            TechnicalDetails: null,
            compairData: [],
        }
    },
    mounted() {
        this.getEquipmentInfoById()
        this.$root.$on('getEquipmentInfoById', () => {
            this.getEquipmentInfoById()
        })
    },
    watch: {
        // '$route' (){
        //     this.breadcrumbList = this.$route.meta.breadcrumb
        // }
    },
    methods: {
        updateMessage(evt) {
            this.compairData = evt
        },
        async getEquipmentInfoById() {
            await getInfo.getEquipInfoById(this.$route.query._id)
                .then(res => {
                    if (res) {
                        this.basicInfo = res.data.result[0]
                    }
                })
            // this.$root.$emit('getOtherModels')
            this.$root.$emit('getFaqsForEqupment')
        },
        save() {
            this.createForm.map(key => {
                const peramiter = key.replace(/[\s\/]/g, '')
            })
        },
        goBack() {
            this.$router.back();
        }
    }
};
</script>
