<template>
<div class="main-content">
    <breadcumb :page="'Project Data'" :folder="'Widgets'" />

    <b-row class="">
        <b-col lg="3" md="6" sm="12">
            <b-card class="card-icon-bg card-icon-bg-primary o-hidden mb-30 text-center">
                <i class="i-Calendar"></i>
                <div class="ml-3">
                    <p class="text-muted mt-2 mb-0">Project Completion Date</p>
                    <p class="text-primary text-24 line-height-1 mb-2">10/10/2011</p>
                </div>
            </b-card>
        </b-col>
        <b-col lg="3" md="6" sm="12">
            <b-card class="card-icon-bg card-icon-bg-primary o-hidden mb-30 text-center">
                <i class="i-Monitor-5"></i>
                <div class="ml-3">
                    <p class="text-muted mt-2 mb-0">No Of Equipments</p>
                    <p class="text-primary text-24 line-height-1 mb-2">20</p>
                </div>
            </b-card>
        </b-col>
        <b-col lg="3" md="6" sm="12">
            <b-card class="card-icon-bg card-icon-bg-primary o-hidden mb-30 text-center">
                <i class="i-Checkout-Basket"></i>
                <div class="ml-3">
                    <p class="text-muted mt-2 mb-0">No Of Activities</p>
                    <p class="text-primary text-24 line-height-1 mb-2">80</p>
                </div>
            </b-card>
        </b-col>
        <b-col lg="3" md="6" sm="12">
            <b-card class="card-icon-bg card-icon-bg-primary o-hidden mb-30 text-center">
                <i class="i-File"></i>
                <div class="ml-3">
                    <p class="text-muted mt-2 mb-0">Completion</p>
                    <p class="text-primary text-24 line-height-1 mb-2">70%</p>
                </div>
            </b-card>
        </b-col>

        <!-- authors-profit -->
        <b-col lg="6" xl="6" class=" mb-30">
            <b-card>
                <div class="d-flex justify-content-between">
                    <h3 class="ul-widget__head-title">
                        Basic Info
                    </h3>
                    <b-button v-b-modal.modal-1 variant="outline-primary">Edit</b-button>
                    <b-modal id="modal-1" title="Project Master">
                        <b-form>
                            <b-container class="bv-example-row">
                                <b-row>
                                    <b-col>
                                        <b-form-group id="input-group-2" label="Project Title:" label-for="input-2">
                                            <b-form-input id="input-2" required placeholder="project title"></b-form-input>
                                        </b-form-group>
                                    </b-col>
                                </b-row>
                                <b-row>
                                    <b-col>
                                        <b-form-group id="input-group-3" label="Type:" label-for="input-3">
                                            <b-form-select></b-form-select>
                                        </b-form-group>
                                    </b-col>
                                </b-row>
                                <b-row>
                                    <b-col cols="8">
                                        <b-form-group id="input-group-3" label="Hospital:" label-for="input-3">
                                            <b-form-select></b-form-select>
                                        </b-form-group>
                                    </b-col>
                                    <b-col>
                                        <b-form-group id="input-group-2" label="Add New Hospital">
                                            <b-button variant="primary" class="btn-rounded d-none d-sm-block">Add</b-button>
                                        </b-form-group>
                                    </b-col>
                                </b-row>

                                <b-row>
                                    <b-col>
                                        <b-form-group id="input-group-1" label="Description:" label-for="input-1">
                                            <b-form-textarea id="textarea" placeholder="Enter something..." rows="3" max-rows="6"></b-form-textarea>
                                        </b-form-group>
                                    </b-col>
                                </b-row>
                            </b-container>
                        </b-form>
                    </b-modal>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6 col-6">
                        <div class=" mb-30">
                            <p class="text-primary mb-1"><i class="i-Calendar text-16 mr-1"></i> Project Title</p>
                            <span>HOSPITAL EQUIPMENT</span>
                        </div>
                        <div class=" mb-30">
                            <p class="text-primary mb-1"><i class="i-Edit-Map text-16 mr-1"></i> Project Type</p>
                            <span>Project Type</span>
                        </div>
                        <div class=" mb-30">
                            <p class="text-primary mb-1"><i class="i-Globe text-16 mr-1"></i> Hospital</p>
                            <span>AIIMS HOSPITAL</span>
                        </div>
                    </div>
                    <div class="col-md-6 col-6">
                        <div class=" mb-30">
                            <p class="text-primary mb-1"><i class="i-MaleFemale text-16 mr-1"></i> Description</p>
                            <span>Medical Equipments, Surgical Equipments & Surgical Instruments Manufacturer
                                offered by Universe Surgical Equipment Co from Chennai, Tamil Nadu, India</span>
                        </div>
                    </div>
                </div>
            </b-card>
        </b-col>

        <b-col lg="6" xl="6" class=" mb-30">
            <b-card>
                <div class="d-flex justify-content-between">
                    <h3 class="ul-widget__head-title">
                        Your Pending Tasks
                    </h3>
                    <b-button variant="outline-primary">Add</b-button>
                </div>

                <div class="ul-widget__body">
                    <div class="ul-widget3">
                        <div class="ul-widget3-item">
                            <div class="ul-widget3-header">

                                <div class="ul-widget3-info">
                                    <a href="#" class="__g-widget-username">
                                        <span class="t-font-bolder">Universe Surgical Equipment Co</span>
                                    </a>
                                    <br />
                                </div>
                            </div>
                            <div class="ul-widget3-body">
                                <p class="ul-widget3-text text-mute">
                                    Medical Equipments, Surgical Equipments & Surgical Instruments Manufacturer
                                    offered by Universe Surgical Equipment Co from Chennai, Tamil Nadu, India
                                </p>
                            </div>
                        </div>

                        <div class="ul-widget3-item">
                            <div class="ul-widget3-header">

                                <div class="ul-widget3-info">
                                    <a href="#" class="__g-widget-username">
                                        <span class="t-font-bolder">Allengers Medical Systems Limited</span>
                                    </a>
                                    <br />
                                </div>
                            </div>
                            <div class="ul-widget3-body">
                                <p class="ul-widget3-text text-mute">
                                    Incepted in 1987, Allengers Medical Systems Ltd, headquartered at Chandigarh,
                                    India, is a leading x ray manufacturer and exporter of medical diagnostic...
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </b-card>
        </b-col>

        <b-col class="mb-30">
            <b-card>
                <b-container fluid>
                    <!-- User Interface controls -->
                    <b-row class="d-flex justify-content-between">
                        <b-col lg="4" sm="4" md="6">
                            <b-form-group label="Filter" label-cols-sm="2" label-for="filterInput" class="mb-3">
                                <b-input-group>
                                    <b-form-input v-model="filter" type="search" id="filterInput" placeholder="Type to Search"></b-form-input>
                                    <b-input-group-append>
                                        <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
                                    </b-input-group-append>
                                </b-input-group>
                            </b-form-group>
                        </b-col>

                        <b-col sm="4" md="4" lg="2">
                            <div slot="table-actions" class="mb-3">
                                <b-button v-b-modal.modal-5 variant="outline-primary">Add Requirement</b-button>
                                <b-modal id="modal-5" title="Project Master">
                                    <b-form>
                                        <b-container class="bv-example-row">
                                            <selecteDepartment />
                                        </b-container>
                                    </b-form>
                                </b-modal>
                            </div>
                        </b-col>

                    </b-row>

                    <!-- Main table element -->
                    <b-table show-empty stacked="md" :items="items" :fields="fields" :current-page="currentPage" :per-page="perPage" :filter="filter">

                        <!-- <template v-slot:cell(img)="row">
                            <img :src="row.value" alt="" width="60">
                        </template> -->

                        <template v-slot:cell(progressbar)="row">
                            <div class="d-flex justify-content-center">
                                <b-progress :value="row.value.value" :max="row.value.max" show-progress animated style="width: 170px"></b-progress>
                            </div>
                        </template>

                        <template v-slot:cell(actions)="row">
                            <b-button size="sm" @click="row.toggleDetails">
                                {{ row.detailsShowing ? 'Hide' : 'Show' }} Details
                            </b-button>
                        </template>

                        <template v-slot:row-details="row">
                            <!-- <b-card class="card   mb-30" header-bg-variant="transparent "> -->

                            <b-tabs active-nav-item-class="nav nav-tabs" content-class="mt-3" active>
                                <b-tab title="Timeline">
                                    <b-row>
                                        <b-col style="height: 300px; overflow: auto;">
                                            <div class="ul-widget-s6__items ul-widget-card__position">
                                                <div class="ul-widget-card__item">
                                                    <span class="ul-widget-s6__badge ul-widget-card__dot">
                                                        <p class="badge-dot-primary ul-widget6__dot ul-widget-card__dot-xl">
                                                            <i class="i-Add text-white"></i>
                                                        </p>
                                                    </span>
                                                    <div class="ul-widget-card__info-v2">
                                                        <span class="t-font-boldest">Need Assessment</span>
                                                        <span class="t-font-bold">Financial feasibility is done by codex team</span>
                                                        <small class="text-mute">3 Days Ago</small>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="ul-widget-s6__items ul-widget-card__position">
                                                <div class="ul-widget-card__item">
                                                    <span class="ul-widget-s6__badge ul-widget-card__dot">
                                                        <p class="badge-dot-success ul-widget6__dot ul-widget-card__dot-xl">
                                                            <i class="i-Like-2 text-white"></i>
                                                        </p>
                                                    </span>
                                                    <div class="ul-widget-card__info-v2">
                                                        <span class="t-font-boldest">Need Assessment</span>
                                                        <span class="t-font-bold">Requirement reviewed by codex team.</span>
                                                        <small class="text-mute">3 Days Ago</small>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="ul-widget-s6__items ul-widget-card__position">
                                                <div class="ul-widget-card__item">
                                                    <span class="ul-widget-s6__badge ul-widget-card__dot">
                                                        <p class="badge-dot-danger ul-widget6__dot ul-widget-card__dot-xl">
                                                            <i class="i-Delete-File text-white"></i>
                                                        </p>
                                                    </span>
                                                    <div class="ul-widget-card__info-v2">
                                                        <span class="t-font-boldest">Requirement</span>
                                                        <span class="t-font-bold">Indent Created</span>
                                                        <small class="text-mute">3 Days Ago</small>
                                                    </div>
                                                </div>

                                            </div>
                                        </b-col>
                                    </b-row>
                                </b-tab>
                                <b-tab title="Requirements">
                                    <!-- <p class=""> -->
                                        <div class="d-flex justify-content-between">
                                            <b-row>
                                                <b-col sm="4" md="4" lg="4">
                                                    <div class="ml-4 mt-4">
                                                        <b-form>
                                                            <b-form-group label="Add Requirements:" label-for="input-1">
                                                                <b-form-textarea type="email" required placeholder="Type here..."></b-form-textarea>
                                                            </b-form-group>
                                                            <b-button variant="outline-primary">Add</b-button>
                                                        </b-form>
                                                    </div>
                                                </b-col>
                                                <b-col sm="8" md="8" lg="8" class="h-100" style="overflow: scroll">
                                                    <div class="ul-widget__body">
                                                        <div class="ul-widget-s7">
                                                            <div class="ul-widget-s7__items">
                                                                <span class="ul-widget-s7__item-time">10:00</span>
                                                                <div class="ul-widget-s7__item-circle">
                                                                    <p class="badge-dot-warning ul-widget7__big-dot"></p>
                                                                </div>
                                                                <div class="ul-widget-s7__item-text">
                                                                    Lorem ipsum dolor sit amit,consectetur eiusmdd tempor
                                                                    incididunt ut labore et dolore magna
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="ul-widget-s7">
                                                            <div class="ul-widget-s7__items">
                                                                <span class="ul-widget-s7__item-time">16:00 </span>
                                                                <div class="ul-widget-s7__item-circle">
                                                                    <p class="badge-dot-primary ul-widget7__big-dot"></p>
                                                                </div>
                                                                <div class="ul-widget-s7__item-text">
                                                                    Lorem ipsum dolor sit amit,consectetur eiusmdd tempor<br />
                                                                    incididunt ut labore et dolore magna elit enim at minim<br />
                                                                    veniam quis nostrud
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="ul-widget-s7">
                                                            <div class="ul-widget-s7__items">
                                                                <span class="ul-widget-s7__item-time">13:00</span>
                                                                <div class="ul-widget-s7__item-circle">
                                                                    <p class="badge-dot-primary ul-widget7__big-dot"></p>
                                                                </div>
                                                                <div class="ul-widget-s7__item-text">
                                                                    Lorem ipsum dolor sit amit,consectetur eiusmdd tempor
                                                                    <br />
                                                                    incididunt ut labore et dolore magna
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="ul-widget-s7">
                                                            <div class="ul-widget-s7__items">
                                                                <span class="ul-widget-s7__item-time">08:00</span>
                                                                <div class="ul-widget-s7__item-circle">
                                                                    <p class="badge-dot-primary ul-widget7__big-dot"></p>
                                                                </div>
                                                                <div class="ul-widget-s7__item-text">
                                                                    Lorem ipsum dolor sit amit,consectetur eiusmdd tempor
                                                                    <br />
                                                                    incididunt ut labore et dolore magna
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </b-col>
                                            </b-row>
                                        </div>
                                    <!-- </p> -->
                                </b-tab>
                                <b-tab title="Need Assessment">
                                    <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                </b-tab>
                                <b-tab title="Quote">
                                    <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                </b-tab>
                                <b-tab title="Demonstration">
                                    <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                </b-tab>
                                <b-tab title="RFP">
                                    <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                </b-tab>
                                <b-tab title="Purchase Request">
                                    <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                </b-tab>
                                <b-tab title="Implementation">
                                    <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                </b-tab>
                            </b-tabs>
                            <!-- </b-card> -->
                        </template>
                    </b-table>

                    <b-row class="d-flex justify-content-between">
                        <b-col sm="3" md="3" class="my-1">
                            <b-form-group label="Per page" label-cols-sm="6" label-cols-md="4" label-cols-lg="3" label-align-sm="right" label-size="sm" label-for="perPageSelect" class="mb-0">
                                <b-form-select v-model="perPage" id="perPageSelect" :options="pageOptions"></b-form-select>
                            </b-form-group>
                        </b-col>
                        <b-col sm="5" md="4" lg="4">
                            <b-pagination v-model="currentPage" :total-rows="totalRows" :per-page="perPage" align="fill" class="my-0"></b-pagination>
                        </b-col>
                    </b-row>
                </b-container>
            </b-card>
        </b-col>
    </b-row>
</div>
</template>

<script>
import selecteDepartment from '../../../components/common/input/equipment_selecteion'
export default {
    components: {
        selecteDepartment
    },
    metaInfo: {
        // if no subcomponents specify a metaInfo.title, this title will be used
        title: "Equipment Deshboard"
    },
    data() {
        return {
            file: null,
            selected: [],
            items: [{
                    id: 1,
                    // img: 'https://docplayer.net/docs-images/58/42637674/images/1-0.png',
                    span: "16 Slice CT Scan unit",
                    department: "Radiology",
                    createdAt: "2011-10-28",
                    endDate: "2011-11-28",
                    progressbar: {
                        value: 5,
                        max: 100
                    }
                },
                {
                    id: 1,
                    // img: 'https://cdn.shopclues.com/images1/thumbnails/95218/320/320/142755036-95218241-1544167496.jpg',
                    span: "Wireless Bluetooth V4.0 ",
                    department: "opthelm",
                    createdAt: "2011-10-28",
                    endDate: "2011-11-28",
                    progressbar: {
                        value: 45,
                        max: 100
                    }
                },
            ],
            fields: [
                // {
                //     label: " ",
                //     key: "img",
                //     width: "100px",
                //     tdClass: "gull-border-none text-left"
                // },
                {
                    key: 'span',
                    label: 'Equipment',
                    sortable: true,
                    class: 'text-center'
                },
                {
                    key: 'department',
                    label: 'Department',
                    sortable: true,
                    class: 'text-center'
                },
                {
                    key: 'createdAt',
                    label: 'Start Date',
                    sortable: true,
                    class: 'text-center'
                },
                {
                    key: 'endDate',
                    label: 'End Date',
                    sortable: true,
                    class: 'text-center'
                },
                {
                    key: 'progressbar',
                    label: 'Progress',
                    sortable: true,
                    class: 'text-center'
                },
                {
                    key: 'actions',
                    label: 'Action'
                }
            ],
            // pagination
            totalRows: 1,
            currentPage: 1,
            perPage: 5,
            pageOptions: [5, 10, 15],
            filter: null,
        }
    },
    created() {},
    methods: {
        getForm(e) {
            this.$refs['my-modal'].show()
        }
    }
};
</script>
