<template>
<div class="side-content-wrap" @mouseenter="isMenuOver = true" @mouseleave="isMenuOver = false" @touchstart="isMenuOver = true">
    <vue-perfect-scrollbar :settings="{ suppressScrollX: true, wheelPropagation: false }" :class="{ open: getCompactSideBarToggleProperties.isSideNavOpen }" ref="myData" class="sidebar-left rtl-ps-none ps">
        <ul class="navigation-left">
            <div>
                <h1 class="logo">C</h1>
            </div>
            <li @mouseenter="toggleSubMenu" :class="{ active: selectedParentMenu == 'dashboards' }" class="nav-item" data-item="dashboards">
                <a class="nav-item-hold" href="#">
                    <i class="nav-icon i-Bar-Chart"></i>
                    <span class="nav-text">Dashboards</span>
                </a>

                <div class="triangle"></div>
            </li>
            <li @mouseenter="toggleSubMenu" class="nav-item" :class="{ active: selectedParentMenu == 'apps' }" data-item="apps">
                <a class="nav-item-hold" href="#">
                    <i class="nav-icon i-Computer-Secure"></i>
                    <span class="nav-text">Apps</span>
                </a>
                <div class="triangle"></div>
            </li>

        </ul>
    </vue-perfect-scrollbar>

    <vue-perfect-scrollbar :class="{ open: getCompactSideBarToggleProperties.isSideNavOpen }" :settings="{ suppressScrollX: true, wheelPropagation: false }" class="sidebar-left-secondary ps rtl-ps-none">
        <div ref="sidebarChild">
            <i class="sidebar-close i-Close" @click="compactSideBarToggle"></i>
            <header>
                <div>
                    <h1 class="side-logo">Codex</h1>
                </div>
            </header>

            <!-- submenu-dashboards -->
            <div class="submenu-area" data-parent="dashboards" :class="{ 'd-block': selectedParentMenu == 'dashboards' }">
                <header>
                    <h6>Dashboards</h6>
                    <p>Lorem ipsum dolor sit.</p>
                </header>
                <ul class="childNav" data-parent="dashboards">
                    <li class="nav-item">
                        <router-link tag="a" class to="/app/dashboards/dashboard.v1">
                            <i class="nav-icon i-Clock-3"></i>
                            <span class="item-name">Version 1</span>
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link tag="a" class to="/app/dashboards/dashboard.v2">
                            <i class="nav-icon i-Clock-4"></i>
                            <span class="item-name">Version 2</span>
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link tag="a" class to="/app/dashboards/dashboard.v3">
                            <i class="nav-icon i-Over-Time"></i>
                            <span class="item-name">Version 3</span>
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link tag="a" class to="/app/dashboards/dashboard.v4">
                            <i class="nav-icon i-Clock"></i>
                            <span class="item-name">Version 4</span>
                        </router-link>
                    </li>
                </ul>
            </div>

            <div class="submenu-area" data-parent="apps" :class="{ 'd-block': selectedParentMenu == 'apps' }">
                <header>
                    <h6>Apps</h6>
                    <p>Lorem ipsum dolor sit.</p>
                </header>
                <ul class="childNav" data-parent="apps">
                    <!-- contact app -->
                    <li @click.prevent="toggleSidebarDropdwon($event)" class="nav-item dropdown-sidemenu">
                        <a href="#">
                            <i class="nav-icon i-File-CSV"></i>
                            <span class="item-name">Contacts</span>
                            <i class="dd-arrow i-Arrow-Down"></i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <router-link tag="a" class to="/app/apps/contact-list">
                                    <i class="nav-icon i-File-CSV"></i>
                                    <span class="item-name">Contact Lists</span>
                                </router-link>
                            </li>
                            <li>
                                <router-link tag="a" class to="/app/apps/contact-search">
                                    <i class="nav-icon i-File-CSV"></i>
                                    <span class="item-name">Contact Search</span>
                                </router-link>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <router-link tag="a" class to="/app/apps/departmentMaster">
                            <i class="nav-icon i-Add-File"></i>
                            <span class="item-name">Department Master</span>
                        </router-link>
                    </li>

                     <li class="nav-item">
                        <router-link tag="a" class to="/app/apps/consumable">
                            <i class="nav-icon i-Add-File"></i>
                            <span class="item-name">Consumable Master</span>
                        </router-link>
                    </li>

                    <li class="nav-item">
                        <router-link tag="a" class to="/app/apps/hospitalMaster">
                            <i class="nav-icon i-Add-File"></i>
                            <span class="item-name">Hospital Master</span>
                        </router-link>
                    </li>

                    <li class="nav-item">
                        <router-link tag="a" class to="/app/apps/equipmentMaster">
                            <i class="nav-icon i-Add-File"></i>
                            <span class="item-name">Equipment Master</span>
                        </router-link>
                    </li>

                    <li class="nav-item">
                        <router-link tag="a" class to="/app/apps/projects">
                            <i class="nav-icon i-Add-File"></i>
                            <span class="item-name">Projects</span>
                        </router-link>
                    </li>

                    <li class="nav-item">
                        <router-link tag="a" class to="/app/apps/faq-list">
                            <i class="nav-icon i-Add-File"></i>
                            <span class="item-name">FAQs</span>
                        </router-link>
                    </li>

                    <li class="nav-item">
                        <router-link tag="a" class to="/app/apps/calendar">
                            <i class="nav-icon i-Calendar-3"></i>
                            <span class="item-name">Calendar</span>
                        </router-link>
                    </li>
                </ul>
            </div>
            <!-- end of apps -->
        </div>
    </vue-perfect-scrollbar>
    <div @click="removeOverlay()" class="sidebar-overlay" :class="{ open: getCompactSideBarToggleProperties.isSideNavOpen && windowWidth <= 1200}"></div>
</div>
</template>

<script>
import {
    mapGetters,
    mapActions
} from "vuex";
import {
    isMobile
} from "mobile-device-detect";
export default {
    data() {
        return {
            isMenuOver: false,
            selectedParentMenu: "",
            isMobile,
            windowWidth: window.innerWidth,
        };
    },
    mounted() {
        this.toggleSelectedParentMenu();
        window.addEventListener("resize", this.handleWindowResize);
        document.addEventListener("click", this.returnSelectedParentMenu);
        this.handleWindowResize();
    },

    beforeDestroy() {
        document.removeEventListener("click", this.returnSelectedParentMenu);
        window.removeEventListener("resize", this.handleWindowResize);
    },
    computed: {
        ...mapGetters(["getCompactSideBarToggleProperties"])
    },

    methods: {
        ...mapActions(["changeCompactSidebarProperties"]),

        removeOverlay() {
            this.changeCompactSidebarProperties();
            // if (window.innerWidth<=1200) {
            //   this.changeSidebarProperties();
            // }
            this.toggleSelectedParentMenu();
        },

        compactSideBarToggle(el) {
            // console.log("test");
            if (this.getCompactSideBarToggleProperties.isSideNavOpen) {
                this.changeCompactSidebarProperties();
            }
        },

        handleWindowResize() {
            this.windowWidth = window.innerWidth;
            if (window.innerWidth <= 1200) {
                if (this.getCompactSideBarToggleProperties.isSideNavOpen) {
                    this.changeCompactSidebarProperties();
                }
            } else {
                if (!this.getCompactSideBarToggleProperties.isSideNavOpen) {
                    this.changeCompactSidebarProperties();
                }
            }
        },
        toggleSelectedParentMenu() {
            const currentParentUrl = this.$route.path
                .split("/")
                .filter(x => x !== "")[1];

            if (currentParentUrl !== undefined || currentParentUrl !== null) {
                this.selectedParentMenu = currentParentUrl.toLowerCase();
            } else {
                this.selectedParentMenu = "dashboards";
            }
        },
        toggleSubMenu(e) {
            let childrens = this.$refs.sidebarChild.children;
            let parent = e.target.dataset.item;

            this.selectedParentMenu = parent;
        },
        returnSelectedParentMenu() {
            if (!this.isMenuOver) {
                this.toggleSelectedParentMenu();
            }
        },

        toggleSidebarDropdwon(event) {
            let dropdownMenus = this.$el.querySelectorAll(".dropdown-sidemenu.open");

            event.currentTarget.classList.toggle("open");

            dropdownMenus.forEach(dropdown => {
                dropdown.classList.remove("open");
            });
        }
    }
};
</script>

<style>
.logo {
    font-size: 35px;
    color: antiquewhite;
}
.side-logo{
    display: flex;
    justify-content: center;
    color: #653398;
    font-weight: 700;
    font-size: 25px;
}
</style>
