<template>
<div class="auth-layout-wrap" :style="{ backgroundImage: 'url(' + bgImage + ')' }">
    <div class="auth-content">
        <div class="card o-hidden">
            <div class="row">
                <div class="col-md-6">
                    <div class="p-4">
                        <div class="auth-logo text-center mb-30">
                            <h1 class="logo">Codex</h1>
                        </div>
                        <h1 class="mb-3 text-18"></h1>
                        <button :disabled="status" @click="acceptInvitation" class="btn btn-primary btn-block btn-rounded mt-3">
                            Accept Invitation
                        </button>
                        <button :disabled="status" class="btn btn-primary btn-block btn-rounded mt-3">
                            Switch Account
                        </button>
                    </div>
                </div>
                <div class="col-md-6 text-center " style="background-size: cover" :style="{ backgroundImage: 'url(' + formImage + ')' }">
                    <div class="pr-3 auth-right">
                        <p>
                           <b class="text-18"> {{fMessage}}</b>
                        </p>
                        <p>
                            {{SMessage}}
                        </p>
                        <p>
                            {{TMessage}} 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import statusInvitation from '../../../http/invitations/invitation_status'
export default {
    metaInfo: {
        // if no subcomponents specify a metaInfo.title, this title will be used
        title: "Invitations"
    },
    data() {
        return {
            status: false,
            fMessage: '',
            SMessage: '',
            TMessage: '',
            bgImage: require("@/assets/images/photo-wide-4.jpg"),
            logo: require("@/assets/images/logo.png"),
            formImage: require("@/assets/images/photo-long-3.jpg")
        };
    },
    created(){
        this.checkInvitationStatus()
    },
    methods:{
        // toaster
        makeToast(variant = null, msg) {
            this.$bvToast.toast(msg, {
                title: ` ${variant || "default"}`,
                variant: variant,
                solid: true
            });
        },
        async checkInvitationStatus(){
            await statusInvitation.statusInvitation(this.$route.query.user_id)
            .then(res=>{
                if (res.data.status == 'error') {
                    this.fMessage = res.data.result
                    this.SMessage = res.data.message
                    this.status = true
                }else{
                    this.fMessage = res.data.result
                    this.SMessage = res.data.message
                    this.status = false
                }
            }).catch(err=>{
                this.makeToast("success", err.data.message);
            })
        },
        async acceptInvitation(){
            this.status = true
            await statusInvitation.updateStatus(this.$route.query.user_id)
            .then(res=>{
                this.status = false
                if (res.data.status == 'error') {
                    this.fMessage = res.data.result
                    this.SMessage = res.data.message
                    this.status = true
                }else{
                    localStorage.setItem("userId", JSON.stringify(this.$route.query.user_id));
                    this.$router.push(`/app/sessions/signUp?user_id=${this.$route.query.user_id}`);
                }
            })
            .catch(err=>{
                this.makeToast("success", err.data.message);
            })
        }
    }
};
</script>
