<template>
<div class="auth-layout-wrap" :style="{ backgroundImage: 'url(' + bgImage + ')' }">
    <div class="auth-content">
        <div class="card o-hidden">
            <div class="row">
                <div class="col-md-6">
                    <div class="p-4">
                        <div class="auth-logo text-center mb-30">
                            <h1 class="logo">Codex</h1>
                        </div>
                        <h1 class="mb-3 text-18">Sign In</h1>
                        <b-form @submit.prevent="formSubmit">
                            <b-form-group label="Email Address" class="text-12">
                                <b-form-input class="form-control-rounded" type="text" v-model="email" email required></b-form-input>
                            </b-form-group>

                            <b-form-group label="Password" class="text-12">
                                <b-form-input class="form-control-rounded" type="password" v-model="password"></b-form-input>
                            </b-form-group>
                            <b-button type="submit" tag="button" class="btn-rounded btn-block mt-2" variant="primary mt-2" :disabled="loading">
                                SignIn
                            </b-button>
                            <div v-once class="typo__p" v-if="loading">
                                <div class="spinner sm spinner-primary mt-3"></div>
                            </div>

                        </b-form>

                        <div class="mt-3 text-center">
                            <router-link to="forgot" tag="a" class="text-muted">
                                <u>Forgot Password?</u>
                            </router-link>
                        </div>
                    </div>
                </div>

                <b-col md="6" class="text-center" style="backgroundSize: cover;" :style="{ backgroundImage: 'url(' + signInImage + ')' }">
                    <div class="pr-3 auth-right">
                        <googleAuth />
                        <a class="btn btn-rounded btn-outline-primary btn-block btn-icon-text btn-outline-facebook">
                            <i class="i-Facebook-2"></i> Sign in with Facebook
                        </a>
                    </div>
                </b-col>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import {
    mapGetters,
    mapActions
} from "vuex";
import googleAuth from '../../../auth/google-auth'
export default {
    components:{
        googleAuth
    },
    metaInfo: {
        // if no subcomponents specify a metaInfo.title, this title will be used
        title: "SignIn"
    },
    data() {
        return {
            email: "desusa77777@gmail.com",
            password: "aslam123456",
            // // password: "vue006",
            userId: "",
            bgImage: require("@/assets/images/photo-wide-4.jpg"),
            signInImage: require("@/assets/images/photo-long-3.jpg")
        };
    },
    computed: {
        validation() {
            return this.userId.length > 4 && this.userId.length < 13;
        },
        ...mapGetters(["loggedInUser", "loading", "error"])
    },

    methods: {
        ...mapActions(["login"]),
        formSubmit() {
            this.login({
                email: this.email,
                password: this.password
            })
        },
        makeToast(variant = null, msg) {
            this.$bvToast.toast(msg, {
                title: ` ${variant || "default"}`,
                variant: variant,
                solid: true
            });
        }
    },
    watch: {
        loggedInUser(val) {
            if (val.uid.data.status == 'success') {
                this.makeToast("success", val.uid.data.message);

                setTimeout(() => {
                    this.$router.push("/");
                }, 500);
            } else {
                this.makeToast("warning", val.uid.data.message);
            }
        },
        error(val) {
            if (val != null) {
                this.makeToast("warning", val.message);
            }
        }
    }
};
</script>
