<template>
<div>
    <b-button variant="primary" class="btn-rounded d-none d-sm-block" @click="openMl('Save')"><i class="i-Add text-white mr-2"> </i>Add Hospital
    </b-button>

    <b-modal id="modal-1" v-model="show" title="Hospital Master" :hide-footer="hideFooter">
        <b-form @submit="onSubmit" v-if="show">
            <b-container>
                <b-row>
                    <b-col>
                        <b-form-group label="Name:" label-for="input-1">
                            <b-form-input id="input-1" v-model="editedData.name" required placeholder="name"></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>

                <b-row>
                    <b-col>
                        <b-form-group label="Address: Optional" label-for="input-2">
                            <b-form-input id="input-2" v-model="editedData.address" placeholder="address"></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>

                <b-row>
                    <b-col>
                        <b-form-group label="State: Optional" label-for="input-3">
                            <b-form-input id="input-3" v-model="editedData.state" placeholder="state"></b-form-input>
                        </b-form-group>
                    </b-col>
                    <b-col>
                        <b-form-group label="City:" label-for="input-4">
                            <b-form-input id="input-4" v-model="editedData.city" required placeholder="city"></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>

                <b-row>
                    <b-col>
                        <b-form-group label="Pin-Code:" label-for="input-5">
                            <b-form-input id="input-5" type="number" v-model="editedData.pinCode" required placeholder="contact point"></b-form-input>
                        </b-form-group>
                    </b-col>
                    <b-col>
                        <b-form-group label="Speciality: Optional" label-for="input-6">
                            <b-form-select id="input-6" v-model="editedData.speciality" :options="specialitys"></b-form-select>
                        </b-form-group>
                    </b-col>
                </b-row>

                <b-row>
                    <b-col>
                        <b-form-group label="category: Optional" label-for="input-7">
                            <b-form-select id="input-7" v-model="editedData.category" :options="categorys"></b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col>
                        <b-form-group label="No of total beds:" label-for="input-8">
                            <b-form-input id="input-8" type="number" v-model="editedData.totalNumberofBeds" required placeholder="total beds"></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>

                <b-row>
                    <b-col>
                        <b-form-group label="Number of ICU beds:" label-for="input-9">
                            <b-form-input id="input-9" type="number" v-model="editedData.noOfICUBeds" required placeholder="number of ICU beds"></b-form-input>
                        </b-form-group>
                    </b-col>
                    <b-col>
                        <b-form-group label="No Of Operation Theatre:" label-for="input-10">
                            <b-form-input id="input-10" type="number" v-model="editedData.noOfOperationTheatre" required placeholder="No Of Operation Theatre"></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>

                <b-row>
                    <b-col>
                        <b-form-group label="Hospital Status: Optional" label-for="input-11">
                            <b-form-select id="input-11" v-model="editedData.hospitalStatus" :options="hospitalStatus"></b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col>
                        <b-form-group label="Type Of Hospital: Optional" label-for="input-12">
                            <b-form-select id="input-12" v-model="editedData.typeOfHospital" :options="typeOfHospital"></b-form-select>
                        </b-form-group>
                    </b-col>
                </b-row>

                <b-row>
                    <b-col>
                        <b-form-group label="Departments: Optional" label-for="input-13">
                            <vue-tags-input v-model="autocompleteTag" :tags="editedData.departments" class="tag-custom text-15" :autocomplete-items="filteredItems" @tags-changed="newTags => (editedData.departments = newTags)" placeholder="+add" />
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col class="mt-3">
                        <b-form-group label="Prominent Hospital" label-for="input-14">
                            <b-form-checkbox id="checkbox-1" v-model="editedData.status" name="checkbox-1">
                                Is Prominent Hospital
                                <span v-if="editedData.status">Yes</span>
                                <span v-else>No</span>
                            </b-form-checkbox>
                        </b-form-group>
                    </b-col>
                </b-row>
            </b-container>
            <div class="d-flex justify-content-end mt-30 w-100" slot="modal-footer">
                <b-button class="ml-2" type="submit" variant="primary">{{Button}}</b-button>
                <b-button class="ml-2" type="reset" variant="danger" @click="show = false">Close</b-button>
            </div>
        </b-form>
    </b-modal>
</div>
</template>

<script>
import departmentName from '../../../http/department/departmentInfo'
import httpHospital from '../../../http/hospital/hospital_master'
export default {
    props: ['preVal'],
    data() {
        return {
            hideFooter: true,
            Button: 'Save',
            show: false,
            tag: "",
            tags: [],
            specialitys: ['Single', 'Multi Speciality', 'Super Speciality'],
            categorys: ['Primary', 'Secondary', 'Tertiary'],
            hospitalStatus: ['Working Hospital', 'Greenfield Project'],
            typeOfHospital: ['Sole Proprietorship', 'Partnership', 'Private Limited', 'Trust Hospital'],
            //   auto complete
            autocompleteTag: "",
            autocompleteTags: [{
                text: ""
            }],

            autocompleteItems: [],
            editedData: {
                // Hospital Info
                name: '',
                address: '',
                city: '',
                pinCode: '',
                state: '',
                speciality: '',
                category: '',
                totalNumberofBeds: '',
                noOfICUBeds: '',
                noOfOperationTheatre: '',
                hospitalStatus: '',
                departments: [],
                typeOfHospital: '',
                attachment: '',
                status: false
            },
            defaultData: {
                // Hospital Info
                name: '',
                address: '',
                city: '',
                pinCode: '',
                state: '',
                speciality: '',
                category: '',
                totalNumberofBeds: '',
                noOfICUBeds: '',
                noOfOperationTheatre: '',
                hospitalStatus: '',
                departments: [],
                typeOfHospital: '',
                attachment: '',
                status: false
            },
        }
    },
    computed: {
        filteredItems() {
            return this.autocompleteItems.filter(i => {
                return i.text.toLowerCase().indexOf(this.tag.toLowerCase()) !== -1;
            });
        }
    },
    watch: {
        preVal: {
            deep: true,
            handler(newVal, oldVal) {
                if (newVal) {
                    this.show = true
                    this.editedData = newVal
                    this.Button = 'Update'
                }
            },
        }
    },
    created() {
        this.getDepartments()
    },
    methods: {
        async onSubmit(evt) {
            if (this.Button == 'Save') {
                // console.log(this.editedData)
                await httpHospital.insertPost(this.editedData).then(res => {
                    if (res) {
                        this.show = false
                        this.$root.$emit('getHospitalData')
                        this.$swal({
                            position: "top-end",
                            type: "success",
                            title: "Your work has been saved",
                            showConfirmButton: false,
                            timer: 1500
                        });
                        this.editedData = this.defaultData
                    }
                }).catch(err => {
                    this.$swal({
                        type: "error",
                        title: "Oops...",
                        text: err.message,
                        footer: "<a href>Why do I have this issue?</a>"
                    });
                })
            } else {
                await httpHospital.updatePost(this.editedData, this.editedData._id).then(res => {
                    if (res) {
                        this.show = false
                        this.$root.$emit('getHospitalData')
                        this.$swal({
                            position: "top-end",
                            type: "success",
                            title: "Your work has been updated",
                            showConfirmButton: false,
                            timer: 1500
                        });
                        this.editedData = this.defaultData
                    }
                }).catch(err => {
                    this.$swal({
                        type: "error",
                        title: "Oops...",
                        text: err.message,
                        footer: "<a href>Why do I have this issue?</a>"
                    });
                })
            }
        },
        async getDepartments() {
            await departmentName.getDepartmentData().then(res => {
                    if (res) {
                        res.data.result.map(departName => {
                            this.autocompleteItems.push({
                                text: departName.department
                            })
                        })
                    } else {
                        this.$swal({
                            type: "error",
                            title: "Oops...",
                            text: 'Something Went Wrong',
                            footer: "<a href>Why do I have this issue?</a>"
                        });
                    }
                })
                .catch(error => {
                    this.$swal(error.message, "That thing is still around?", "question");
                })
        },
        openMl(value) {
            this.show = true
            this.Button = 'Save'
            this.resetVal()
            this.editedData = this.defaultData
        },
        resetVal() {
            // Hospital Info
            this.defaultData.name = ''
            this.defaultData.address = ''
            this.defaultData.city = ''
            this.defaultData.pinCode = ''
            this.defaultData.state = ''
            this.defaultData.speciality = ''
            this.defaultData.category = ''
            this.defaultData.totalNumberofBeds = ''
            this.defaultData.noOfICUBeds = ''
            this.defaultData.noOfOperationTheatre = ''
            this.defaultData.hospitalStatus = ''
            this.defaultData.departments = []
            this.defaultData.typeOfHospital = ''
            this.defaultData.attachment = ''
            this.defaultData.prominentHospital = Boolean
        }
    }
}
</script>
