<template>
<div class="main-content">
    <breadcumb :page="'Consumable Master'" :folder="'Apps'" />
    <!-- <div class="wrapper"> -->
    <b-card>
        <vue-good-table :columns="columns" :line-numbers="false" :search-options="{
          enabled: true,
          placeholder: 'Search this table'
        }" :pagination-options="{
          enabled: true, 
          mode: 'records'
        }" styleClass="tableOne vgt-table" :rows="rows">
            <div slot="table-actions" class="mb-3">
                <consumableForm :preVal="passData"/>
            </div>

            {{rows}}

            <template slot="table-row" slot-scope="props">
                <span v-if="props.column.field == 'name'">
                    {{props.row.name}}
                </span>
                <span v-if="props.column.field == 'cost'">
                    {{props.row.cost}}
                </span>
                <span v-if="props.column.field == 'description'">
                    {{props.row.description}}
                </span>
                <span v-if="props.column.field == 'tags'">
                    <span class="badge badge-pill badge-outline-primary p-2" v-for="(tags, index) in props.row.tags" :value="index" :key="index">{{tags.text}}</span>
                </span>
                <span v-if="props.column.field == 'button'">
                    <a href="#">
                        <!-- <i class="i-Eye text-25 text-info mr-2"></i> -->
                        {{ props.row.button }}</a>
                    <a @click="editData(props.row)">
                        <i class="i-Eraser-2 text-25 text-success mr-2"></i>
                        {{ props.row.button }}</a>
                    <a @click="confirmMessage(props.row._id, props.index)">
                        <i class="i-Close-Window text-25 text-danger"></i>
                        {{ props.row.button }}</a>
                </span>
            </template>
        </vue-good-table>
    </b-card>
</div>
</template>

<script>
import consumableForm from '../../../components/forms/consumable/consumable'
import httpConsumable from '../../../http/consumable/consumable'
import moment from 'moment'
export default {
    components: {
        consumableForm
    },
    metaInfo: {
        // if no subcomponents specify a metaInfo.title, this title will be used
        title: "Hospital Master"
    },
    data() {
        return {
            columns: [{
                    label: "Name",
                    field: "name"
                },
                {
                    label: "Cost",
                    field: "cost"
                },
                {
                    label: "Description",
                    field: "description"
                },
                {
                    label: "Tags",
                    field: "tags",
                    html: true
                },
                {
                    label: "Button",
                    field: "button",
                    html: true,
                    tdClass: "text-right",
                    thClass: "text-right"
                }
            ],
            rows: [],
            passData: null,
        };
    },
    created() {
        this.$root.$on('getConsumableData', () => {
            this.getConsumable()
        })
        this.getConsumable()
    },
    methods: {
        // confirm-message-alert
        async confirmMessage(_id, index) {
            this.$swal({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then(result => {
                if (result.value) {
                    httpConsumable.deleteConsumable(_id).then(res => {
                        this.$swal("Deleted!", res.data.message, "success");
                        this.rows.splice(index, 1)
                    }).catch(error => {
                        this.$swal("Error!", error.data.message);
                    })
                }
            });
        },
        async editData(data){
            this.passData = data
        },
        async getConsumable() {
            await httpConsumable.getConsumable().then(res => {
                if (res) {
                    if (res.data.status === 'success') {
                        this.rows = res.data.result
                        this.rows.map(data => {
                            data.createdAt = moment(data.createdAt, 'YYYY-MM-DD').format('DD/MM/YYYY')
                        })
                    }
                } else {
                    this.$swal({
                        type: "error",
                        title: "Oops...",
                        text: 'Something Went Wrong',
                        footer: "<a href>Why do I have this issue?</a>"
                    });
                }
            }).catch(err => {
                this.$swal({
                    type: "error",
                    title: "Oops...",
                    text: err.message,
                    footer: "<a href>Why do I have this issue?</a>"
                });
            })
        },
        addFile() {
            console.log("hello");
        }
    }
};
</script>

<style >
</style>
