<template>
<div class="main-content">
    <breadcumb :page="'Contact List'" :folder="'Apps'" />
    <!-- <div class="wrapper"> -->
    <b-card>
        <vue-good-table :columns="columns" :line-numbers="false" :search-options="{
          enabled: true,
          placeholder: 'Search this table'
        }" :pagination-options="{
          enabled: true,
          mode: 'records'
        }" styleClass="tableOne vgt-table" :rows="rows">
            <div slot="table-actions" class="mb-3">
                <contactForm :contact="data"/>
            </div>
            <template slot="table-row" slot-scope="props">
                <span v-if="props.column.field == 'button'">
                    <a @click="editContact(props.row)">
                        <i class="i-Eraser-2 text-25 text-success mr-2"></i>
                        {{ props.row.button }}</a>
                    <a @click="confirmMessage(props.row._id, props.index)">
                        <i class="i-Close-Window text-25 text-danger"></i>
                        {{ props.row.button }}</a>
                </span>
            </template>
        </vue-good-table>
    </b-card>
</div>
</template>

<script>
import moment from 'moment'
import contactForm from '../../../components/forms/contact/contact_form'
import httpContact from '../../../http/contacts/contacts'
export default {
    components: {
        contactForm
    },
    metaInfo: {
        // if no subcomponents specify a metaInfo.title, this title will be used
        title: "Contact List"
    },
    data() {
        return {
            data: null,
            contactType: ["Vendor", "Codex Team", "Manufacturer"],
            columns: [{
                    label: "Type",
                    field: "type"
                },
                {
                    label: "Name",
                    field: "name"
                },
                {
                    label: "Phone",
                    field: "phone"
                },
                {
                    label: "Designation",
                    field: "designation"
                },
                {
                    label: "Created Date",
                    field: "createdAt"
                },
                {
                    label: "Company",
                    field: "company"
                },
                {
                    label: "Button",
                    field: "button",
                    html: true,
                    tdClass: "text-right",
                    thClass: "text-right"
                }
            ],
            rows: [

            ]
        };
    },
    created() {
        this.$root.$on('fetchContacts', () => {
            this.fetchContacts()
        })
        this.fetchContacts()
    },
    methods: {
        editContact(data){
            this.data = data
        },
        // confirm-message-alert
        async confirmMessage(_id, index) {
            this.$swal({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then(result => {
                if (result.value) {
                    httpContact.deleteContacts(_id).then(res => {
                        this.$swal("Deleted!", res.data.message, "success");
                        this.rows.splice(index, 1)
                    }).catch(error => {
                        this.$swal("Error!", error.data.message);
                    })
                }
            });
        },
        async fetchContacts() {
            await httpContact.getContactData().then(res => {
                if (res) {
                    if (res.data.status === 'success') {
                        this.rows = res.data.result
                        this.rows.map(data => {
                            data.createdAt = moment(data.createdAt, 'YYYY-MM-DD').format('DD/MM/YYYY')
                        })
                    } else {
                        this.$swal({
                        type: "error",
                        title: "Oops...",
                        text: 'Something Went Wrong',
                        footer: "<a href>Why do I have this issue?</a>"
                    });
                    }
                }else{
                    this.$swal({
                        type: "error",
                        title: "Oops...",
                        text: 'Something Went Wrong',
                        footer: "<a href>Why do I have this issue?</a>"
                    });
                }
            }).catch(err=>{
                this.$swal({
                        type: "error",
                        title: "Oops...",
                        text: err.message,
                        footer: "<a href>Why do I have this issue?</a>"
                    });
            })
        }
    }
};
</script>

<style >
</style>
