<template>
<div>
    <department></department>
    <facility></facility>
    <equipment></equipment>
</div>
</template>

<script>
import departmentCompo from '../../../components/department_equip/department'
import equipmentCompo from '../../../components/department_equip/equipment'
import facilityCompo from '../../../components/department_equip/facility'
export default {
    components: {
        'facility' :facilityCompo,
        'department': departmentCompo,
        'equipment': equipmentCompo
    },
    metaInfo: {
        // if no subcomponents specify a metaInfo.title, this title will be used
        title: "Department Details"
    },
};
</script>

<style >
</style>
