<template>
<div class="main-content">
    <breadcumb :page="'Equipment Master'" :folder="'Apps'" />
    <!-- <div class="wrapper"> -->
    <b-card>
        <b-row class="mb-4 mt-2">
            <b-col>
                <div class="search-bar d-flex">
                    <i class="search-icon text-muted i-Magnifi-Glass1"></i>
                    <input type="text" class="searchInput" placeholder="Search this table" v-model="searchTerm" />
                </div>
            </b-col>
            <b-col>
                <div slot="table-actions" class="mb-3 float-md-right">
                    <basicInfoForm :preVal="eData" :equipId="update_id" />
                </div>
            </b-col>
        </b-row>
        <vue-good-table :columns="columns" :line-numbers="false" :search-options="{
          externalQuery: searchTerm
        }" :pagination-options="{
          enabled: true,
          mode: 'records'
        }" styleClass="tableOne vgt-table" :rows="rows">
            <template slot="table-row" slot-scope="props">
                <span v-if="props.column.field == 'basicInfo.equipment'">
                    {{props.row.basicInfo.equipment}}
                </span>
                <span v-if="props.column.field == 'basicInfo.department'">
                    {{props.row.basicInfo.department}}
                </span>
                <span v-if="props.column.field == 'basicInfo.modelNo'">
                    {{props.row.basicInfo.modelNo}}
                </span>
                <span v-if="props.column.field == 'basicInfo.skuCode'">
                    {{props.row.basicInfo.skuCode}}
                </span>
                <span v-if="props.column.field == 'manufecture'">
                    {{props.row.basicInfo.manufecture}}
                </span>
                <span v-if="props.column.field == 'modelLaunchDate'">
                    {{props.row.basicInfo.modelLaunchDate}}
                </span>
                <span v-if="props.column.field == 'button'">
                    <i @click="getId(props.row._id)" class="i-Eye text-25 text-info cursor-pointer"></i>
                    <a @click="updateData(props.row)" style="cursor: pointer;">
                        <i class="i-Eraser-2 text-25 text-success mr-2"></i>
                        {{ props.row.button }}</a>
                    <a @click="confirmMessage(props.row._id, props.index)" style="cursor: pointer;">
                        <i class="i-Close-Window text-25 text-danger"></i>
                        {{ props.row.button }}</a>
                </span>
            </template>
        </vue-good-table>
    </b-card>
</div>
</template>

<script>
import basicInfoForm from '../../../components/forms/equipment/basicInfo'
import equipment from '../../../http/equipment/basicInfo'
import httpContact from '../../../http/contacts/contacts'
export default {
    components: {
        basicInfoForm
    },
    metaInfo: {
        // if no subcomponents specify a metaInfo.title, this title will be used
        title: "Equipment Master"
    },
    data() {
        return {
            update_id: '',
            eData: '',
            _id: '',
            searchTerm: this.$route.query.search_query,
            columns: [{
                    label: "Equipment",
                    field: "basicInfo.equipment",
                    html: true,
                },
                {
                    label: "Department",
                    field: "basicInfo.department"
                },
                {
                    label: "Model No",
                    field: "basicInfo.modelNo"
                },
                {
                    label: "SKU/Code",
                    field: "basicInfo.skuCode"
                },
                {
                    label: "Make",
                    field: "manufecture"
                },
                {
                    label: "Launch Date",
                    field: "modelLaunchDate"
                },
                {
                    label: "Button",
                    field: "button",
                    html: true,
                    tdClass: "text-right",
                    thClass: "text-right"
                }
            ],
            rows: [],
            firstName: 'Aslam',
            lastName: 'desusa'
        };
    },
    created() {
        this.getEquipmentInfo()
        this.$root.$on('getEquipmentInfo', () => {
            this.getEquipmentInfo()
        })
    },
    methods: {
        async getMenufecture() {
            if (this.rows.length) {
                this.rows.map(value => {
                    if (value.basicInfo.manufecture) {
                        httpContact.contactById(value.basicInfo.manufecture).then(res => {
                            if (res) {
                                const fullName = res.data.result.name
                                value.basicInfo.manufecture = fullName
                            }
                        })
                    }
                })
            }
        },
        async updateData(data) {
            this.eData = data.basicInfo
            this.update_id = data._id
            this.$root.$emit('updatedData')
        },
        // confirm-message-alert
        async confirmMessage(_id, index) {
            this.$swal({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then(result => {
                if (result.value) {
                    equipment.deleteBasicInfo(_id).then(res => {
                        this.$swal("Deleted!", res.data.message, "success");
                        this.rows.splice(index, 1)
                    }).catch(error => {
                        this.$swal("Error!", error.data.message);
                    })
                }
            });
        },
        getId(_id) {
            this.$router.push({
                path: `/app/dashboards/dashboard.v5?_id=${_id}`
            })
        },
        async getEquipmentInfo() {
            this.rows = []
            await equipment.getBasicInfo().then(res => {
                    this.rows = res.data.result
                    this.getMenufecture()
                })
                .catch(err => {
                    this.$swal({
                        type: "error",
                        title: "Oops...",
                        text: err.message,
                        footer: "<a href>Why do I have this issue?</a>"
                    });
                })
        }
    }
};
</script>

<style>
.search-icon {
    font-size: 20px;
    display: inline-block;
    width: 24px;
    display: flex;
    color: #ddd !important;
    align-items: center;
}
.searchInput::placeholder{
    color: #ddd;
}
.searchInput {
    height: 32px;
    line-height: 1;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    padding: 6px 12px;
    color: #606266;
    border-radius: 4px;
    box-sizing: border-box;
    background-image: none;
    background-color: #fff;
    border: 1px solid #dcdfe6;
    transition: border-color
}
</style>
