<template>
<div class="main-content">
    <breadcumb :page="'FAQs'" :folder="'Apps'" />

    <b-row>
        <b-col xl="6" lg="6" md="4" class="mb-30">
            <b-form-input placeholder="Search"></b-form-input>
        </b-col>

        <b-col xl="6" lg="6" md="3" class="mb-30 d-flex justify-content-end">
            <faqsComponent />
        </b-col>

        <b-col xl="6" lg="6" md="12" class="mb-30" v-for="(d, index) in faqs" :value="index" :key="index">
            <div class="text-center">
                <h5 class="card-title text-primary">{{d.Question}}?</h5>
                <a class="t-font-boldest text-primary ul-cursor--pointer" v-b-toggle="d._id">
                    <i class="i-Arrow-Down-2 t-font-boldest text-primary"></i>
                </a>
                <a style="cursor: pointer;" @click="confirmMessage(d._id, index)"><i class="i-Close-Window text-25 text-danger mr-2 ml-2"></i></a>
                <a style="cursor: pointer;"><i class="i-Eraser-2 text-25 text-success mr-4"></i></a>
            </div>

            <b-collapse :id="d._id" class="mt-3 text-center">
                {{d.Answer}}
            </b-collapse>
        </b-col>
    </b-row>

</div>
</template>

<script>
import httpFaqs from '../../../http/faqs/FAQs'
import faqsComponent from '../../../components/forms/faqs/faqs'
export default {
    components:{
        faqsComponent
    },
    data(){
        return{
            faqs: []
        }
    },
    created(){
        this.$root.$on('fetchFaqs', () => {
            this.fetchFAQs()
        })
        this.fetchFAQs()
    },
    methods:{
        // confirm-message-alert
        async confirmMessage(_id, index) {
            this.$swal({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then(result => {
                if (result.value) {
                    httpFaqs.deleteFaqs(_id).then(res => {
                        this.$swal("Deleted!", res.data.message, "success");
                        this.faqs.splice(index, 1)
                    }).catch(error => {
                        this.$swal("Error!", error.data.message);
                    })
                }
            });
        },
        async fetchFAQs() {
            await httpFaqs.listOfFaqs().then(res => {
                if (res) {
                    if (res.data.status == 'error') {
                        this.$swal({
                            type: "error",
                            title: "Oops...",
                            text: 'Something Went Wrong',
                            footer: "<a href>Why do I have this issue?</a>"
                        });
                    } else {
                        this.faqs = res.data.result
                    }
                } else {
                    this.$swal({
                        type: "error",
                        title: "Oops...",
                        text: 'Something Went Wrong',
                        footer: "<a href>Why do I have this issue?</a>"
                    });
                }
            }).catch(err => {
                this.$swal({
                    type: "error",
                    title: "Oops...",
                    text: err.message,
                    footer: "<a href>Why do I have this issue?</a>"
                });
            })
        }
    }
}
</script>
