<template>
<div class="main-content">
    <breadcumb :page="'Hospital Master'" :folder="'Apps'" />
    <!-- <div class="wrapper"> -->
    <b-card>
        <vue-good-table :columns="columns" :line-numbers="false" :search-options="{
          enabled: true,
          placeholder: 'Search this table'
        }" :pagination-options="{
          enabled: true, 
          mode: 'records'
        }" styleClass="tableOne vgt-table" :rows="rows">
            <div slot="table-actions" class="mb-3">
                <HospitalForm :preVal="passData" />
            </div>

            {{rows}}
            <template slot="table-row" slot-scope="props">
                <span v-if="props.column.field == 'name'">
                    {{props.row.name}}
                </span>
                <span v-if="props.column.field == 'status'">
                    <span class="text-success" v-if="props.row.status">Yes</span>
                    <span class="text-danger" v-else>No</span>
                </span>
                <span v-if="props.column.field == 'speciality'">
                    {{props.row.speciality}}
                </span>
                <span v-if="props.column.field == 'category'">
                    {{props.row.category}}
                </span>
                <span v-if="props.column.field == 'totalNumberofBeds'">
                    {{props.row.totalNumberofBeds}}
                </span>
                <span v-if="props.column.field == 'hospitalStatus'">
                    {{props.row.hospitalStatus}}
                </span>
                <span v-if="props.column.field == 'typeOfHospital'">
                    {{props.row.typeOfHospital}}
                </span>
                <span v-if="props.column.field == 'departments'">
                    <span class="badge badge-pill badge-outline-primary p-2" v-for="(department, index) in props.row.departments" :value="index" :key="index">{{department.text}}</span>
                </span>
                <span v-if="props.column.field == 'address'">
                    <b-button :id="props.row._id" variant="primary">Full Address</b-button>
                    <b-popover :target="props.row._id" triggers="hover focus">
                        <template slot="title">{{props.row.pinCode}}</template>
                        {{props.row.address}}
                        <span class="text-danger">{{props.row.city}}</span> {{props.row.state}}
                        <em>{{props.row.pinCode}}</em>
                    </b-popover>
                </span>
                <span v-if="props.column.field == 'button'">
                    <a :id="'hoverTitle'+props.row._id" class="cursor-pointer">
                        <i class="i-Upload1 text-25 text-success mr-2"></i>
                        {{ props.row.button }}</a>
                    <b-popover :target="'hoverTitle'+props.row._id">

                        <template slot="title">Upload File</template>

                        <span>Get File Link :-</span>
                        <span v-if="props.row.attachment">
                            <a :href="props.row.attachment" target="_blank" class="__g-widget-username">
                                <i class="i-File text-25 text-success mr-2"></i>
                            </a>
                        </span>
                        <span v-else class="text-danger">no file available</span>

                        <b-row>
                            <b-col class="mt-3">
                                <b-form-group label="Choose a file or drop it here..." label-for="input-14">
                                    <b-form-file v-model="file" name="file" :state="Boolean(file)" placeholder="Attachment" drop-placeholder="Drop file here..." @change="onFilePicked" :disabled="loading"></b-form-file>
                                </b-form-group>
                            </b-col>
                        </b-row>
                        One file Only <br>
                        <span class="text-danger">5 MB limit on each file</span><br>
                        <em>Allowed Types:</em>
                        <span class="text-danger">jpg, jpeg, png, gif, pdf</span>
                        <span class="text-success">Attachment of Address Proof</span>

                        <div v-if="loading">
                            <div class="spinner sm spinner-primary mt-3"></div>
                        </div>

                        <div v-else class="d-flex justify-content-end mt-30 w-100">
                            <b-button v-if="file" @click="uploadFile(props.row._id, props.index)" class="ml-2" type="submit" variant="primary">Upload</b-button>
                        </div>
                    </b-popover>
                    <a @click="editData(props.row)" class="cursor-pointer">
                        <i class="i-Eraser-2 text-25 text-success mr-2"></i>
                        {{ props.row.button }}</a>
                    <a @click="confirmMessage(props.row._id, props.index)" class="cursor-pointer">
                        <i class="i-Close-Window text-25 text-danger"></i>
                        {{ props.row.button }}</a>
                </span>
            </template>
        </vue-good-table>
    </b-card>
</div>
</template>

<script>
import HospitalForm from '../../../components/forms/hospital/hospital_form'
import httpHospital from '../../../http/hospital/hospital_master'
import moment from 'moment'
export default {
    components: {
        HospitalForm
    },
    metaInfo: {
        // if no subcomponents specify a metaInfo.title, this title will be used
        title: "Hospital Master"
    },
    data() {
        return {
            loading: false,
            columns: [{
                    label: "Name",
                    field: "name"
                },
                {
                    label: "Prominent",
                    field: "status"
                },
                {
                    label: "Speciality",
                    field: "speciality"
                },
                {
                    label: "Category",
                    field: "category",
                    html: true
                },
                {
                    label: "Total Beds",
                    field: "totalNumberofBeds"
                },
                {
                    label: "Hospital Status",
                    field: "hospitalStatus"
                },
                {
                    label: "Type Of Hospital",
                    field: "typeOfHospital"
                },
                {
                    label: "Full Address",
                    field: "address"
                },
                {
                    label: "Departments",
                    field: "departments"
                },
                {
                    label: "Button",
                    field: "button",
                    html: true,
                    tdClass: "text-right",
                    thClass: "text-right"
                }
            ],
            rows: [],
            passData: null,
            file: '',
            fileType: ['jpg', 'jpeg', 'png', 'gif', 'pdf']
        };
    },
    created() {
        this.$root.$on('getHospitalData', () => {
            this.getHospitalData()
        })
        this.getHospitalData()
    },
    methods: {
        onFilePicked(event) {
            this.file = event.target.files[0]
            if (this.file.name.lastIndexOf('.') <= 0) {
                return alert('Please add a vaild file!')
            }
        },
        // confirm-message-alert
        async confirmMessage(_id, index) {
            this.$swal({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then(result => {
                if (result.value) {
                    httpHospital.deleteHospital(_id).then(res => {
                        this.$swal("Deleted!", res.data.message, "success");
                        this.rows.splice(index, 1)
                    }).catch(error => {
                        this.$swal("Error!", error.data.message);
                    })
                }
            });
        },
        async editData(data) {
            this.passData = data
        },
        async getHospitalData() {
            await httpHospital.getHospitalDetails().then(res => {
                if (res) {
                    if (res.data.status === 'success') {
                        this.rows = res.data.result
                        this.rows.map(data => {
                            data.createdAt = moment(data.createdAt, 'YYYY-MM-DD').format('DD/MM/YYYY')
                        })
                    }
                } else {
                    this.$swal({
                        type: "error",
                        title: "Oops...",
                        text: 'Something Went Wrong',
                        footer: "<a href>Why do I have this issue?</a>"
                    });
                }
            }).catch(err => {
                this.$swal({
                    type: "error",
                    title: "Oops...",
                    text: err.message,
                    footer: "<a href>Why do I have this issue?</a>"
                });
            })
        },
        async uploadFile(_id, index) {
            this.loading = true
            const fileExtention = this.file.name.split('.')
            const lastName = fileExtention[fileExtention.length - 1]
            var UpdatedformData = new FormData()
            UpdatedformData.append('file', this.file)
            if (this.fileType.some(function (item) {
                    return (new RegExp('\\b' + item + '\\b')).test(lastName);
                })) {
                await httpHospital.uploadFileExt(UpdatedformData, _id, lastName, 'hospitalMaster').then(res => {
                    if (res) {
                        if (res.data.status == 'success') {
                            this.$swal({
                                position: "top-end",
                                type: "success",
                                title: "Your work has been saved",
                                showConfirmButton: false,
                                timer: 1500
                            });
                            this.file = ''
                            this.loading = false
                            this.rows[index].attachment = res.data.result

                        } else {
                            this.$swal({
                                type: "error",
                                title: "Oops...",
                                text: 'Something Went Wrong',
                                footer: "<a href>Why do I have this issue?</a>"
                            });
                            this.loading = false
                        }
                    }
                }).catch(err => {
                    this.$swal({
                        type: "error",
                        title: "Oops...",
                        text: err.message,
                        footer: "<a href>Why do I have this issue?</a>"
                    });
                    this.loading = false
                })
            } else {
                this.loading = false
                alert(
                    `This extension is not allowed, please upload your file with these extensions. ${this.fileType}`
                )
            }

        },
        addFile() {
            console.log("hello");
        }
    }
};
</script>

<style >
</style>
