<template>
<div class="main-content">
    <breadcumb :page="'Projects'" :folder="'Apps'" />
    <!-- <div class="wrapper"> -->
    <b-card>
        <vue-good-table :columns="columns" :line-numbers="false" :search-options="{
          enabled: true,
          placeholder: 'Search this table',
        }" :pagination-options="{
          enabled: true,
          mode: 'records'
        }" styleClass="tableOne vgt-table" :rows="rows">
            <div slot="table-actions" class="mb-3">
                <b-button variant="primary" class="btn-rounded d-none d-sm-block" v-b-modal.modal-1><i class="i-Add-User text-white mr-2"> </i>Add
                </b-button>

                <b-modal id="modal-1" title="Project Master">
                    <b-form>
                        <b-container class="bv-example-row">
                            <b-row>
                                <b-col>
                                    <b-form-group id="input-group-2" label="Project Title:" label-for="input-2">
                                        <b-form-input id="input-2" required placeholder="project title"></b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col>
                                    <b-form-group id="input-group-3" label="Type:" label-for="input-3">
                                        <b-form-select v-model="selected"></b-form-select>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col cols="8">
                                    <b-form-group id="input-group-3" label="Hospital:" label-for="input-3">
                                        <b-form-select v-model="selected"></b-form-select>
                                    </b-form-group>
                                </b-col>
                                <b-col>
                                    <b-form-group id="input-group-2" label="Add New Hospital">
                                        <b-button variant="primary" class="btn-rounded d-none d-sm-block" v-b-modal.modal-1>Add</b-button>
                                    </b-form-group>
                                </b-col>
                            </b-row>

                            <b-row>
                                <b-col>
                                    <b-form-group id="input-group-1" label="Description:" label-for="input-1">
                                        <b-form-textarea id="textarea" placeholder="Enter something..." rows="3" max-rows="6"></b-form-textarea>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                        </b-container>
                    </b-form>
                </b-modal>
            </div>

            <template slot="table-row" slot-scope="props">
                <span v-if="props.column.field == 'button'">
                    <router-link to="/app/dashboards/project-dashboard">
                        <i class="i-Eye text-25 text-info"></i>
                    </router-link>
                        <i class="i-Eraser-2 text-25 text-success mr-2"></i>
                        <i class="i-Close-Window text-25 text-danger"></i>
                </span>
            </template>
        </vue-good-table>
    </b-card>
</div>
</template>

<script>
export default {
    metaInfo: {
        // if no subcomponents specify a metaInfo.title, this title will be used
        title: "Projects"
    },
    data() {
        return {
            selected: null,
            columns: [{
                    label: "Name",
                    field: "name"
                },
                {
                    label: "Code",
                    field: "code"
                },
                {
                    label: "Description",
                    field: "description"
                },
                {
                    label: "Department",
                    field: "department",
                    html: true
                },

                {
                    label: "Manufacture",
                    field: "manufacture"
                },
                {
                    label: "Vendor",
                    field: "vendor"
                },
                {
                    label: "Button",
                    field: "button",
                    html: true,
                    tdClass: "text-right",
                    thClass: "text-right"
                }
            ],
            rows: [{
                    id: 1,
                    name: "John",
                    code: "8748378",
                    description: "Example Data",
                    department: 'OBGY',
                    manufacture: "April 25, 2019",
                    vendor: "35 ",
                },

            ]
        };
    },
    methods: {
        addFile() {
            console.log("hello");
        }
    }
};
</script>

<style >
</style>
