<template>
  <div>
    <router-view></router-view>

    <customizer></customizer>
  </div>
</template>


<script>
import { mapGetters } from "vuex";

export default {
  data() {
    return {};
  },
  computed: {
    ...mapGetters(["getThemeMode"]),
    themeName() {
      return this.getThemeMode.dark ? "dark-theme" : " ";
    },
    rtl() {
      return this.getThemeMode.rtl ? "rtl" : " ";
    }
  },
  metaInfo() {
    return {
      // if no subcomponents specify a metaInfo.title, this title will be used
      title: "Codex",
      // all titles will be injected into this template
      titleTemplate: "%s | Codex - Quality Healthcare Made Affordable & Accessible",
      bodyAttrs: {
        class: [this.themeName]
      },
      htmlAttrs: {
        dir: this.rtl
      }
    };
  }
};
</script>

<style>
.spinner.sm {
  height: 2em;
  width: 2em;
}
.logo{
  font-size: 40px;
    font-weight: 700;
    color: rebeccapurple;
    margin: 20px;
}
</style>

