<template>
<b-col lg="12" class="mb-30">
    <b-collapse id="collapse-f" class="mt-3 text-center" v-if="technicalDetails.length !== 0">
        <b-card class="ul-border__bottom">
            <div class="d-flex justify-content-between">
                <h3 class="ul-widget__head-title">
                    Compare with similar items
                </h3>
                <b-button @click="print" class="printBtn" variant="primary mr-3 mb-3">Print</b-button>
            </div>
            <br>

            <table style="width:100% font-family: arial, sans-serif; border-collapse: collapse; width: 100%;">
                <tr>
                    <th></th>
                    <td v-for="(data, index) in technicalDetails" :key="index" :value="index">{{data.basicInfo.equipment }} {{ data.basicInfo.modelNo}}</td>
                </tr>
                <tr v-for="(d, index) in headers" :key="index">
                    <th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">{{d}}</th>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;" v-for="(p, index) in technicalDetails" :key="index" :value="index">
                        <span v-for="(value, index) in p.technicalDetails" :key="index">
                            <span v-if="d === value.key">
                                {{value.value}}
                            </span>
                        </span>
                    </td>
                </tr>
            </table>
        </b-card>
    </b-collapse>

</b-col>
</template>

<script>
import httpTechnicalDetails from '../../../http/equipment/technicalDetails'
import getInfo from '../../../http/equipment/basicInfo'
export default {
    metaInfo: {
        // if no subcomponents specify a metaInfo.title, this title will be used
        title: "Compare with similar items"
    },
    props: ['basicInfo', 'compairData'],
    data() {
        return {
            headers: [],
            technicalDetails: [],
        }
    },
    watch: {
        compairData: {
            deep: true,
            handler(newVal, oldVal) {
                if (newVal) {
                    if (newVal.length === 0) {
                        alert('please select at least one')
                        this.technicalDetails = []
                    } else if (newVal.length >= 5) {
                        this.technicalDetails = []
                        alert(`can't select more then 4`)
                    } else {
                        this.technicalDetails = []
                        this.technicalDetails.push(this.basicInfo)
                        this.compairData.map(value => {
                            this.technicalDetails.push(value)
                        })
                    }
                }
            },
        },
        basicInfo: {
            deep: true,
            handler(newVal, oldVal) {
                if (newVal) {
                    this.getTechnicalDetails()
                }
            },
        }
    },
    methods: {

        print() {
            window.print();
        },
        async getTechnicalDetails() {
            this.headers = []
            await httpTechnicalDetails.getTechnicalDetails(this.basicInfo.basicInfo.equipment).then(res => {
                res.data.result.technicalFields.map(value => {
                    this.headers.push(value.text)
                })
            })
        },
    }
}
</script>
<style>
@media print {

  .printBtn{
      display: none;
  }
  html, body {
    height:100%; 
    margin: 0 !important; 
    padding: 0 !important;
    overflow: hidden;
  }

}
</style>