<template>
<div id="google-signin-btn" class="mb-2"></div>
</template>

<script>
import googleAuth from '../http/googleLogin/auth-google'
import {
    mapGetters,
    mapActions
} from "vuex";
export default {
    methods: {
        makeToast(variant = null, msg) {
            this.$bvToast.toast(msg, {
                title: ` ${variant || "default"}`,
                variant: variant,
                solid: true
            });
        },
        ...mapActions([
            "signOut"
        ]),
        async onSignIn(user) {
            // do stuff, for example
            const profile = user.getBasicProfile()
            // console.log(profile.Eea)
            const loginUser = {
                loginBy: 'google login',
                loginKey: profile.Eea,
                profile: profile
            }
            const data = {
                email: profile.U3
            }
            await googleAuth.checkUser(data).then(res => {
                console.log(res)
                if (res.data.status == 'error') {
                    this.signOut()
                    this.makeToast("warning", res.data.message);
                }else{
                    localStorage.setItem("userInfo", JSON.stringify(loginUser));
                    this.$router.push("/");
                }
            }).catch(error=>{
                console.log(error)
                this.makeToast("error", error);
            })
        }
    },
    mounted() {
        gapi.signin2.render('google-signin-btn', { // this is the button "id"
            onsuccess: this.onSignIn // note, no "()" here
        })
    }
}
</script>

<style>
#google-signin-btn {
    display: flex;
    justify-content: center;
    border: 1px solid #e92c15 !important;
    border-radius: 50px;
    width: 100%;
    z-index: 10000px;
    /* color: #fff !important; */
}

.abcRioButton {
    border: none !important;
    width: 100% !important;
    border-radius: 50px !important;
    /* background: #ff000000; */
    background-color: #ff000000 !important
}
</style>
